@mixin hook-accordion(){}
@mixin hook-accordion-title(){}
@mixin hook-accordion-content(){}
@mixin hook-accordion-misc(){}
@mixin hook-datepicker-nav(){}
@mixin hook-datepicker-nav-item(){}
@mixin hook-datepicker-table-item(){}
@mixin hook-datepicker-table-item-hover(){}
@mixin hook-datepicker-table-item-onclick(){}
@mixin hook-datepicker-table-item-active(){}
@mixin hook-datepicker-misc(){}
@mixin hook-nav-autocomplete(){}
@mixin hook-nav-autocomplete-active(){}
@mixin hook-nav-autocomplete-header(){}
@mixin hook-nav-autocomplete-divider(){}
@mixin hook-autocomplete-misc(){}
@mixin hook-dotnav-item(){}
@mixin hook-dotnav-item-hover(){}
@mixin hook-dotnav-item-onclick(){}
@mixin hook-dotnav-item-active(){}
@mixin hook-dotnav-contrast-item(){}
@mixin hook-dotnav-contrast-item-hover(){}
@mixin hook-dotnav-contrast-item-onclick(){}
@mixin hook-dotnav-contrast-item-active(){}
@mixin hook-dotnav-misc(){}
@mixin hook-form-advanced(){}
@mixin hook-form-advanced-checked(){}
@mixin hook-form-advanced-radio(){}
@mixin hook-form-advanced-checkbox(){}
@mixin hook-form-advanced-disabled(){}
@mixin hook-form-advanced-misc(){}
@mixin hook-form-file-misc(){}
@mixin hook-form-password-misc(){}
@mixin hook-form-select-misc(){}
@mixin hook-htmleditor(){}
@mixin hook-htmleditor-navbar(){}
@mixin hook-htmleditor-navbar-nav(){}
@mixin hook-htmleditor-navbar-nav-hover(){}
@mixin hook-htmleditor-navbar-nav-onclick(){}
@mixin hook-htmleditor-navbar-nav-active(){}
@mixin hook-htmleditor-content(){}
@mixin hook-htmleditor-misc(){}
@mixin hook-nestable(){}
@mixin hook-nestable-item(){}
@mixin hook-nestable-dragged(){}
@mixin hook-nestable-placeholder(){}
@mixin hook-nestable-empty(){}
@mixin hook-nestable-handle(){}
@mixin hook-nestable-toggle(){}
@mixin hook-nestable-panel(){}
@mixin hook-nestable-misc(){}
@mixin hook-notify(){}
@mixin hook-notify-message(){}
@mixin hook-notify-message-primary(){}
@mixin hook-notify-message-success(){}
@mixin hook-notify-message-warning(){}
@mixin hook-notify-message-danger(){}
@mixin hook-notify-misc(){}
@mixin hook-placeholder(){}
@mixin hook-placeholder-large(){}
@mixin hook-placeholder-misc(){}
@mixin hook-progress(){}
@mixin hook-progress-bar(){}
@mixin hook-progress-mini(){}
@mixin hook-progress-small(){}
@mixin hook-progress-bar-success(){}
@mixin hook-progress-bar-warning(){}
@mixin hook-progress-bar-danger(){}
@mixin hook-progress-misc(){}
@mixin hook-search(){}
@mixin hook-search-icon(){}
@mixin hook-search-field(){}
@mixin hook-search-field-focus(){}
@mixin hook-dropdown-search(){}
@mixin hook-nav-search(){}
@mixin hook-nav-search-active(){}
@mixin hook-nav-search-header(){}
@mixin hook-nav-search-divider(){}
@mixin hook-offcanvas-search-field(){}
@mixin hook-search-misc(){}
@mixin hook-slidenav(){}
@mixin hook-slidenav-hover(){}
@mixin hook-slidenav-active(){}
@mixin hook-slidenav-contrast(){}
@mixin hook-slidenav-contrast-hover(){}
@mixin hook-slidenav-contrast-active(){}
@mixin hook-slidenav-misc(){}
@mixin hook-slider-misc(){}
@mixin hook-slideshow-misc(){}
@mixin hook-sortable(){}
@mixin hook-sortable-dragged(){}
@mixin hook-sortable-placeholder(){}
@mixin hook-sortable-empty(){}
@mixin hook-sortable-misc(){}
@mixin hook-sticky-misc(){}
@mixin hook-tooltip(){}
@mixin hook-tooltip-misc(){}
@mixin hook-upload-misc(){}
@mixin hook-alert(){}
@mixin hook-alert-success(){}
@mixin hook-alert-warning(){}
@mixin hook-alert-danger(){}
@mixin hook-alert-misc(){}
@mixin hook-animation-misc(){}
@mixin hook-article-title(){}
@mixin hook-article-meta(){}
@mixin hook-article-lead(){}
@mixin hook-article-divider(){}
@mixin hook-article-misc(){}
@mixin hook-badge(){}
@mixin hook-badge-success(){}
@mixin hook-badge-warning(){}
@mixin hook-badge-danger(){}
@mixin hook-badge-misc(){}
@mixin hook-base-body(){}
@mixin hook-base-code(){}
@mixin hook-base-h1(){}
@mixin hook-base-h2(){}
@mixin hook-base-h3(){}
@mixin hook-base-h4(){}
@mixin hook-base-h5(){}
@mixin hook-base-h6(){}
@mixin hook-base-pre(){}
@mixin hook-base-misc(){}
@mixin hook-block(){}
@mixin hook-block-default(){}
@mixin hook-block-muted(){}
@mixin hook-block-secondary(){}
@mixin hook-block-primary(){}
@mixin hook-block-misc(){}
@mixin hook-breadcrumb(){}
@mixin hook-breadcrumb-divider(){}
@mixin hook-breadcrumb-misc(){}
@mixin hook-button(){}
@mixin hook-button-hover(){}
@mixin hook-button-active(){}
@mixin hook-button-primary(){}
@mixin hook-button-primary-hover(){}
@mixin hook-button-primary-active(){}
@mixin hook-button-success(){}
@mixin hook-button-success-hover(){}
@mixin hook-button-success-active(){}
@mixin hook-button-danger(){}
@mixin hook-button-danger-hover(){}
@mixin hook-button-danger-active(){}
@mixin hook-button-disable(){}
@mixin hook-button-link(){}
@mixin hook-button-large(){}
@mixin hook-button-misc(){}
@mixin hook-comment(){}
@mixin hook-comment-header(){}
@mixin hook-comment-avatar(){}
@mixin hook-comment-title(){}
@mixin hook-comment-meta(){}
@mixin hook-comment-body(){}
@mixin hook-comment-primary(){}
@mixin hook-comment-misc(){}
@mixin hook-contrast-base-code(){}
@mixin hook-contrast-nav-side(){}
@mixin hook-contrast-nav-side-hover(){}
@mixin hook-contrast-nav-side-active(){}
@mixin hook-contrast-nav-side-header(){}
@mixin hook-contrast-nav-side-divider(){}
@mixin hook-contrast-subnav(){}
@mixin hook-contrast-subnav-hover(){}
@mixin hook-contrast-subnav-active(){}
@mixin hook-contrast-subnav-line-divider(){}
@mixin hook-contrast-subnav-pill-hover(){}
@mixin hook-contrast-subnav-pill-active(){}
@mixin hook-contrast-list-line(){}
@mixin hook-contrast-form(){}
@mixin hook-contrast-form-focus(){}
@mixin hook-contrast-button(){}
@mixin hook-contrast-button-hover(){}
@mixin hook-contrast-button-active(){}
@mixin hook-contrast-button-primary(){}
@mixin hook-contrast-button-primary-hover(){}
@mixin hook-contrast-button-primary-active(){}
@mixin hook-contrast-icon-hover(){}
@mixin hook-contrast-icon-hover-hover(){}
@mixin hook-contrast-icon-button(){}
@mixin hook-contrast-icon-button-hover(){}
@mixin hook-contrast-icon-button-active(){}
@mixin hook-contrast-misc(){}
@mixin hook-cover-misc(){}
@mixin hook-description-list-misc(){}
@mixin hook-dropdown(){}
@mixin hook-dropdown-navbar(){}
@mixin hook-dropdown-overlay(){}
@mixin hook-dropdown-misc(){}
@mixin hook-flex-misc(){}
@mixin hook-form(){}
@mixin hook-form-focus(){}
@mixin hook-form-disabled(){}
@mixin hook-form-legend(){}
@mixin hook-form-danger(){}
@mixin hook-form-success(){}
@mixin hook-form-blank(){}
@mixin hook-form-blank-focus(){}
@mixin hook-form-stacked-label(){}
@mixin hook-form-horizontal-label(){}
@mixin hook-form-misc(){}
@mixin hook-grid-misc(){}
@mixin hook-icon-hover(){}
@mixin hook-icon-hover-hover(){}
@mixin hook-icon-button(){}
@mixin hook-icon-button-hover(){}
@mixin hook-icon-button-active(){}
@mixin hook-icon-misc(){}
@mixin hook-list-line(){}
@mixin hook-list-striped(){}
@mixin hook-list-misc(){}
@mixin hook-modal(){}
@mixin hook-modal-dialog(){}
@mixin hook-modal-dialog-lightbox(){}
@mixin hook-modal-header(){}
@mixin hook-modal-footer(){}
@mixin hook-modal-caption(){}
@mixin hook-modal-spinner(){}
@mixin hook-modal-misc(){}
@mixin hook-nav-header(){}
@mixin hook-nav-divider(){}
@mixin hook-nav-sub(){}
@mixin hook-nav-parent-icon(){}
@mixin hook-nav-side(){}
@mixin hook-nav-side-hover(){}
@mixin hook-nav-side-active(){}
@mixin hook-nav-side-header(){}
@mixin hook-nav-side-divider(){}
@mixin hook-nav-dropdown(){}
@mixin hook-nav-dropdown-hover(){}
@mixin hook-nav-dropdown-header(){}
@mixin hook-nav-dropdown-divider(){}
@mixin hook-nav-navbar(){}
@mixin hook-nav-navbar-hover(){}
@mixin hook-nav-navbar-header(){}
@mixin hook-nav-navbar-divider(){}
@mixin hook-nav-offcanvas(){}
@mixin hook-nav-offcanvas-hover(){}
@mixin hook-nav-offcanvas-active(){}
@mixin hook-nav-offcanvas-header(){}
@mixin hook-nav-offcanvas-divider(){}
@mixin hook-nav-misc(){}
@mixin hook-navbar(){}
@mixin hook-navbar-nav(){}
@mixin hook-navbar-nav-hover(){}
@mixin hook-navbar-nav-onclick(){}
@mixin hook-navbar-nav-active(){}
@mixin hook-navbar-content(){}
@mixin hook-navbar-misc(){}
@mixin hook-offcanvas(){}
@mixin hook-offcanvas-bar(){}
@mixin hook-offcanvas-panel(){}
@mixin hook-offcanvas-misc(){}
@mixin hook-close(){}
@mixin hook-close-alt(){}
@mixin hook-close-misc(){}
@mixin hook-overlay-panel(){}
@mixin hook-overlay-background(){}
@mixin hook-overlay-image(){}
@mixin hook-overlay-icon(){}
@mixin hook-overlay-misc(){}
@mixin hook-overlay-area(){}
@mixin hook-overlay-area-icon(){}
@mixin hook-overlay-area-content(){}
@mixin hook-overlay-caption(){}
@mixin hook-pagination-item(){}
@mixin hook-pagination-link(){}
@mixin hook-pagination-link-hover(){}
@mixin hook-pagination-link-active(){}
@mixin hook-pagination-active(){}
@mixin hook-pagination-disabled(){}
@mixin hook-pagination-misc(){}
@mixin hook-panel-title(){}
@mixin hook-panel-badge(){}
@mixin hook-panel-box(){}
@mixin hook-panel-box-hover(){}
@mixin hook-panel-box-primary(){}
@mixin hook-panel-box-primary-hover(){}
@mixin hook-panel-box-secondary(){}
@mixin hook-panel-box-secondary-hover(){}
@mixin hook-panel-hover(){}
@mixin hook-panel-hover-hover(){}
@mixin hook-panel-header(){}
@mixin hook-panel-misc(){}
@mixin hook-print(){}
@mixin hook-subnav(){}
@mixin hook-subnav-hover(){}
@mixin hook-subnav-active(){}
@mixin hook-subnav-line-divider(){}
@mixin hook-subnav-pill(){}
@mixin hook-subnav-pill-hover(){}
@mixin hook-subnav-pill-active(){}
@mixin hook-subnav-disabled(){}
@mixin hook-subnav-misc(){}
@mixin hook-switcher-misc(){}
@mixin hook-tab(){}
@mixin hook-tab-hover(){}
@mixin hook-tab-active(){}
@mixin hook-tab-disabled(){}
@mixin hook-tab-misc(){}
@mixin hook-table(){}
@mixin hook-table-active(){}
@mixin hook-table-striped(){}
@mixin hook-table-condensed(){}
@mixin hook-table-hover(){}
@mixin hook-table-misc(){}
@mixin hook-text-misc(){}
@mixin hook-thumbnail(){}
@mixin hook-thumbnail-hover(){}
@mixin hook-thumbnail-caption(){}
@mixin hook-thumbnail-misc(){}
@mixin hook-thumbnav(){}
@mixin hook-thumbnav-misc(){}
@mixin hook-container(){}
@mixin hook-scrollable-box(){}
@mixin hook-utility-misc(){}