//
// Component:       Variables
// Description:     Defines common values which are used across all components
//
// ========================================================================

//
// Colors
//

@global-color:                                  #aaa;
@global-emphasis-color:                         #ddd;
@global-muted-color:                            #777;

//
// Backgrounds
//

@global-background:                             #080808;

@global-muted-background:                       #333;
@global-secondary-background:                   #181818;

//
// Borders
//

@global-border:                                 #d5d5d5;

//
// Box-Shadows
//

@global-small-box-shadow:                       0 2px 8px rgba(255,255,255,0.08);
@global-medium-box-shadow:                      0 5px 15px rgba(255,255,255,0.08);
@global-large-box-shadow:                       0 14px 25px rgba(255,255,255,0.16);
@global-xlarge-box-shadow:                      0 28px 50px rgba(255,255,255,0.16);