// Name:            Label
// Description:     Component to indicate important notes
//
// Component:       `uk-label`
//
// Modifiers:       `uk-label-success`
//                  `uk-label-warning`
//                  `uk-label-danger`
//
// ========================================================================


// Variables
// ========================================================================




/* ========================================================================
   Component: Label
 ========================================================================== */

.uk-label {
    display: inline-block;
    padding: $label-padding-vertical $label-padding-horizontal;
    background: $label-background;
    line-height: $label-line-height;
    font-size: $label-font-size;
    color: $label-color;
    vertical-align: middle;
    white-space: nowrap;
    @if(mixin-exists(hook-label)) {@include hook-label();}
}


/* Color modifiers
 ========================================================================== */

/*
 * Success
 */

.uk-label-success {
    background-color: $label-success-background;
    color: $label-success-color;
    @if(mixin-exists(hook-label-success)) {@include hook-label-success();}
}

/*
 * Warning
 */

.uk-label-warning {
    background-color: $label-warning-background;
    color: $label-warning-color;
    @if(mixin-exists(hook-label-warning)) {@include hook-label-warning();}
}

/*
 * Danger
 */

.uk-label-danger {
    background-color: $label-danger-background;
    color: $label-danger-color;
    @if(mixin-exists(hook-label-danger)) {@include hook-label-danger();}
}


// Hooks
// ========================================================================

@if(mixin-exists(hook-label-misc)) {@include hook-label-misc();}

// @mixin hook-label(){}
// @mixin hook-label-success(){}
// @mixin hook-label-warning(){}
// @mixin hook-label-danger(){}
// @mixin hook-label-misc(){}


// Inverse
// ========================================================================




// @mixin hook-inverse-label(){}
