//
// Component: Fonts
//
// ========================================================================

// Source Sans
@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-family: 'Source Sans';
    src: url('@{global-font-path}/SourceSansPro-BlackItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
