/* ========================================================================
   Addon: Markdownarea
 ========================================================================== */
//
// Description:		Defines styles for markdownareas
//
// Component:		`uk-markdownarea`
//
// Sub-objects:		`uk-markdownarea-navbar`
//					`uk-markdownarea-navbar-nav`
//					`uk-markdownarea-navbar-flip`
//					`uk-markdown-button-markdown
//					`uk-markdown-button-preview`
//					`uk-markdownarea-content`
//					`uk-markdownarea-code`
//					`uk-markdownarea-preview`
//
// Modifier:		`uk-markdownarea-fullscreen`
//					`[data-mode='tab']`
//					`[data-mode='split']`
//
// States:			`uk-active`
//
// ========================================================================

@import "../../../src/less/variables.less";


// Variables
// ========================================================================

@markdownarea-navbar-background:				@navbar-background;

@markdownarea-navbar-nav-height:				@navbar-nav-height;
@markdownarea-navbar-nav-padding-horizontal:	@navbar-nav-padding-horizontal;
@markdownarea-navbar-nav-line-height:			@navbar-nav-line-height;
@markdownarea-navbar-nav-color:					@navbar-nav-color;

@markdownarea-navbar-nav-hover-background:		@navbar-nav-hover-background;
@markdownarea-navbar-nav-hover-color:			@navbar-nav-hover-color;
@markdownarea-navbar-nav-onclick-background:	@navbar-nav-onclick-background;
@markdownarea-navbar-nav-onclick-color:			@navbar-nav-onclick-color;
@markdownarea-navbar-nav-active-background:		@navbar-nav-active-background;
@markdownarea-navbar-nav-active-color:			@navbar-nav-active-color;


// Component
// ========================================================================

.uk-markdownarea {}


/* Sub-object `uk-markdownarea-navbar`
 ========================================================================== */

.uk-markdownarea-navbar {
	background: @navbar-background;
}

/*
 * Micro clearfix
 */

.uk-markdownarea-navbar:before,
.uk-markdownarea-navbar:after {
	content: " ";
	display: table;
}

.uk-markdownarea-navbar:after { clear: both; }


/* Sub-object `uk-markdownarea-navbar-nav`
 ========================================================================== */

.uk-markdownarea-navbar-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.uk-markdownarea-navbar-nav > li { float: left; }

/*
 * 1. Dimensions
 * 2. Style
 */

.uk-markdownarea-navbar-nav > li > a {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	/* 1 */
	height: @markdownarea-navbar-nav-height;
	padding: 0 @markdownarea-navbar-nav-padding-horizontal;
	line-height: @markdownarea-navbar-nav-line-height;
	/* 2 */
	color: @markdownarea-navbar-nav-color;
	font-size: 11px;
	cursor: pointer;
}

/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */

.uk-markdownarea-navbar-nav > li:hover > a,
.uk-markdownarea-navbar-nav > li > a:focus { /* 1 */
	background-color: @markdownarea-navbar-nav-hover-background;
	color: @markdownarea-navbar-nav-hover-color;
	outline: none; /* 2 */
}

/* OnClick */
.uk-markdownarea-navbar-nav > li > a:active {
	background-color: @markdownarea-navbar-nav-onclick-background;
	color: @markdownarea-navbar-nav-onclick-color;
}

/* Active */
.uk-markdownarea-navbar-nav > li.uk-active > a {
	background-color: @markdownarea-navbar-nav-active-background;
	color: @markdownarea-navbar-nav-active-color;
}


/* Sub-object: `uk-markdownarea-navbar-flip`
 ========================================================================== */

 .uk-markdownarea-navbar-flip { float: right; }


/* Sub-object for special buttons
 ========================================================================== */

[data-mode='split'] .uk-markdown-button-markdown,
[data-mode='split'] .uk-markdown-button-preview { display: none; }


/* Sub-object `uk-markdownarea-content`
 ========================================================================== */

.uk-markdownarea-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

/*
 * Micro clearfix
 */

.uk-markdownarea-content:before,
.uk-markdownarea-content:after {
	content: " ";
	display: table;
}

.uk-markdownarea-content:after { clear: both; }


/* Modifier `uk-markdownarea-fullscreen`
 ========================================================================== */

.uk-markdownarea-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.uk-markdownarea-fullscreen .uk-markdownarea-content {
	position: absolute;
	top: @navbar-nav-height;
	left: 0;
	right: 0;
	bottom: 0;
}


/* Sub-objects `uk-markdownarea-code` and `uk-markdownarea-preview`
 ========================================================================== */

.uk-markdownarea-code,
.uk-markdownarea-preview {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uk-markdownarea-preview {
	padding: 20px;
	overflow-y: scroll;
}

/*
 * Tab view
 */

[data-mode='tab'][data-active-tab='code'] .uk-markdownarea-preview,
[data-mode='tab'][data-active-tab='preview'] .uk-markdownarea-code { display: none; }

/*
 * Split view
 */

[data-mode='split'] .uk-markdownarea-code,
[data-mode='split'] .uk-markdownarea-preview {
	float: left;
	width: 50%;
}

[data-mode='split'] .uk-markdownarea-code { border-right: 1px #ddd solid; }