<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Avatar - UIkit tests</title>

        <script src="../_test.js"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Avatar</h1>

            <div class="uk-grid">
                <div class="uk-width-1-3">

                    <h3>Image</h3>

                    <div class="uk-margin-bottom">
                        <div class="uk-avatar uk-avatar-large">
                            <img src="https://unsplash.it/72?image=1027" alt="avatar"/>
                        </div>
                    </div>

                    <div class="uk-margin-bottom">
                        <div class="uk-avatar">
                            <img src="https://unsplash.it/72?image=1027" alt="avatar"/>
                        </div>
                    </div>

                    <div class="uk-margin-bottom">
                        <div class="uk-avatar uk-avatar-small">
                            <img src="https://unsplash.it/72?image=1027" alt="avatar"/>
                        </div>
                    </div>

                </div>
                <div class="uk-width-1-3">

                    <h3>Initials</h3>

                    <div class="uk-margin-bottom">
                        <div class="uk-avatar uk-avatar-text uk-avatar-large">JC</div>
                    </div>

                    <div class="uk-margin-bottom">
                        <div class="uk-avatar uk-avatar-text">JC</div>
                    </div>

                    <div class="uk-margin-bottom">
                        <div class="uk-avatar uk-avatar-text uk-avatar-small">JC</div>
                    </div>

                </div>
                <div class="uk-width-1-3">

                    <h3>Icon</h3>

                    <div class="uk-margin-bottom">
                        <div class="uk-avatar uk-avatar-text uk-avatar-large">
							<span class="uk-icon-file-o"></span>
						</div>
                    </div>

                    <div class="uk-margin-bottom">
                        <div class="uk-avatar uk-avatar-text">
							<span class="uk-icon-file-o"></span>
						</div>
                    </div>

                    <div class="uk-margin-bottom">
                        <div class="uk-avatar uk-avatar-text uk-avatar-small">
							<span class="uk-icon-file-o"></span>
						</div>
                    </div>

                </div>
            </div>

        </div>

    </body>
</html>
