<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Caption - UIkit tests</title>

        <script src="../_test.js"></script>
        <script src="../../src/js/components/slideshow.js"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Captions</h1>

            <h2>Overlay</h2>

            <div class="uk-grid" data-uk-grid-margin>

                <div class="uk-width-medium-1-3">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/vine/auto" alt="">
                        <figcaption class="uk-caption uk-animation-fade">
                            <h3>Caption</h3>
                            <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
                            <button class="uk-button uk-button-primary">Button</button>
                        </figcaption>
                    </figure>
                </div>

                <div class="uk-width-medium-1-3">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/vine/auto" alt="">
                        <figcaption class="uk-caption uk-animation-fade uk-flex uk-flex-bottom">
                            <div>
                                <h3>Caption</h3>
                                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
                                <button class="uk-button uk-button-primary">Button</button>
                            </div>
                        </figcaption>
                    </figure>
                </div>

                <div class="uk-width-medium-1-3">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/vine/auto" alt="">
                        <figcaption class="uk-caption uk-animation-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                            <div>
                                <h3>Caption Center</h3>
                                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
                                <button class="uk-button uk-button-primary">Button</button>
                            </div>
                        </figcaption>
                    </figure>
                </div>

            </div>

            <h3>With Panel</h3>

            <div class="uk-grid" data-uk-grid-margin>

                <div class="uk-width-medium-1-3">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/vine/auto" alt="">
                        <figcaption class="uk-caption uk-caption-panel uk-animation-fade">
                            <h3>Caption</h3>
                            <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
                            <button class="uk-button uk-button-primary">Button</button>
                        </figcaption>
                    </figure>
                </div>

                <div class="uk-width-medium-1-3">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/vine/auto" alt="">
                        <figcaption class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-bottom">
                            <div>
                                <h3>Caption</h3>
                                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
                                <button class="uk-button uk-button-primary">Button</button>
                            </div>
                        </figcaption>
                    </figure>
                </div>

                <div class="uk-width-medium-1-3">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/vine/auto" alt="">
                        <figcaption class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                            <div>
                                <h3>Caption Center</h3>
                                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
                                <button class="uk-button uk-button-primary">Button</button>
                            </div>
                        </figcaption>
                    </figure>
                </div>

            </div>

            <h2>Positions</h2>

            <div class="uk-grid" data-uk-grid-margin>

                <div class="uk-width-medium-1-4">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/sky/auto" alt="">
                        <figcaption class="uk-caption uk-caption-top uk-animation-slide-top">
                            <h3>Caption Top</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="uk-width-medium-1-4">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/sky/auto" alt="">
                        <figcaption class="uk-caption uk-caption-bottom uk-animation-slide-bottom">
                            <h3>Caption Bottom</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="uk-width-medium-1-4">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/sky/auto" alt="">
                        <figcaption class="uk-caption uk-caption-left uk-animation-slide-left uk-width-1-2">
                            <h3>Caption Left</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="uk-width-medium-1-4">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/sky/auto" alt="">
                        <figcaption class="uk-caption uk-caption-right uk-animation-slide-right uk-width-1-2">
                            <h3>Caption Right</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </figcaption>
                    </figure>
                </div>

            </div>

            <h3>With Panel</h3>

            <div class="uk-grid" data-uk-grid-margin>

                <div class="uk-width-medium-1-4">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/sky/auto" alt="">
                        <figcaption class="uk-caption uk-caption-top uk-caption-panel uk-animation-slide-top">
                            <h3>Caption Top</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="uk-width-medium-1-4">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/sky/auto" alt="">
                        <figcaption class="uk-caption uk-caption-bottom uk-caption-panel uk-animation-slide-bottom">
                            <h3>Caption Bottom</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="uk-width-medium-1-4">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/sky/auto" alt="">
                        <figcaption class="uk-caption uk-caption-left uk-caption-panel uk-animation-slide-left uk-width-1-2">
                            <h3>Caption Left</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="uk-width-medium-1-4">
                    <figure class="uk-caption-toggle uk-animation-hover">
                        <img src="holder.js/600x400/sky/auto" alt="">
                        <figcaption class="uk-caption uk-caption-right uk-caption-panel uk-animation-slide-right uk-width-1-2">
                            <h3>Caption Right</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </figcaption>
                    </figure>
                </div>

            </div>

            <h2>Slideshow</h2>

            <div class="uk-margin" data-uk-slideshow>
                <div class="uk-slidenav-position">
                    <ul class="uk-slideshow">
                        <li>
                            <img src="http://unsplash.it/1000/500" alt="">
                            <div class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                                <div>
                                    <h3>Caption</h3>
                                    <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr,<br>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                                    <button class="uk-button uk-button-primary">Button</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="http://unsplash.it/1000/502" alt="">
                            <div class="uk-caption uk-caption-top uk-caption-panel uk-animation-slide-top">
                                <h3>Caption Top</h3>
                                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                                <button class="uk-button uk-button-primary">Button</button>
                            </div>
                        </li>
                        <li>
                            <img src="http://unsplash.it/1000/503" alt="">
                            <div class="uk-caption uk-caption-bottom uk-caption-panel uk-animation-slide-bottom">
                                <h3>Caption Bottom</h3>
                                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                                <button class="uk-button uk-button-primary">Button</button>
                            </div>
                        </li>
                        <li>
                            <img src="http://unsplash.it/1000/504" alt="">
                            <div class="uk-caption uk-caption-left uk-caption-panel uk-animation-slide-left uk-width-1-4">
                                <h3>Caption Left</h3>
                                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                                <button class="uk-button uk-button-primary">Button</button>
                            </div>
                        </li>
                        <li>
                            <img src="http://unsplash.it/1000/505" alt="">
                            <div class="uk-caption uk-caption-right uk-caption-panel uk-animation-slide-right uk-width-1-4">
                                <h3>Caption Right</h3>
                                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                                <button class="uk-button uk-button-primary">Button</button>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                    <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                </div>
            </div>

        </div>

    </body>
</html>