<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dotnav - UIkit tests</title>

        <script src="../_test.js"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Dotnav</h1>

            <h2>Horizontal</h2>

            <ul class="uk-dotnav">
                <li class="uk-active"><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
                <li><a href="#">Item 4</a></li>
                <li><a href="#">Item 5</a></li>
                <li><a href="#">Item 6</a></li>
            </ul>

            <h2>Vertical</h2>

            <ul class="uk-dotnav uk-flex-column">
                <li class="uk-active"><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
                <li><a href="#">Item 4</a></li>
                <li><a href="#">Item 5</a></li>
                <li><a href="#">Item 6</a></li>
            </ul>

            <h2>Slideshow</h2>

            <div class="uk-slidenav-position uk-width-medium-1-2">

                <img src="holder.js/800x600/sky/auto" alt="">

                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"></a>
                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next"></a>

                <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                    <li class="uk-active"><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                    <li><a href="#">Item 4</a></li>
                    <li><a href="#">Item 5</a></li>
                    <li><a href="#">Item 6</a></li>
                </ul>

            </div>

        </div>

    </body>
</html>