<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Form-select - UIkit tests</title>

        <script src="../_test.js"></script>
        <script src="../../src/js/components/form-select.js"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Form select</h1>

            <div class="uk-margin">

                <div class="uk-form-select" data-uk-form-select>
                    <span></span>
                    <select>
                        <option value="1">Option 01</option>
                        <option value="2">Option 02</option>
                        <option value="3">Option 03</option>
                        <option value="4">Option 04</option>
                    </select>
                </div>

            </div>

            <div class="uk-margin">

                <div class="uk-form-select" data-uk-form-select="{target:'a'}">
                    <a></a>
                    <select>
                        <option value="1">Option 01</option>
                        <option value="2">Option 02</option>
                        <option value="3">Option 03</option>
                        <option value="4">Option 04</option>
                    </select>
                </div>

            </div>

            <div class="uk-margin">

                <div class="uk-button uk-form-select" data-uk-form-select>
                    <span></span>
                    <i class="uk-icon-caret-down"></i>
                    <select>
                        <option value="">Please select...</option>
                        <option value="1">Option 01</option>
                        <option value="2">Option 02</option>
                        <option value="3">Option 03</option>
                        <option value="4">Option 04</option>
                    </select>
                </div>

            </div>

        </div>

    </body>
</html>
