<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Form-advanced - UIkit tests</title>

        <script src="../_test.js"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Form advanced</h1>

            <form class="uk-form uk-margin">

                <div class="uk-form-row">
                    <p class="uk-form-controls-condensed">
                        <input type="radio" id="form-s-r" name="radio1"> <label for="form-s-r">Radio input</label>
                    </p>
                    <p class="uk-form-controls-condensed">
                        <input type="radio" id="form-s-r1" name="radio2" checked> <label for="form-s-r1">1</label>
                        <label><input type="radio" name="radio2"> 2</label>
                        <label><input type="radio" name="radio2"> 3</label>
                    </p>
                    <p class="uk-form-controls-condensed">
                        <input type="radio" id="form-s-r2" name="radio3"> <label for="form-s-r2">1</label>
                        <label><input type="radio" name="radio3" disabled> 2</label>
                        <label><input type="radio" name="radio3" disabled checked> 3</label>
                    </p>
                </div>
                <div class="uk-form-row">
                    <p class="uk-form-controls-condensed">
                        <input type="checkbox" id="form-s-c"> <label for="form-s-c">Checkbox input</label>
                    </p>
                   <p class="uk-form-controls-condensed">
                        <input type="checkbox" id="form-s-c1" checked> <label for="form-s-c1">1</label>
                        <label><input type="checkbox"> 2</label>
                        <label><input type="checkbox"> 3</label>
                    </p>
                    <p class="uk-form-controls-condensed">
                        <input type="checkbox" id="form-s-c2"> <label for="form-s-c2">1</label>
                        <label><input type="checkbox" disabled> 2</label>
                        <label><input type="checkbox" disabled checked> 3</label>
                    </p>
                </div>

            </form>

        </div>

    </body>
</html>