<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Form-file - UIkit tests</title>

        <script src="../_test.js"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Form file</h1>

            <div class="uk-margin">

                <div class="uk-form-file">
                    <button class="uk-button">Select</button>
                    <input id="form-file" type="file">
                </div>

                <button class="uk-button">Another button</button>

            </div>

            <div class="uk-margin">
                Here is a text
                <div class="uk-form-file uk-text-primary">upload<input id="form-file" type="file"></div>.
            </div>

        </div>

    </body>
</html>