<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test - UIkit tests</title>

        <script src="../_test.js"></script>
        <script src="../../src/js/components/gridparallax.js"></script>

        <style>

            .uk-panel {
                height: 450px;
            }

            .uk-grid > div:nth-child(2n) > .uk-panel {
                background: #ecda53;
            }

        </style>

    </head>

    <body>

        <div class="uk-container uk-container-center">

            <div style="height:50vh;"></div>


            <div class="uk-grid uk-grid-match uk-grid-width-1-1 uk-grid-width-medium-1-3" data-uk-grid-margin data-uk-gridparallax>

                <div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                    <div class="uk-panel uk-panel-box"></div>
                </div>

            </div>


            <div class="uk-grid uk-grid-match uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-5" data-uk-grid-margin data-uk-gridparallax="diff:200">

                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>
                <div><div class="uk-panel uk-panel-box"></div></div>

            </div>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni earum, provident expedita nihil accusamus dolorum odio, laborum debitis atque ipsam cumque adipisci amet eius doloremque vel, modi delectus iusto nobis.
            </p>


        </div>

    </body>
</html>