<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pagination - UIkit tests</title>
        <script src="../_test.js"></script>
        <script src="../../src/js/components/pagination.js"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Pagination</h1>

            <ul class="uk-pagination" data-uk-pagination="{pages:100}"></ul>

        </div>

    </body>
</html>