<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Parallax - UIkit tests</title>
        <script src="../_test.js"></script>
        <script src="../../src/js/components/parallax.js"></script>

        <style media="screen">

            body {
                min-height: 400vh;
            }

            [data-uk-parallax] {
                overflow: hidden;
            }

            [class*="parallax"] {
                min-height: 400px;
            }

            .parallax-1 {
                background-image: url(https://ununsplash.imgix.net/photo-1423753623104-718aaace6772?q=75&fm=jpg&s=1ffa61419561b5c796bca3158e7c704c);
            }

        </style>

    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Parallax</h1>

            <div class="uk-margin parallax-1 uk-flex uk-flex-center uk-flex-middle" data-uk-parallax="{bg:-400}">
                <h1 data-uk-parallax="{_b:'.parallax-1', _v:0.5, y:200}">Nested parallax</h1>
            </div>

        </div>

    </body>
</html>
