<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Placeholder - UIkit tests</title>

        <script src="../_test.js"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Placeholder</h1>

            <div class="uk-placeholder uk-text-center">
                <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i> Attach binaries by dropping them here or selecting one
            </div>

            <div class="uk-placeholder uk-text-center">
                <i class="uk-icon-cloud-upload uk-icon-large uk-text-muted"></i>
            </div>

            <h2>Large</h2>

            <div class="uk-placeholder uk-placeholder-large uk-text-center">
                <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i> Attach binaries by dropping them here or selecting one
            </div>

            <div class="uk-placeholder uk-placeholder-large uk-text-center">
                <i class="uk-icon-cloud-upload uk-icon-large uk-text-muted"></i>
            </div>

        </div>

    </body>
</html>