<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Slidenav - UIkit tests</title>

        <script src="../_test.js"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Slidenav</h1>

            <p>
                <a href="#" class="uk-slidenav uk-slidenav-previous"></a>
                <a href="#" class="uk-slidenav uk-slidenav-next"></a>
            </p>

            <div class="uk-slidenav-position uk-width-medium-1-2">

                <img src="holder.js/800x600/sky/auto" alt="">

                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"></a>
                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next"></a>

            </div>

        </div>

    </body>
</html>