.mzr-avatar{
  border-radius: 25px;
  border: 0 solid #FFF;
  height: 44px;
  width: 44px;
}

.mzr-link-to-text, .mzr-link-to-text:hover, .mzr-link-to-text:visited, .mzr-link-to-text:active{
  color: @mzr-color-text;
  text-decoration: none;
}