.mzr-block{
  .mzr-shadow();
  background-color: #ffffff;
}

.mzr-block-header{

  font-size: 20px;
  padding: 10px;
  padding-bottom: 0px;

  //переопределяем свойства h1..h6
  margin: 0;
  line-height: 20px;
  //end

  &:after{
    display: block;
    margin-top: 10px;
    border-top: 1px solid @mzr-color-gray-border;
    content: '';
  }

}

.mzr-block-content{
  overflow-x: hidden;
  padding: 10px;
  /*
  Заголовок может быть вложен в content, нужно исправит левый и правый отступ
  */
  > .mzr-block-header{
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 5px;//увеличим нижний отступ
  }
}

.mzr-block-menu{
  @mzr-block-menu-height: 40px;
  font-size: 14px;
  padding-left: 10px;
  min-height: @mzr-block-menu-height;
  background-color: @mzr-color-gray-lite;
  border-top: 1px solid @mzr-color-gray-border;
  color: @mzr-color-gray-dark;

  .uk-flex();
  .uk-flex-middle();
  .uk-flex-wrap();

  >.mzr-block-menu-item{
    line-height: 40px;
    margin-right: 15px;
    cursor: pointer;
    &:hover{
      color: @mzr-color-gray-dark-hover;
    }

    >span{
      display: inline-block;
      vertical-align: middle;
    }
    [class*='uk-icon-']{
      font-size: 30px;
      display: inline-block;
      vertical-align: middle;
    }
    [class*='uk-icon-']+span{
      margin-left: 5px;
    }
  }
}

//todo проверить
.mzr-block + .mzr-block, .mzr-block + div,  div + .mzr-block {
  margin-top: 10px;
}
