//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Text colors
//

@global-color:                                  #666;

@global-link-color:                             #1D8ACB;
@global-link-hover-color:                       #0B5F90;

//
// Border and background colors
//

@global-border:                                 #E5E5E5;

//
// Margins and Paddings
//

@global-large-margin:                           35px;


// Component variables
// ========================================================================

//
// Base
//

@base-heading-color:                            #222;

//
// Article
//

@article-lead-color:                            #222;

//
// Nav
//

@nav-padding-vertical:                          3px;
@nav-padding-horizontal:                        15px;
@nav-divider-margin-vertical:                   7px;

//
// Text
//

@text-large-font-size:                          round(@global-font-size * 1.42); // 20px
@text-large-line-height:                        round(@text-large-font-size * 1.3); // 26px

//
// Icon
//

@icon-font-path:                                "../../dist/fonts";