//
// Component: Accordion
//
// ========================================================================


// Variables
// ========================================================================

//
// New
//

@accordion-item-padding-top:                   @global-margin;
@accordion-item-border-width:                  @global-border-width;
@accordion-item-border:                        @global-border;

@accordion-icon-color:                         @global-color;


// Component
// ========================================================================

.hook-accordion() {}


// Item
// ========================================================================

.hook-accordion-item() {
    padding-top: @accordion-item-padding-top;
    border-top: @accordion-item-border-width solid @accordion-item-border;
}


// Title
// ========================================================================

.hook-accordion-title() {

    overflow: hidden;

    &::after {
        content: "";
        width: (@accordion-title-line-height * 1em);
        height: (@accordion-title-line-height * 1em);
        float: right;
        .svg-fill("../../../images/accordion-close.svg", "#000", @accordion-icon-color);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .uk-open > &::after { .svg-fill("../../../images/accordion-open.svg", "#000", @accordion-icon-color); }

}


// Content
// ========================================================================

.hook-accordion-content() {}


// Miscellaneous
// ========================================================================

.hook-accordion-misc() {}

// Inverse
// ========================================================================

.hook-inverse-accordion-item() { border-top-color: @inverse-global-border; }

.hook-inverse-accordion-title() {}

.hook-inverse() {

    .uk-accordion-title::after { .svg-fill("../../../images/accordion-close.svg", "#000", @inverse-global-color); }

    .uk-open > .uk-accordion-title::after { .svg-fill("../../../images/accordion-open.svg", "#000", @inverse-global-color); }

}