//
// Component: Article
//
// ========================================================================


// Variables
// ========================================================================

//
// New
//

@article-meta-link-color:                       @article-meta-color;
@article-meta-link-hover-color:                 @global-color;

@article-meta-font-family:                      @global-font-secondary-font-family;
@article-meta-font-weight:                      @global-font-secondary-font-weight;
@article-meta-text-transform:                   @global-font-secondary-text-transform;
@article-meta-letter-spacing:                   @global-font-secondary-letter-spacing;


// Component
// ========================================================================

.hook-article() {}


// Adjacent sibling
// ========================================================================

.hook-article-adjacent() {}


// Title
// ========================================================================

.hook-article-title() {}


// Meta
// ========================================================================

.hook-article-meta() {

    font-family: @article-meta-font-family;
    font-weight: @article-meta-font-weight;
    text-transform: @article-meta-text-transform;
    letter-spacing: @article-meta-letter-spacing;

    a { color: @article-meta-link-color; }

    a:hover {
        color: @article-meta-link-hover-color;
        text-decoration: none;
    }

}


// Miscellaneous
// ========================================================================

.hook-article-misc() {}


// Dye
// ========================================================================

.dye-vars-default-theme() {}

.dye-hooks() {

    .hook-dye-article-meta() {}

}
