//
// Component: Button
//
// ========================================================================


// Variables
// ========================================================================

@button-line-height:                            (@global-control-height - 2);
@button-small-line-height:                      (@global-control-small-height - 2);
@button-large-line-height:                      (@global-control-large-height - 2);

@button-default-background:                     transparent;
@button-default-hover-background:               transparent;
@button-default-active-background:              transparent;

@button-disabled-background:                    transparent;


// Component
// ========================================================================

.hook-button() {
    border: 1px solid transparent;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color, background-color, border;
    transition-property: color, background-color, border;
}

.hook-button-hover() {}

.hook-button-focus() {}

.hook-button-active() {}


// Style modifiers
// ========================================================================

.hook-button-default() { border-color: @global-border; }

.hook-button-default-hover() {  border-color: darken(@global-border, 20%); }

.hook-button-default-active() { border-color: darken(@global-border, 30%); }

//
// Primary
//

.hook-button-primary() {}

.hook-button-primary-hover() {}

.hook-button-primary-active() {}

//
// Success
//

.hook-button-success() {}

.hook-button-success-hover() {}

.hook-button-success-active() {}

//
// Danger
//

.hook-button-danger() {}

.hook-button-danger-hover() {}

.hook-button-danger-active() {}


// Disabled
// ========================================================================

.hook-button-disabled() { border: 1px solid @global-border; }


// Text modifier
// ========================================================================

.hook-button-text() { text-decoration: underline; }

.hook-button-text-hover() { text-decoration: underline; }

.hook-button-text-disabled() { text-decoration: none; }


// Link modifier
// ========================================================================

.hook-button-link() {}


// Miscellaneous
// ========================================================================

.hook-button-misc() {

    /* Group
     ========================================================================== */

    /*
     * Collapse border
     */

    .uk-button-group > .uk-button-default:nth-child(n+2),
    .uk-button-group > div:nth-child(n+2) .uk-button-default { margin-left: -1px; }

    /*
     * Create position context to superimpose the successor elements border
     * Known issue: If you use an `a` element as button and an icon inside,
     * the active state will not work if you click the icon inside the button
     * Workaround: Just use a `button` or `input` element as button
     */

    .uk-button-group .uk-button-default:hover,
    .uk-button-group .uk-button-default:focus,
    .uk-button-group .uk-button-default:active,
    .uk-button-group .uk-button-default.uk-active {
        position: relative;
        z-index: 1;
    }

}


// Dye
// ========================================================================

.dye-vars-default-theme() {}

.dye-hooks() {

    .hook-dye-button-default() { border-color: fade(@dye-color, 60%); }
    .hook-dye-button-default-hover() { border-color: @dye-color; }
    .hook-dye-button-default-active() { border-color: @dye-color; }

    .hook-dye-button-primary() {}
    .hook-dye-button-primary-hover() {}
    .hook-dye-button-primary-active() {}

    .hook-dye-button-text() {}
    .hook-dye-button-text-hover() {}
    .hook-dye-button-text-disabled() {}

}