//
// Component: Card
//
// ========================================================================


// Variables
// ========================================================================


// Card
// ========================================================================

.hook-card() {
    box-shadow: 0 3px 10px rgba(0,0,0,0.15)
}


// Layout sub-objects
// ========================================================================

.hook-card-body() {}

.hook-card-header() {
    border-bottom: 1px solid @global-border;
}

.hook-card-footer() {
    border-top: 1px solid @global-border;
}


// Media sub-object
// ========================================================================

.hook-card-media() {}

.hook-card-media-top() {}

.hook-card-media-bottom() {}

.hook-card-media-left() {}

.hook-card-media-right() {}


// Title sub-object
// ========================================================================

.hook-card-title() {}


// Card
// ========================================================================

.hook-card-badge() {}


// Card
// ========================================================================

.hook-card-hover() { box-shadow: 0 4px 25px rgba(0,0,0,0.3) }


// Card
// ========================================================================

.hook-card-primary() {}

.hook-card-primary-hover() {}

.hook-card-secondary() {}

.hook-card-secondary-hover() {}


// Miscellaneous
// ========================================================================

.hook-card-misc() {}