//
// Component: Dropdown
//
// ========================================================================


// Variables
// ========================================================================

@dropdown-background:                           @global-background;

@dropdown-nav-item-color:                       @global-color;

@dropdown-nav-header-color:                     @global-muted-color;

//
// New
//

@dropdown-box-shadow:                           rgba(0,0,0,0.15);
@dropdown-box-shadow-blur:                      12px;

@dropdown-nav-item-padding-vertical:            6px;
@dropdown-nav-item-padding-horizontal:          25px;

@dropdown-nav-item-hover-background:            @global-muted-background;

@dropdown-nav-sublist-padding-left:             40px;

@dropdown-border-radius:                        @global-border-radius;

@dropdown-nav-font-size:                        @global-font-size;
@dropdown-nav-font-family:                      @global-font-secondary-font-family;
@dropdown-nav-font-weight:                      @global-font-secondary-font-weight;
@dropdown-nav-text-transform:                   @global-font-secondary-text-transform;
@dropdown-nav-letter-spacing:                   @global-font-secondary-letter-spacing;

@dropdown-nav-item-active-color:                @global-highlight-color;
@dropdown-nav-item-onclick-color:               @global-muted-color;


// Component
// ========================================================================

.hook-dropdown() {
    border-radius: @dropdown-border-radius;
    box-shadow: 0 5px @dropdown-box-shadow-blur @dropdown-box-shadow;
}


// Nav
// ========================================================================

.hook-dropdown-nav() {
    margin: 0 (-@dropdown-padding);
    font-size: @dropdown-nav-font-size;
    font-family: @dropdown-nav-font-family;
    font-weight: @dropdown-nav-font-weight;
    text-transform: @dropdown-nav-text-transform;
    letter-spacing: @dropdown-nav-letter-spacing;
}

.hook-dropdown-nav-item() { padding: @dropdown-nav-item-padding-vertical @dropdown-nav-item-padding-horizontal; }

.hook-dropdown-nav-item-hover() { background: @dropdown-nav-item-hover-background; }

.hook-dropdown-nav-header() { padding: @dropdown-nav-item-padding-vertical @dropdown-nav-item-padding-horizontal; }

.hook-dropdown-nav-divider() {}


// Miscellaneous
// ========================================================================

.hook-dropdown-misc() {

    .uk-dropdown-nav .uk-nav-sub { padding-left: @dropdown-nav-sublist-padding-left; }

    // Active
    .uk-dropdown-nav > li.uk-active > a { color: @dropdown-nav-item-active-color; }

    // Onclick
    .uk-dropdown-nav > li > a:active { color: @dropdown-nav-item-onclick-color; }

}
