//
// Component: Dropdown
//
// ========================================================================


// Variables
// ========================================================================

@dropdown-background:                           @global-background;

@dropdown-nav-item-color:                       @global-color;

//
// New
//

@dropdown-box-shadow:                           rgba(0,0,0,0.15);
@dropdown-box-shadow-blur:                      10px;

@dropdown-nav-item-padding-vertical:            6px;
@dropdown-nav-item-padding-horizontal:          25px;

@dropdown-nav-item-hover-background:            @global-muted-background;

@dropdown-nav-sublist-padding-left:             40px;


// Component
// ========================================================================

.hook-dropdown() { box-shadow: 0 3px @dropdown-box-shadow-blur @dropdown-box-shadow; }


// Nav
// ========================================================================

.hook-dropdown-nav() { margin: 0 (-@dropdown-padding); }

.hook-dropdown-nav-item() { padding: @dropdown-nav-item-padding-vertical @dropdown-nav-item-padding-horizontal; }

.hook-dropdown-nav-item-hover() { background: @dropdown-nav-item-hover-background; }

.hook-dropdown-nav-header() { padding: @dropdown-nav-item-padding-vertical @dropdown-nav-item-padding-horizontal; }

.hook-dropdown-nav-divider() {}


// Miscellaneous
// ========================================================================

.hook-dropdown-misc() {

    .uk-dropdown-nav .uk-nav-sub { padding-left: @dropdown-nav-sublist-padding-left; }

}