//
// Component: Element
//
// ========================================================================


// Variables
// ========================================================================

//
// New
//

@heading-divider-left:                           0;
@heading-divider-bottom:                         0;
@heading-divider-width:                         100%;


// Link
// ========================================================================

.hook-link-muted() {}

.hook-link-muted-hover() {}

.hook-link-reset() {}


// Heading
// ========================================================================

.hook-heading-primary() {}

.hook-heading-divider() {

    position: relative;
    border: none;

    &::before {
        content: "";
        position: absolute;
        left: @heading-divider-left;
        bottom: @heading-divider-bottom;
        width: @heading-divider-width;
        border-bottom: @heading-divider-border-width solid @heading-divider-border;
    }

}

.hook-heading-bullet() {}


// Horizontal rules
// ========================================================================

.hook-divider-icon() {}

.hook-divider-icon-line() {}

.hook-divider-icon-line-left() {}

.hook-divider-icon-line-right() {}


// Miscellaneous
// ========================================================================

.hook-element-misc() {}


// Inverse
// ========================================================================

.hook-inverse-link-muted() {}
.hook-inverse-link-muted-hover() {}

.hook-inverse-heading-primary() {}

.hook-inverse-heading-divider() {

    &::before { border-bottom-color: @inverse-global-border; }

}

.hook-inverse-heading-bullet() {}

.hook-inverse-divider-icon() {}
.hook-inverse-divider-icon-line() {}