//
// Component: Form
//
// ========================================================================


// Variables
// ========================================================================

@form-stacked-margin-bottom:                    5px;


// Component
// ========================================================================

.hook-form() {
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

// Focus state
.hook-form-focus() {}

// Disabled state
.hook-form-disabled() {}

// Legend
.hook-form-legend() {}


// Validation states
// ========================================================================

//
// Error state
//

.hook-form-danger() {}

//
// Success state
//

.hook-form-success() {}


// Style modifiers
// ========================================================================

.hook-form-blank() {}

.hook-form-blank-focus() {}


// Sub-object: `uk-form-label`
// ========================================================================

.hook-form-stacked-label() {
    font-size: @global-small-font-size;
}

.hook-form-horizontal-label() {}


// Miscellaneous
// ========================================================================

.hook-form-misc() {}