//
// Component: Form
//
// ========================================================================


// Variables
// ========================================================================

@form-stacked-margin-bottom:                    5px;


// Component
// ========================================================================

.hook-form() {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: color, background-color, border;
    transition-property: color, background-color, border;
}

.hook-form-focus() {}

.hook-form-disabled() {}


// Style modifiers
// ========================================================================

.hook-form-danger() {}

.hook-form-success() {}

.hook-form-blank() {}

.hook-form-blank-focus() {}


// Radio and checkbox
// ========================================================================

.hook-form-custom() {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: background-color, border;
    transition-property: background-color, border;
}

.hook-form-custom-focus() {}

.hook-form-custom-checked() {}

.hook-form-custom-checked-focus() {}

.hook-form-custom-disabled() {}


// Legend
// ========================================================================

.hook-form-legend() {}


// Layout modifiers
// ========================================================================

.hook-form-stacked-label() {
    font-size: @global-small-font-size;
}

.hook-form-horizontal-label() {}


// Miscellaneous
// ========================================================================

.hook-form-misc() {}


// Dye
// ========================================================================

.dye-vars-default-theme() {}

.dye-hooks() {

    .hook-dye-form() {}
    .hook-dye-form-focus() {}

    .hook-dye-form-custom() {}
    .hook-dye-form-custom-checked() {}

}