//
// Component: Form custom
//
// ========================================================================


// Variables
// ========================================================================


// Component
// ========================================================================

.hook-form-custom() {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: background-color, border;
    transition-property: background-color, border;
}

.hook-form-custom-focus() {}

.hook-form-custom-checked() {}

.hook-form-custom-checked-focus() {}

.hook-form-custom-disabled() {}


// Miscellaneous
// ========================================================================

.hook-form-custom-misc() {}


// Dye
// ========================================================================

.dye-vars-default-theme() {}

.dye-hooks() {

    .hook-dye-form-custom() {}

    .hook-dye-form-custom-checked() {}

}