//
// Component: Inverse
//
// ========================================================================


// Component
// ========================================================================


// Light colors for dark backgrounds
.hook-light() {

    //
    // Notes:
    // The `dye-hooks` mixin is needed to initialize the theme hook mixins in the `dye` mixin scope.
    // New theme variables can be defined in the `dye-vars-default-theme` mixin.
    //

    .dye();

    .dye-vars() {

        // Gobal variables must be defined in this scope otherwise they could not be overridden
        @dye-color:                            @global-light-color;
        @dye-contrast-color:                   @global-color;
        @dye-muted-color:                      fade(@dye-color, 70%);

        @dye-primary-background:               @dye-color;
        @dye-muted-background:                 fade(@dye-color, 80%);

        @dye-border:                           fade(@dye-color, 20%);

        // Override component variables
        @button-default-background:            transparent;
        @button-default-color:                 fade(@dye-color, 60%);
        @button-default-hover-background:      transparent;
        @button-default-hover-color:           @dye-color;
        @button-default-active-background:     transparent;
        @button-default-active-color:          @dye-color;

        @nav-default-item-active-color:        @dye-contrast-color;

        //
        // Call default variables (Core and Theme)
        // Note: Only not defined variables will get into this scope which makes overriding work
        //

        .dye-vars-default();
        .dye-vars-default-theme();

    }

}

// Dark colors for light backgrounds
.hook-dark() {}