//
// Component: Modal
//
// ========================================================================


// Variables
// ========================================================================

//
// New
//

@modal-close-full-padding:                     @global-margin;
@modal-close-full-background:                  @modal-dialog-background;


// Component
// ========================================================================

.hook-modal() {}


// Dialog
// ========================================================================

.hook-modal-dialog() {}


// Full
// ========================================================================

.hook-modal-full() {}


// Sections
// ========================================================================

.hook-modal-header() {}

.hook-modal-body() {}

.hook-modal-footer() {}


// Title
// ========================================================================

.hook-modal-title() {}


// Close
// ========================================================================

.hook-modal-close() {}

.hook-modal-close-hover() {}

.hook-modal-close-default() {}

.hook-modal-close-default-hover() {}

.hook-modal-close-outside() {}

.hook-modal-close-outside-hover() {}

.hook-modal-close-full() {
    top: 0;
    right: 0;
    padding: @modal-close-full-padding;
    background: @modal-close-full-background;
}

.hook-modal-close-full-hover() {}


// Caption
// ========================================================================

.hook-modal-caption() {}


// Miscellaneous
// ========================================================================

.hook-modal-misc() {}