//
// Component: Nav
//
// ========================================================================


// Variables
// ========================================================================

@nav-item-padding-vertical:                     8px;
@nav-item-padding-horizontal:                   16px;

@nav-sublist-padding-left:                      (@nav-item-padding-horizontal + @nav-sublist-deeper-padding-left);
@nav-sublist-deeper-padding-left:               16px;

@nav-divider-margin-vertical:                   15px;

@nav-default-item-color:                        @global-color;
@nav-default-item-active-color:                 @global-inverse-color;

//
// New
//

@nav-parent-icon-margin-right:                  -10px;

@nav-default-item-hover-background:             @global-muted-background;
@nav-default-item-active-background:            @global-primary-background;

@nav-primary-item-padding-vertical:             5px;

@nav-primary-header-padding-vertical:           5px;


// Sublists
// ========================================================================

.hook-nav-sub() {}


// Parent icon modifier
// ========================================================================

.hook-nav-parent-icon() { margin-right: @nav-parent-icon-margin-right; }


// Header
// ========================================================================

.hook-nav-header() {}


// Divider
// ========================================================================

.hook-nav-divider() {}


// Default style modifier
// ========================================================================

.hook-nav-default-item() {}

.hook-nav-default-item-hover() { background: @nav-default-item-hover-background; }

.hook-nav-default-item-active() { background: @nav-default-item-active-background; }

.hook-nav-default-header() {}

.hook-nav-default-divider() {}


// Primary style modifier
// ========================================================================

.hook-nav-primary-item() { padding: @nav-primary-item-padding-vertical 0; }

.hook-nav-primary-item-hover() {}

.hook-nav-primary-item-active() {}

.hook-nav-primary-header() { padding: @nav-primary-header-padding-vertical 0; }

.hook-nav-primary-divider() {}


// Miscellaneous
// ========================================================================

.hook-nav-misc() {}


// Dye
// ========================================================================

.dye-vars-default-theme() {}

.dye-hooks() {

    .hook-dye-nav-parent-icon() {}

    .hook-dye-nav-default-item() {}
    .hook-dye-nav-default-item-hover() { background: transparent; }
    .hook-dye-nav-default-item-active() { background: @dye-primary-background; }
    .hook-dye-nav-default-header() {}
    .hook-dye-nav-default-divider() {}

    .hook-dye-nav-primary-item() {}
    .hook-dye-nav-primary-item-hover() {}
    .hook-dye-nav-primary-item-active() {}
    .hook-dye-nav-primary-header() {}
    .hook-dye-nav-primary-divider() {}

}