//
// Component: Navbar
//
// ========================================================================


// Variables
// ========================================================================

@navbar-dropdown-margin:                        15px;
@navbar-dropdown-background:                    @global-background;


// Component
// ========================================================================

.hook-navbar() {}


// Nav
// ========================================================================


.hook-navbar-nav-item() {}

.hook-navbar-nav-item-hover() {}

.hook-navbar-nav-item-onclick() {}

.hook-navbar-nav-item-active() {}


// Item
// ========================================================================

.hook-navbar-item() {}


// Toggle
// ========================================================================

.hook-navbar-toggle() {}

.hook-navbar-toggle-hover() {}


// Subtitle
// ========================================================================

.hook-navbar-subtitle() {}


// Style modifier
// ========================================================================

.hook-navbar-transparent() {}


// Dropdown
// ========================================================================

.hook-navbar-dropdown() { box-shadow: 0 3px 10px rgba(0,0,0,0.15); }


// Dropdown nav
// ========================================================================

.hook-navbar-dropdown-nav() { margin: 0 (-@navbar-dropdown-padding); }

.hook-navbar-dropdown-nav-item() { padding: 6px 25px; }

.hook-navbar-dropdown-nav-item-hover() { background: @global-muted-background; }

.hook-navbar-dropdown-nav-header() {}

.hook-navbar-dropdown-nav-divider() {}


// Dropbar
// ========================================================================

.hook-navbar-dropbar() {}


// Miscellaneous
// ========================================================================

.hook-navbar-misc() {

    /* Phone landscape and bigger */
    @media (min-width: @breakpoint-small) {

        .uk-navbar:not(.uk-navbar-container) {
            padding-left: @navbar-nav-item-padding-horizontal;
            padding-right: @navbar-nav-item-padding-horizontal;
        }

    }

    .uk-navbar-container .uk-navbar-left { margin-left: -@navbar-nav-item-padding-horizontal; }
    .uk-navbar-container .uk-navbar-right { margin-right: -@navbar-nav-item-padding-horizontal; }


    /* Dropdown nav sub */
    .uk-navbar-dropdown-nav .uk-nav-sub { padding-left: 40px; }

}