//
// Component: Pagination
//
// ========================================================================


// Variables
// ========================================================================

//
// New
//

@pagination-item-font-size:                     @global-small-font-size;
@pagination-item-font-family:                   @global-font-secondary-font-family;
@pagination-item-font-weight:                   @global-font-secondary-font-weight;
@pagination-item-text-transform:                @global-font-secondary-text-transform;
@pagination-item-letter-spacing:                0;

@pagination-item-onclick-color:                 @global-highlight-color;


// Component
// ========================================================================

.hook-pagination() {}


// Items
// ========================================================================

.hook-pagination-item() {
    font-size: @pagination-item-font-size;
    font-family: @pagination-item-font-family;
    font-weight: @pagination-item-font-weight;
    text-transform: @pagination-item-text-transform;
    letter-spacing: @pagination-item-letter-spacing;
}

.hook-pagination-item-hover() {}

.hook-pagination-item-active() {}

.hook-pagination-item-disabled() {}


// Miscellaneous
// ========================================================================

.hook-pagination-misc() {

    // Onclick
    .uk-pagination > * > :active { color: @pagination-item-onclick-color; }

}


// Dye
// ========================================================================

.dye-vars-default-theme() {}

.dye-hooks() {

    .hook-dye-pagination-item() {}
    .hook-dye-pagination-item-hover() {}
    .hook-dye-pagination-item-active() {}
    .hook-dye-pagination-item-disabled() {}

}
