//
// Component: Slidenav
//
// ========================================================================


// Variables
// ========================================================================

@slidenav-color:                                fade(@global-highlight-color, 20%);

@slidenav-hover-color:                          @global-highlight-color;

@slidenav-active-color:                         fade(@global-highlight-color, 60%);


// Component
// ========================================================================

.hook-slidenav() {}

.hook-slidenav-hover() {}

.hook-slidenav-active() {}


// Icon modifier
// ========================================================================

.hook-slidenav-previous() {}

.hook-slidenav-next() {}


// Container
// ========================================================================

.hook-slidenav-container() {}


// Miscellaneous
// ========================================================================

.hook-icon-misc() {}


// Dye
// ========================================================================

.dye-vars-default-theme() {}

.dye-hooks() {

    .hook-dye-slidenav() {}
    .hook-dye-slidenav-hover() {}
    .hook-dye-slidenav-active() {}

}
