//
// Component: Base
//
// ========================================================================


// Variables
// ========================================================================

// TODO: Commented


// Style modifier
// ========================================================================

.hook-text-lead() {}

.hook-text-meta() {

    a { color: @text-meta-color; }

    a:hover {
        color: @global-color;
        text-decoration: none;
    }

}


// Size modifier
// ========================================================================

.hook-text-small() {}

.hook-text-large() {}


// Miscellaneous
// ========================================================================

.hook-text-misc() {}