//
// Component: Base
//
// ========================================================================


// Variables
// ========================================================================

@text-lead-font-size:                           @global-large-font-size;
@text-lead-line-height:                         1.5;
@text-lead-color:                               @global-color;

@text-meta-font-size:                           @global-small-font-size;
@text-meta-line-height:                         1.4;
@text-meta-color:                               @global-muted-color;

//
// New
//

@text-meta-link-color:                          darken(@text-meta-color, 15%);
@text-meta-link-hover-color:                    @global-color;

@text-lead-font-family:                         @global-font-primary-font-family;
@text-lead-font-weight:                         @global-font-primary-font-weight;
@text-lead-text-transform:                      @global-font-primary-text-transform;
@text-lead-letter-spacing:                      @global-font-primary-letter-spacing;

@text-meta-font-family:                         @global-font-secondary-font-family;
@text-meta-font-weight:                         @global-font-secondary-font-weight;
@text-meta-text-transform:                      @global-font-secondary-text-transform;
@text-meta-letter-spacing:                      @global-font-secondary-letter-spacing;


// Style modifiers
// ========================================================================

.hook-text-lead() {
    font-family: @text-lead-font-family;
    font-weight: @text-lead-font-weight;
    text-transform: @text-lead-text-transform;
    letter-spacing: @text-lead-letter-spacing;
}

.hook-text-meta() {

    font-family: @text-meta-font-family;
    font-weight: @text-meta-font-weight;
    text-transform: @text-meta-text-transform;
    letter-spacing: @text-meta-letter-spacing;

    a { color: @text-meta-link-color; }

    a:hover {
        color: @text-meta-link-hover-color;
        text-decoration: none;
    }

}


// Size modifiers
// ========================================================================

.hook-text-small() {}

.hook-text-large() {}


// Miscellaneous
// ========================================================================

.hook-text-misc() {}


// Dye
// ========================================================================

.dye-vars-default-theme() {}

.dye-hooks() {

    .hook-dye-text-lead() {}
    .hook-dye-text-meta() {}

}
