// Name:            Accordion
// Description:     Component to create accordions
//
// Component:       `uk-accordion`
//
// Sub-objects:     `uk-accordion-title`
//                  `uk-accordion-content`
//
// ========================================================================


// Variables
// ========================================================================

@accordion-title-margin-bottom:                15px;
@accordion-title-font-size:                    @global-large-font-size;
@accordion-title-line-height:                  1.4;


/* ========================================================================
   Component: Accordion
 ========================================================================== */

.uk-accordion {
    .hook-accordion;
}


/* Title
 ========================================================================== */

.uk-accordion-title {
    font-size: @accordion-title-font-size;
    line-height: @accordion-title-line-height;
    cursor: pointer;
    .hook-accordion-title;
}


/* Content
 ========================================================================== */

.uk-accordion-content {
    padding-bottom: @global-margin;
    .hook-accordion-content;
}

/*
 * Micro clearfix
 */

.uk-accordion-content:before,
.uk-accordion-content:after {
    content: "";
    display: table;
}

.uk-accordion-content:after { clear: both; }

/*
 * Remove margin from the last-child
 */

 .uk-accordion-content > :last-child { margin-bottom: 0; }


// Hooks
// ========================================================================

.hook-accordion-misc;

.hook-accordion() {}
.hook-accordion-item() {}
.hook-accordion-title() {}
.hook-accordion-content() {}
.hook-accordion-misc() {}
