// Name:            Alert
// Description:     Component to create alert messages
//
// Component:       `uk-alert`
//
// Modifiers:       `uk-alert-success`
//                  `uk-alert-warning`
//                  `uk-alert-danger`
//                  `uk-alert-large`
//
// Adopted:         `uk-alert-close`
//
// ========================================================================


// Variables
// ========================================================================

@alert-margin-vertical:                         @global-margin;
@alert-padding:                                 @global-small-gutter;
@alert-background:                              #ebf7fd;
@alert-color:                                   @global-primary-background;

@alert-close-opacity:                           0.4;
@alert-close-hover-opacity:                     0.8;

@alert-success-background:                      #f2fae3;
@alert-success-color:                           @global-success-background;

@alert-warning-background:                      #fffceb;
@alert-warning-color:                           @global-warning-background;

@alert-danger-background:                       #fff1f0;
@alert-danger-color:                            @global-danger-background;

@alert-large-padding:                           @global-gutter;


/* ========================================================================
   Component: Alert
 ========================================================================== */

.uk-alert {
    margin-bottom: @alert-margin-vertical;
    padding: @alert-padding;
    background: @alert-background;
    color: @alert-color;
    .hook-alert;
}

/* Add margin if adjacent element */
* + .uk-alert { margin-top: @alert-margin-vertical; }

/*
 * Remove margin from the last-child
 */

.uk-alert > :last-child { margin-bottom: 0; }


/* Close
 ========================================================================== */

.uk-alert-close {
    opacity: @alert-close-opacity;
    float: right;
    .hook-alert-close;
}

/*
 * Remove margin from adjacent element
 */

.uk-alert-close:first-child + * { margin-top: 0; }

/*
 * Hover + Focus
 * 1. Required for `a` elements
 */

.uk-alert-close:hover,
.uk-alert-close:focus {
    opacity: @alert-close-hover-opacity;
    /* 1 */
    color: inherit;
    .hook-alert-close-hover;
}


/* Style modifiers
 ========================================================================== */

/*
 * Success
 */

.uk-alert-success {
    background: @alert-success-background;
    color: @alert-success-color;
    .hook-alert-success;
}

/*
 * Warning
 */

.uk-alert-warning {
    background: @alert-warning-background;
    color: @alert-warning-color;
    .hook-alert-warning;
}

/*
 * Danger
 */

.uk-alert-danger {
    background: @alert-danger-background;
    color: @alert-danger-color;
    .hook-alert-danger;
}


/* Size modifiers
 ========================================================================== */

.uk-alert-large { padding: @alert-large-padding; }

.uk-alert-large > .uk-alert-close { margin: -10px -10px 0 0; }


// Hooks
// ========================================================================

.hook-alert-misc;

.hook-alert() {}
.hook-alert-close() {}
.hook-alert-close-hover() {}
.hook-alert-success() {}
.hook-alert-warning() {}
.hook-alert-danger() {}
.hook-alert-misc() {}