// Name:            Background
// Description:     TODO
//
// Component:       `uk-background`
//                  `uk-background-muted`
//                  `uk-background-blend-*`
//
// ========================================================================


// Variables
// ========================================================================

@background-background:                         #fff;
@background-muted-background:                   #fff;


/* ========================================================================
   Component: Background
 ========================================================================== */


/* Backgrounds
 ========================================================================== */

.uk-background {
    background-color: @background-background;
    .hook-background;
}

.uk-background-muted {
    background-color: @background-muted-background;
    .hook-background-muted;
}


/* Blend modes
 ========================================================================== */

.uk-background-blend-multiply { background-blend-mode: multiply; }
.uk-background-blend-screen { background-blend-mode: screen; }
.uk-background-blend-overlay { background-blend-mode: overlay; }
.uk-background-blend-darken { background-blend-mode: darken; }
.uk-background-blend-lighten { background-blend-mode: lighten; }
.uk-background-blend-color-dodge { background-blend-mode: color-dodge; }
.uk-background-blend-color-burn { background-blend-mode: color-burn; }
.uk-background-blend-hard-light { background-blend-mode: hard-light; }
.uk-background-blend-soft-light { background-blend-mode: soft-light; }
.uk-background-blend-difference { background-blend-mode: difference; }
.uk-background-blend-exclusion { background-blend-mode: exclusion; }
.uk-background-blend-hue { background-blend-mode: hue; }
.uk-background-blend-saturation { background-blend-mode: saturation; }
.uk-background-blend-color { background-blend-mode: color; }
.uk-background-blend-luminosity { background-blend-mode: luminosity; }


// Hooks
// ========================================================================

.hook-background-misc;

.hook-background() {}
.hook-background-muted() {}
.hook-background-misc() {}