// Name:            Badge
// Description:     Component to create notification badges
//
// Component:       `uk-badge`
//
// Modifiers:       `uk-badge-pill`
//                  `uk-badge-success`
//                  `uk-badge-warning`
//                  `uk-badge-danger`
//
// ========================================================================


// Variables
// ========================================================================

@badge-padding-vertical:                        0;
@badge-padding-horizontal:                      @global-small-margin;
@badge-background:                              @global-primary-background;
@badge-font-size:                               @global-small-font-size;
@badge-color:                                   @global-light-color;

@badge-hover-color:                             @global-light-color;

@badge-pill-size:                               20px;

@badge-success-background:                      @global-success-background;
@badge-warning-background:                      @global-warning-background;
@badge-danger-background:                       @global-danger-background;


/* ========================================================================
   Component: Badge
 ========================================================================== */

.uk-badge {
    display: inline-block;
    padding: @badge-padding-vertical @badge-padding-horizontal;
    background: @badge-background;
    font-size: @badge-font-size;
    color: @badge-color;
    vertical-align: middle;
    white-space: nowrap;
    .hook-badge;
}

/*
 * Keep color when badge is `a` element
 */

.uk-badge:hover {
    color: @badge-hover-color;
    text-decoration: none;
    .hook-badge-hover;
}


/* Style modifier
 ========================================================================== */

/*
 * 1. Center icon vertically and horizontally
 */

.uk-badge-pill {
    box-sizing: border-box;
    min-width: @badge-pill-size;
    height: @badge-pill-size;
    padding: 0 5px;
    border-radius: 500px;
    text-align: center;
    /* 1 */
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    .hook-badge-pill;
}


/* Color modifiers
 ========================================================================== */

/*
 * Success
 */

.uk-badge-success {
    background-color: @badge-success-background;
    .hook-badge-success;
}

/*
 * Warning
 */

.uk-badge-warning {
    background-color: @badge-warning-background;
    .hook-badge-warning;
}

/*
 * Danger
 */

.uk-badge-danger {
    background-color: @badge-danger-background;
    .hook-badge-danger;
}


// Hooks
// ========================================================================

.hook-badge-misc;

.hook-badge() {}
.hook-badge-hover() {}
.hook-badge-pill() {}
.hook-badge-success() {}
.hook-badge-warning() {}
.hook-badge-danger() {}
.hook-badge-misc() {}