// Name:            Card
// Description:     Component to create boxed content containers
//
// Component:       `uk-card`
//
// Sub-objects:     `uk-card-body`
//                  `uk-card-header`
//                  `uk-card-footer`
//                  `uk-card-media-*`
//                  `uk-card-title`
//                  `uk-card-badge`
//
// Modifiers:       `uk-card-hover`
//                  `uk-card-primary`
//                  `uk-card-secondary`
//                  `uk-card-blank`
//
// ========================================================================


// Variables
// ========================================================================

@card-background:                              @global-background;
@card-color:                                   @global-color;

@card-body-padding-horizontal:                 @global-gutter;
@card-body-padding-vertical:                   @global-gutter;

@card-header-padding-horizontal:               @global-gutter;
@card-header-padding-vertical:                 (@global-gutter / 2);

@card-footer-padding-horizontal:               @global-gutter;
@card-footer-padding-vertical:                 (@global-gutter / 2);

@card-title-font-size:                         @global-large-font-size;
@card-title-line-height:                       1.4;
@card-title-color:                             @global-color;

@card-badge-top:                               @global-gutter;
@card-badge-right:                             @card-badge-top;

@card-primary-background:                      #ebf7fd;
@card-secondary-background:                    #eee;


/* ========================================================================
   Component: Panel
 ========================================================================== */

/*
 * 1. Style
 */


.uk-card {
    position: relative;
    box-sizing: content-box;
    /* 1 */
    background: @card-background;
    color: @card-color;
    .hook-card;
}

/*
 * Micro clearfix
 */

.uk-card:before,
.uk-card:after {
    content: "";
    display: table;
}

.uk-card:after { clear: both; }

/*
 * Remove margin from the last-child
 */

.uk-card > :last-child { margin-bottom: 0; }


/* Section sub-objects
 ========================================================================== */

.uk-card-body {
    padding: @card-body-padding-vertical @card-body-padding-horizontal;
    .hook-card-body;
}

.uk-card-header {
    padding: @card-header-padding-vertical @card-header-padding-horizontal;
    .hook-card-header;
}

.uk-card-footer {
    padding: @card-footer-padding-vertical @card-footer-padding-horizontal;
    .hook-card-footer;
}

/*
 * Micro clearfix
 */

.uk-card-body:before,
.uk-card-body:after,
.uk-card-header:before,
.uk-card-header:after,
.uk-card-footer:before,
.uk-card-footer:after {
    content: "";
    display: table;
}

.uk-card-body:after,
.uk-card-header:after,
.uk-card-footer:after { clear: both; }

/*
 * Remove margin from the last-child
 */

.uk-card-body > :last-child,
.uk-card-header > :last-child,
.uk-card-footer > :last-child { margin-bottom: 0; }


/* Media sub-object
 ========================================================================== */

[class*='uk-card-media'] {
    .hook-card-media;
}

.uk-card-media-top {
    .hook-card-media-top;
}

.uk-card-media-bottom {
    .hook-card-media-bottom;
}

.uk-card-media-left {
    .hook-card-media-left;
}

.uk-card-media-right {
    .hook-card-media-right;
}


/* Title sub-object
 ========================================================================== */

.uk-card-title {
    font-size: @card-title-font-size;
    line-height: @card-title-line-height;
    color: @card-title-color;
    .hook-card-title;
}


/* Badge sub-object
 ========================================================================== */

.uk-card-badge {
    position: absolute;
    top: @card-badge-top;
    right: @card-badge-right;
    z-index: 1;
    .hook-card-badge;
}


/* Hover modifier
 ========================================================================== */

.uk-card-hover:hover {
    .hook-card-hover;
}


/* Style modifier
 ========================================================================== */

/*
 * Primary
 */

.uk-card-primary {
    background-color: @card-primary-background;
    .hook-card-primary;
}

.uk-card-primary.uk-card-hover:hover {
    .hook-card-primary-hover;
}

/*
 * Secondary
 */

.uk-card-secondary {
    background-color: @card-secondary-background;
    .hook-card-secondary;
}

.uk-card-secondary.uk-card-hover:hover {
    .hook-card-secondary-hover;
}

/*
 * Blank
 */

.uk-card-blank {
    background-color: none;
    .hook-card-blank;
}

.uk-card-blank.uk-card-hover:hover {
    .hook-card-blank-hover;
}


// Hooks
// ========================================================================

.hook-card-misc;

.hook-card() {}
.hook-card-body() {}
.hook-card-header() {}
.hook-card-footer() {}
.hook-card-media() {}
.hook-card-media-top() {}
.hook-card-media-bottom() {}
.hook-card-media-left() {}
.hook-card-media-right() {}
.hook-card-title() {}
.hook-card-badge() {}
.hook-card-hover() {}
.hook-card-primary() {}
.hook-card-primary-hover() {}
.hook-card-secondary() {}
.hook-card-secondary-hover() {}
.hook-card-blank() {}
.hook-card-blank-hover() {}
.hook-card-misc() {}