// Name:            Close
// Description:     Component to create a close button
//
// Component:       `uk-close`
//
// ========================================================================


/* ========================================================================
   Component: Close
 ========================================================================== */

/*
 * Pass image path to JS
 */

.uk-close::before { background-image: url("@{internal-image-path}/icons.svg"); }

/*
 * 1. Remove margins in Chrome, Safari and Opera.
 * 2. Remove borders for `button`.
 * 3. Address `overflow` set to `hidden` in IE.
 * 4. Correct `font` properties and `color` not being inherited for `button`.
 * 5. Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 6. Remove default `button` padding and background color
 * 7. Required for `button`.
 * 8. Style
 * 9. Let the SVG color use the current text color
 * 10. Let the container fit the height of the icon
 */

.uk-close {
    /* 1 */
    margin: 0;
    /* 2 */
    border: none;
    /* 3 */
    overflow: visible;
    /* 4 */
    font: inherit;
    color: inherit;
    /* 5 */
    text-transform: none;
    /* 6. */
    padding: 0;
    background-color: transparent;
    /* 7 */
    cursor: pointer;
    /* 8 */
    display: inline-block;
    /* 9 */
    fill: currentcolor;
    /* 10 */
    line-height: 0;
}

/*
 * Remove the inner border and padding in Firefox.
 */

.uk-close::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * Required for `a`.
 */

.uk-close:hover { color: inherit; }

/*
 * Remove default focus style
 */

.uk-close:focus { outline: none; }

/*
 * Fix Firefox blurry SVG rendering: https://bugzilla.mozilla.org/show_bug.cgi?id=1046835
 */

.uk-close > * { transform: translate(0,0); }


// Hooks
// ========================================================================

.hook-close-misc;

.hook-close-misc() {}