// Name:            Container
// Description:     Component to align and center your site and grid content
//
// Component:       `uk-container`
//
// ========================================================================


// Variables
// ========================================================================

@container-max-width:                   1200px;
@container-small-max-width:             900px;

@container-padding-horizontal:          @global-margin-small;
@container-padding-horizontal-s:        @global-margin;
@container-padding-horizontal-m:        @global-margin-large;
@container-padding-horizontal-l:        @global-margin-xlarge;


/* ========================================================================
   Component: Container
 ========================================================================== */

/*
 * 1. Box sizing has to be `content-box` so the max-width is always the same and
 *    unaffected by the padding on different breakpoints. It's important for the small modifier.
 */

.uk-container {
    box-sizing: content-box; /* 1 */
    max-width: @container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 @container-padding-horizontal;
}

/* Phone landscape and bigger */
@media (min-width: @breakpoint-small) {

    .uk-container { padding: 0 @container-padding-horizontal-s; }

}

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {

    .uk-container { padding: 0 @container-padding-horizontal-m; }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    .uk-container { padding: 0 @container-padding-horizontal-l; }

}

/*
 * Micro clearfix
 */

.uk-container:before,
.uk-container:after {
    content: "";
    display: table;
}

.uk-container:after { clear: both; }

/*
 * Remove margin from the last-child
 */

.uk-container > :last-child { margin-bottom: 0; }


/* Size Modifier
 ========================================================================== */

.uk-container-small { max-width: @container-small-max-width; }


// Hooks
// ========================================================================

.hook-container-misc;

.hook-container-misc() {}