// Name:            Description list
// Description:     Styles for description lists
//
// Component:       `uk-description-list`
//
// Modifiers:       `uk-description-list-divider`
//
// ========================================================================


// Variables
// ========================================================================

@description-list-margin-vertical:              @global-margin;

@description-list-divider-border-width:         @global-border-width;
@description-list-divider-border:               @global-border;


/* ========================================================================
   Component: Description list
 ========================================================================== */

/*
 * Term
 */

.uk-description-list > dt {
    .hook-description-list-term;
}

/*
 * Description
 */

.uk-description-list > dd {
    .hook-description-list-description;
}

.uk-description-list > dd:nth-last-child(n+2) {
    margin-bottom: @description-list-margin-vertical;
}


/* Style modifier
 ========================================================================== */

/*
 * Line
 */

.uk-description-list-divider > dd:nth-last-child(n+2) {
    padding-bottom: @description-list-margin-vertical;
    border-bottom: @description-list-divider-border-width solid @description-list-divider-border;
    .hook-description-list-divider;
}


// Hooks
// ========================================================================

.hook-description-list-misc;

.hook-description-list-term() {}
.hook-description-list-description() {}
.hook-description-list-divider() {}
.hook-description-list-misc() {}