// Name:            Dropdown
// Description:     Component to create dropdown menus
//
// Component:       `uk-dropdown`
//
// Sub-object:      `uk-dropdown-nav`
//
// Modifiers:       `uk-dropdown-small`
//                  `uk-dropdown-scrollable`
//
// ========================================================================


// Variables
// ========================================================================

@dropdown-z-index:                              @global-z-index + 20;
@dropdown-min-width:                            200px;
@dropdown-padding:                              @global-small-gutter;
@dropdown-background:                           @global-muted-background;
@dropdown-color:                                @global-color;
@dropdown-animation:                            uk-fade;
@dropdown-margin:                               @global-small-margin;

@dropdown-nav-color:                            @global-color;
@dropdown-nav-hover-background:                 @global-primary-background;
@dropdown-nav-hover-color:                      @global-light-color;
@dropdown-nav-header-color:                     @global-color;
@dropdown-nav-divider-border:                   @global-border;
@dropdown-nav-divider-border-width:             1px;
@dropdown-nav-nested-color:                     @global-muted-color;
@dropdown-nav-nested-hover-color:               @global-color;

@dropdown-small-padding:                        @global-small-gutter;

@dropdown-scrollable-height:                    200px;


/* ========================================================================
   Component: Dropdown
 ========================================================================== */

/*
 * 1. Hide by default
 * 2. Set position
 * 3. Box-sizing is needed for `uk-dropdown-justify`
 * 4. Set a default width
 * 5. Style
 */

.uk-dropdown {
    /* 1 */
    display: none;
    /* 2 */
    position: absolute;
    z-index: @dropdown-z-index;
    /* 3 */
    box-sizing: border-box;
    /* 4 */
    min-width: @dropdown-min-width;
    /* 5 */
    padding: @dropdown-padding;
    background: @dropdown-background;
    color: @dropdown-color;
    .hook-dropdown;
}

/*
 * 1. Show drop
 * 2. Set animation
 */

.uk-open > .uk-dropdown {
    /* 1 */
    display: block;
    /* 2 */
    -webkit-animation: @dropdown-animation 0.2s ease-in-out;
    animation: @dropdown-animation 0.2s ease-in-out;
}


/* Container
 ========================================================================== */

/*
 * 1. Container fits its content
 * 2. Behave like button
 * 3. Create position context
 */

.uk-dropdown-container {
    /* 1 */
    display: inline-block;
    /* 2 */
    vertical-align: middle;
    /* 3 */
    position: relative;
}


/* Nav
 ========================================================================== */

.uk-dropdown-nav {
    margin: 0 (-@dropdown-padding);
    white-space: nowrap;
    .hook-dropdown-nav;
}

/*
 * Items
 */

.uk-dropdown-nav > li > a {
    color: @dropdown-nav-color;
    .hook-dropdown-nav-item;
}

/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */

.uk-dropdown-nav > li > a:hover,
.uk-dropdown-nav > li > a:focus { // 1
    background: @dropdown-nav-hover-background;
    color: @dropdown-nav-hover-color;
    /* 2 */
    outline: none;
    .hook-dropdown-nav-item-hover;
}

/*
 * Header
 */

.uk-dropdown-nav .uk-nav-header {
    color: @dropdown-nav-header-color;
    .hook-dropdown-nav-header;
}

/*
 * Divider
 */

.uk-dropdown-nav .uk-nav-divider {
    border-top: @dropdown-nav-divider-border-width solid @dropdown-nav-divider-border;
    .hook-dropdown-nav-divider;
}

/*
 * Nested items
 */

.uk-dropdown-nav ul a { color: @dropdown-nav-nested-color; }
.uk-dropdown-nav ul a:hover { color: @dropdown-nav-nested-hover-color; }


/* Alignment modifiers
 ========================================================================== */

.uk-dropdown-top { margin-top: (-1 * @dropdown-margin); }
.uk-dropdown-bottom { margin-top: @dropdown-margin; }
.uk-dropdown-left { margin-left: (-1 * @dropdown-margin); }
.uk-dropdown-right { margin-left: @dropdown-margin; }


/* Overflow modifier
 ========================================================================== */

/*
 * Usefull for long lists
 */

.uk-dropdown-scrollable {
    overflow-y: auto;
    max-height: @dropdown-scrollable-height;
}


// Hooks
// ========================================================================

.hook-dropdown-misc;

.hook-dropdown() {}
.hook-dropdown-nav() {}
.hook-dropdown-nav-item() {}
.hook-dropdown-nav-item-hover() {}
.hook-dropdown-nav-header() {}
.hook-dropdown-nav-divider() {}
.hook-dropdown-misc() {}
