// Name:            Form
// Description:     Styles for forms
//
// Component:       `uk-form`
//
// Sub-objects:     `uk-form-label`
//                  `uk-form-controls`
//                  `uk-form-icon`
//
// Modifiers:       `uk-form-small`
//                  `uk-form-large`
//                  `uk-form-danger`
//                  `uk-form-success`
//                  `uk-form-blank`
//                  `uk-form-width-mini`
//                  `uk-form-width-small`
//                  `uk-form-width-medium`
//                  `uk-form-width-large`
//                  `uk-form-stacked`
//                  `uk-form-horizontal`
//                  `uk-form-controls-text`
//
// ========================================================================


// Variables
// ========================================================================

@form-height:                                   @global-control-height;
@form-padding-horizontal:                       6px;
@form-padding-vertical:                         4px;

@form-border:                                   @global-border;
@form-border-width:                             @global-border-width;
@form-background:                               @global-background;
@form-color:                                    @global-color;

@form-focus-border:                             @global-primary-background;
@form-focus-background:                         @global-background;
@form-focus-color:                              @global-color;

@form-disabled-border:                          @global-border;
@form-disabled-background:                      @global-muted-background;
@form-disabled-color:                           @global-muted-color;

@form-placeholder-color:                        @global-muted-color;

@form-legend-font-size:                         @global-large-font-size;
@form-legend-line-height:                       1.4;

@form-small-height:                             @global-control-small-height;
@form-large-height:                             @global-control-large-height;
@form-small-font-size:                          @global-small-font-size;
@form-large-font-size:                          @global-medium-font-size;

@form-danger-border:                            @global-danger-background;
@form-danger-background:                        @global-background;
@form-danger-color:                             @global-danger-background;

@form-success-border:                           @global-success-background;
@form-success-background:                       @global-background;
@form-success-color:                            @global-color;

@form-blank-border:                             @global-border;
@form-blank-border-style:                       dashed;

@form-mini-width:                               40px;
@form-small-width:                              130px;
@form-medium-width:                             200px;
@form-large-width:                              500px;

@form-stacked-margin-bottom:                    @global-small-margin;

@form-horizontal-label-width:                   200px;
@form-horizontal-label-margin-top:              7px;
@form-horizontal-controls-margin-left:          215px;
@form-horizontal-controls-text-padding-top:     7px;

@form-icon-width:                               30px;
@form-icon-font-size:                           @global-font-size;
@form-icon-color:                               @global-muted-color;


/* ========================================================================
   Component: Form
 ========================================================================== */

/*
 * 1. Define consistent box sizing.
 *    Default is `content-box` with following exceptions set to `border-box`
 *    `select`, `input[type="checkbox"]` and `input[type="radio"]`
 *    `input[type="search"]` in Chrome, Safari and Opera
 *    `input[type="color"]` in Firefox
 * 2. Address margins set differently in Firefox/IE and Chrome/Safari/Opera.
 * 3. Remove `border-radius` in iOS.
 * 4. Change font properties to `inherit` in all browsers
 */

.uk-form input,
.uk-form select,
.uk-form textarea {
    /* 1 */
    box-sizing: border-box;
    /* 2 */
    margin: 0;
    /* 3 */
    border-radius: 0;
    /* 4 */
    font: inherit;
}

/*
 * Remove the inheritance of text transform in Firefox.
 */

.uk-form select { text-transform: none; }

/*
 * 1. Change font properties to `inherit` in all browsers
 * 2. Don't inherit the `font-weight` and use `bold` instead.
 * NOTE: Both declarations don't work in Chrome, Safari and Opera.
 */

.uk-form optgroup {
    /* 1 */
    font: inherit;
    /* 2 */
    font-weight: bold;
}

/*
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */

.uk-form input, /* 1 */
.uk-form select { /* 2 */
  overflow: visible;
}


/*
 * Remove the inner border and padding in Firefox.
 */

.uk-form input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * Remove the padding in IE 10-.
 */

.uk-form input[type="checkbox"],
.uk-form input[type="radio"] { padding: 0; }

/*
 * Improves consistency of cursor style for clickable elements
 */

.uk-form input[type="checkbox"]:not(:disabled),
.uk-form input[type="radio"]:not(:disabled) { cursor: pointer; }

/*
 * Remove default style in iOS.
 */

.uk-form textarea,
.uk-form input:not([type]),
.uk-form input[type="text"],
.uk-form input[type="password"],
.uk-form input[type="email"],
.uk-form input[type="url"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="number"],
.uk-form input[type="datetime"] { -webkit-appearance: none; }

/*
 * Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X.
 */

.uk-form input[type="search"]::-webkit-search-cancel-button,
.uk-form input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

.uk-form input[type="number"]::-webkit-inner-spin-button,
.uk-form input[type="number"]::-webkit-outer-spin-button { height: auto; }

/*
 * Define consistent border, margin, and padding.
 */

.uk-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/*
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Improve readability and alignment in all browsers.
 */

.uk-form textarea {
    /* 1 */
    overflow: auto;
    /* 2 */
    vertical-align: top;
}

/*
 * Removes placeholder transparency in Firefox.
 */

.uk-form ::-moz-placeholder { opacity: 1; }

/*
 * Removes `box-shadow` for invalid controls in Firefox.
 */

.uk-form :invalid { box-shadow: none; }

/*
 * Vertical alignment
 */

.uk-form input:not([type="radio"]):not([type="checkbox"]),
.uk-form select { vertical-align: middle; }


/* Text inputs, select and textarea
 ========================================================================== */

/*
 * Remove margin from the last-child
 */

.uk-form > :last-child { margin-bottom: 0; }

/*
 * Controls
 * Except for `range`, `radio`, `checkbox`, `file`, `submit`, `reset` and `image`
 * 1. Must be `height` because `min-height` is not working in OSX
 * 2. Prevent content overflow
 * 3. Style
 */

.uk-form select,
.uk-form textarea,
.uk-form input:not([type]),
.uk-form input[type="text"],
.uk-form input[type="password"],
.uk-form input[type="datetime"],
.uk-form input[type="datetime-local"],
.uk-form input[type="date"],
.uk-form input[type="month"],
.uk-form input[type="time"],
.uk-form input[type="week"],
.uk-form input[type="number"],
.uk-form input[type="email"],
.uk-form input[type="url"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="color"] {
    /* 1 */
    height: @form-height;
    /* 2 */
    max-width: 100%;
    /* 3 */
    padding: @form-padding-vertical @form-padding-horizontal;
    border: @form-border-width solid @form-border;
    background: @form-background;
    color: @form-color;
    .hook-form;

    // Focus
    &:focus {
        border-color: @form-focus-border;
        outline: 0;
        background: @form-focus-background;
        color: @form-focus-color;
        .hook-form-focus;
    }

    // Disabled
    &:disabled {
        border-color: @form-disabled-border;
        background-color: @form-disabled-background;
        color: @form-disabled-color;
        .hook-form-disabled;
    }
}

/*
 * Placeholder
 */

.uk-form :-ms-input-placeholder { color: @form-placeholder-color !important; }
.uk-form ::-moz-placeholder { color: @form-placeholder-color; }
.uk-form ::-webkit-input-placeholder { color: @form-placeholder-color; }

.uk-form :disabled:-ms-input-placeholder { color: @form-disabled-color !important; }
.uk-form :disabled::-moz-placeholder { color: @form-disabled-color; }
.uk-form :disabled::-webkit-input-placeholder { color: @form-disabled-color; }


/* Legend
 ========================================================================== */

/*
 * Legend
 * 1. Behave like block element
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove padding so people aren't caught out if they zero out fieldsets.
 * 4. Style
 */

.uk-form legend {
    /* 1 */
    width: 100%;
    /* 2 */
    color: inherit;
    /* 3 */
    padding: 0;
    /* 4 */
    font-size: @form-legend-font-size;
    line-height: @form-legend-line-height;
    .hook-form-legend;
}


/* Size modifiers
 ========================================================================== */

.uk-form-small {
    height: @form-small-height !important;
    font-size: @form-small-font-size !important;
}

.uk-form-large  {
    height: @form-large-height !important;
    font-size: @form-large-font-size !important;
}

/*
 * Reset height
 */

.uk-form textarea,
.uk-form select[multiple],
.uk-form select[size] { height: auto !important; }


/* Style modifier
 ========================================================================== */

/*
 * Error
 */

.uk-form-danger {
    border-color: @form-danger-border !important;
    background: @form-danger-background !important;
    color: @form-danger-color !important;
    .hook-form-danger;
}

/*
 * Success
 */

.uk-form-success  {
    border-color: @form-success-border !important;
    background: @form-success-background !important;
    color: @form-success-color !important;
    .hook-form-success;
}

/*
 * Blank
 */

.uk-form-blank {
    border-color: transparent !important;
    border-style: @form-blank-border-style !important;
    background: none !important;
    .hook-form-blank;
}

.uk-form-blank:focus {
    border-color: @form-blank-border !important;
    .hook-form-blank-focus;
}


/* Width modifiers
 ========================================================================== */

/*
 * Fixed widths
 * Different widths for mini sized `input` and `select` elements
 */

input.uk-form-width-mini { width: @form-mini-width; }
select.uk-form-width-mini { width: (@form-mini-width + 25px); }
.uk-form-width-small { width: @form-small-width; }
.uk-form-width-medium { width: @form-medium-width; }
.uk-form-width-large { width: @form-large-width; }


/* Layout modifiers
 ========================================================================== */

/*
 * Stacked
 */

.uk-form-stacked .uk-form-label {
    display: block;
    margin-bottom: @form-stacked-margin-bottom;
    .hook-form-stacked-label;
}


/*
 * Horizontal
 */

/* Tablet portrait and smaller */
@media (max-width: @breakpoint-small-max) {

    /* Behave like `uk-form-stacked` */
    .uk-form-horizontal .uk-form-label {
        display: block;
        margin-bottom: @form-stacked-margin-bottom;
        .hook-form-stacked-label;
    }

}

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {

    .uk-form-horizontal .uk-form-label {
        width: @form-horizontal-label-width;
        margin-top: @form-horizontal-label-margin-top;
        float: left;
        .hook-form-horizontal-label;
    }

    .uk-form-horizontal .uk-form-controls { margin-left: @form-horizontal-controls-margin-left; }

    /* Better vertical alignment if controls are checkboxes and radio buttons with text */
    .uk-form-horizontal .uk-form-controls-text { padding-top: @form-horizontal-controls-text-padding-top; }

}


/* Icons
 ========================================================================== */

/*
 * 1. Container fits its content
 * 2. Create position context
 * 3. Prevent content overflow because of `inline-block`
 */

.uk-form-icon {
    /* 1 */
    display: inline-block;
    /* 2 */
    position: relative;
    /* 3 */
    max-width: 100%;
}

/*
 * 1. Set container position and width
 * 2. Center icon vertically and horizontally
 * 3. Make form element clickable through icon
 * 4. Style
 */

.uk-form-icon > span {
    position: absolute;
    /* 1 */
    top: 0;
    bottom: 0;
    left: 0;
    width: @form-icon-width;
    /* 2 */
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* 3 */
    pointer-events: none;
    /* 4 */
    color: @form-icon-color;
}

.uk-form-icon:not(.uk-form-icon-flip) > input { padding-left: @form-icon-width !important; }

/*
 * Position modifier
 */

.uk-form-icon-flip > span {
    right: 0;
    left: auto;
}

.uk-form-icon-flip > input { padding-right: @form-icon-width !important; }


// Hooks
// ========================================================================

.hook-form-misc;

.hook-form() {}
.hook-form-focus() {}
.hook-form-disabled() {}
.hook-form-legend() {}
.hook-form-danger() {}
.hook-form-success() {}
.hook-form-blank() {}
.hook-form-blank-focus() {}
.hook-form-stacked-label() {}
.hook-form-horizontal-label() {}
.hook-form-misc() {}


// Dye
// ========================================================================

.dye-vars-default() {

    @form-border:                          fade(@dye-color, 80%);
    @form-background:                      fade(@dye-color, 80%);
    @form-color:                           @dye-inverse-color;
    @form-focus-border:                    @dye-color;
    @form-focus-background:                @dye-color;
    @form-focus-color:                     @dye-inverse-color;
    @form-placeholder-color:               fade(@dye-inverse-color, 70%);

}

.dye() {

    .dye-vars();
    .dye-hooks();

    .uk-form select,
    .uk-form textarea,
    .uk-form input:not([type]),
    .uk-form input[type="text"],
    .uk-form input[type="password"],
    .uk-form input[type="datetime"],
    .uk-form input[type="datetime-local"],
    .uk-form input[type="date"],
    .uk-form input[type="month"],
    .uk-form input[type="time"],
    .uk-form input[type="week"],
    .uk-form input[type="number"],
    .uk-form input[type="email"],
    .uk-form input[type="url"],
    .uk-form input[type="search"],
    .uk-form input[type="tel"],
    .uk-form input[type="color"] {
        border-color: @form-border;
        background: @form-background;
        color: @form-color;
        background-clip: padding-box;
        .hook-dye-form;

        &:focus {
            border-color: @form-focus-border;
            background: @form-focus-background;
            color: @form-focus-color;
            .hook-dye-form-focus;
        }
    }

    //
    // Placeholder
    //

    .uk-form :-ms-input-placeholder { color: @form-placeholder-color !important; }
    .uk-form ::-moz-placeholder { color: @form-placeholder-color; }
    .uk-form ::-webkit-input-placeholder { color: @form-placeholder-color; }

}

.hook-dye-form() {}
.hook-dye-form-focus() {}