// Name:            Form
// Description:     Styles for forms
//
// Component:       `uk-input`
//                  `uk-select`
//                  `uk-textarea`
//                  `uk-radio`
//                  `uk-checkbox`
//                  `uk-legend`
//                  `uk-fieldset`
//
// Sub-objects:     `uk-form-stacked`
//                  `uk-form-horizontal`
//                  `uk-form-label`
//                  `uk-form-controls`
//                  `uk-form-icon`
//                  `uk-form-icon-container`
//
// Modifiers:       `uk-form-small`
//                  `uk-form-large`
//                  `uk-form-danger`
//                  `uk-form-success`
//                  `uk-form-blank`
//                  `uk-form-width-mini`
//                  `uk-form-width-small`
//                  `uk-form-width-medium`
//                  `uk-form-width-large`
//                  `uk-form-controls-text`
//
// ========================================================================


// Variables
// ========================================================================

@form-height:                                   @global-control-height;
@form-padding-horizontal:                       6px;
@form-padding-vertical:                         4px;

@form-border:                                   @global-border;
@form-border-width:                             @global-border-width;
@form-background:                               @global-background;
@form-color:                                    @global-color;

@form-focus-border:                             @global-primary-background;
@form-focus-background:                         @global-background;
@form-focus-color:                              @global-color;

@form-disabled-border:                          @global-border;
@form-disabled-background:                      @global-muted-background;
@form-disabled-color:                           @global-muted-color;

@form-placeholder-color:                        @global-muted-color;

@form-small-height:                             @global-control-small-height;
@form-large-height:                             @global-control-large-height;
@form-small-font-size:                          @global-small-font-size;
@form-large-font-size:                          @global-medium-font-size;

@form-danger-border:                            @global-danger-background;
@form-danger-background:                        @global-background;
@form-danger-color:                             @global-danger-background;

@form-success-border:                           @global-success-background;
@form-success-background:                       @global-background;
@form-success-color:                            @global-color;

@form-blank-border:                             @global-border;
@form-blank-border-style:                       dashed;

@form-width-mini:                               40px;
@form-width-small:                              130px;
@form-width-medium:                             200px;
@form-width-large:                              500px;

@form-select-padding-right:                     20px;
@form-select-icon-color:                        @global-color;
@form-select-disabled-icon-color:               @global-muted-color;

@form-radio-size:                               @global-font-size;
@form-radio-margin-top:                         -4px;

@form-radio-border:                             darken(@global-border, 10%);
@form-radio-border-width:                       @global-border-width;
@form-radio-background:                         transparent;

@form-radio-focus-border:                       @global-primary-background;

@form-radio-checked-border:                     transparent;
@form-radio-checked-background:                 @global-primary-background;
@form-radio-checked-icon-color:                 @global-inverse-color;

@form-radio-checked-focus-background:           darken(@global-primary-background, 10%);

@form-radio-disabled-border:                    @global-border;
@form-radio-disabled-background:                @global-muted-background;
@form-radio-disabled-icon-color:                @global-muted-color;

@form-legend-font-size:                         @global-large-font-size;
@form-legend-line-height:                       1.4;

@form-stacked-margin-bottom:                    @global-small-margin;

@form-horizontal-label-width:                   200px;
@form-horizontal-label-margin-top:              7px;
@form-horizontal-controls-margin-left:          215px;
@form-horizontal-controls-text-padding-top:     7px;

@form-icon-width:                               30px;
@form-icon-font-size:                           @global-font-size;
@form-icon-color:                               @global-muted-color;


/* ========================================================================
   Component: Form
 ========================================================================== */

/*
 * 1. Define consistent box sizing.
 *    Default is `content-box` with following exceptions set to `border-box`
 *    `select`, `input[type="checkbox"]` and `input[type="radio"]`
 *    `input[type="search"]` in Chrome, Safari and Opera
 *    `input[type="color"]` in Firefox
 * 2. Address margins set differently in Firefox/IE and Chrome/Safari/Opera.
 * 3. Remove `border-radius` in iOS.
 * 4. Change font properties to `inherit` in all browsers
 */

.uk-input,
.uk-select,
.uk-textarea,
.uk-radio,
.uk-checkbox {
    /* 1 */
    box-sizing: border-box;
    /* 2 */
    margin: 0;
    /* 3 */
    border-radius: 0;
    /* 4 */
    font: inherit;
}

/*
 * Show the overflow in Edge.
 */

.uk-input { overflow: visible; }

/*
 * Remove the inheritance of text transform in Firefox.
 */

.uk-select { text-transform: none; }

/*
 * 1. Change font properties to `inherit` in all browsers
 * 2. Don't inherit the `font-weight` and use `bold` instead.
 * NOTE: Both declarations don't work in Chrome, Safari and Opera.
 */

.uk-select optgroup {
    /* 1 */
    font: inherit;
    /* 2 */
    font-weight: bold;
}

/*
 * Remove the default vertical scrollbar in IE.
 */

.uk-textarea { overflow: auto; }

/*
 * Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X.
 */

.uk-input[type="search"]::-webkit-search-cancel-button,
.uk-input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }


/*
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

.uk-input[type="number"]::-webkit-inner-spin-button,
.uk-input[type="number"]::-webkit-outer-spin-button { height: auto; }

/*
 * Removes placeholder transparency in Firefox.
 */

.uk-input::-moz-placeholder,
.uk-textarea::-moz-placeholder { opacity: 1; }

/*
 * Remove the padding in IE 10-.
 */

.uk-radio,
.uk-checkbox { padding: 0; }

/*
 * Improves consistency of cursor style for clickable elements
 */

.uk-radio:not(:disabled),
.uk-checkbox:not(:disabled) { cursor: pointer; }

/*
 * Define consistent border, margin, and padding.
 */

.uk-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}


/* Input, select and textarea
 * Allowed: `text`, `password`, `datetime`, `datetime-local`, `date`,  `month`,
            `time`, `week`, `number`, `email`, `url`, `search`, `tel`, `color`
 * Disallowed: `range`, `radio`, `checkbox`, `file`, `submit`, `reset` and `image`
 ========================================================================== */

/*
 * Remove default style in iOS.
 */

.uk-input,
.uk-textarea { -webkit-appearance: none; }

/*
 * Vertical alignment
 */

.uk-input,
.uk-select { vertical-align: middle; }
.uk-textarea { vertical-align: top; }

/*
 * Height
 */

.uk-input,
.uk-select:not([multiple]):not([size]) { height: @form-height; }

/*
 * 1. Prevent content overflow
 * 2. Style
 */

.uk-input,
.uk-select,
.uk-textarea {
    /* 1 */
    max-width: 100%;
    /* 2 */
    padding: @form-padding-vertical @form-padding-horizontal;
    border: @form-border-width solid @form-border;
    background: @form-background;
    color: @form-color;
    .hook-form;

    // Focus
    &:focus {
        border-color: @form-focus-border;
        outline: 0;
        background: @form-focus-background;
        color: @form-focus-color;
        .hook-form-focus;
    }

    // Disabled
    &:disabled {
        border-color: @form-disabled-border;
        background-color: @form-disabled-background;
        color: @form-disabled-color;
        .hook-form-disabled;
    }
}

/*
 * Placeholder
 */

.uk-input:-ms-input-placeholder { color: @form-placeholder-color !important; }
.uk-input::-moz-placeholder { color: @form-placeholder-color; }
.uk-input::-webkit-input-placeholder { color: @form-placeholder-color; }

.uk-textarea:-ms-input-placeholder { color: @form-placeholder-color !important; }
.uk-textarea::-moz-placeholder { color: @form-placeholder-color; }
.uk-textarea::-webkit-input-placeholder { color: @form-placeholder-color; }


/* Style modifier (`uk-input`, `uk-select` and `uk-textarea`)
 ========================================================================== */

/*
 * Small
 */

.uk-form-small { font-size: @form-small-font-size; }

.uk-form-small:not(textarea):not([multiple]):not([size]) { height: @form-small-height; }

/*
 * Large
 */

.uk-form-large { font-size: @form-large-font-size; }

.uk-form-large:not(textarea):not([multiple]):not([size]) { height: @form-large-height; }


/* Style modifier (`uk-input`, `uk-select` and `uk-textarea`)
 ========================================================================== */

/*
 * Error
 */

.uk-form-danger {
    border-color: @form-danger-border;
    background: @form-danger-background;
    color: @form-danger-color;
    .hook-form-danger;
}

/*
 * Success
 */

.uk-form-success  {
    border-color: @form-success-border;
    background: @form-success-background;
    color: @form-success-color;
    .hook-form-success;
}

/*
 * Blank
 */

.uk-form-blank {
    border-color: transparent;
    border-style: @form-blank-border-style;
    background: none;
    .hook-form-blank;
}

.uk-form-blank:focus {
    border-color: @form-blank-border;
    .hook-form-blank-focus;
}


/* Width modifiers (`uk-input`, `uk-select` and `uk-textarea`)
 ========================================================================== */

/*
 * Fixed widths
 * Different widths for mini sized `input` and `select` elements
 */

input.uk-form-width-mini { width: @form-width-mini; }

select.uk-form-width-mini { width: (@form-width-mini + 25px); }

.uk-form-width-small { width: @form-width-small; }

.uk-form-width-medium { width: @form-width-medium; }

.uk-form-width-large { width: @form-width-large; }


/* Select
 ========================================================================== */

/*
 * 1. Remove default style. Also works in Firefox
 * 2. Style
 * 3. Remove default style in IE 10/11
 */

.uk-select:not([multiple]):not([size]) {
    /* 1 */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* 2 */
    padding-right: @form-select-padding-right;
    .svg-fill("../../images/form-select.svg", "#000", @form-select-icon-color);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    .hook-form-select;
}

/* 3 */
.uk-select:not([multiple]):not([size])::-ms-expand { display: none; }

/*
 * Disabled
 */

.uk-select:not([multiple]):not([size]):disabled {
    .svg-fill("../../images/form-select.svg", "#000", @form-select-disabled-icon-color);
    .hook-form-select-disabled;
}


/* Radio and checkbox
 * Note: Only works in Chrome, Safari, Opera and Edge
 ========================================================================== */

/*
 * 1. Style
 * 2. Make box more robust so it clips the child element
 * 3. Vertical alignment
 * 4. Remove default style
 * 5. Fix black background on iOS
 * 6. Center icons
 */

.uk-radio,
.uk-checkbox {
    /* 1 */
    display: inline-block;
    height: @form-radio-size;
    width: @form-radio-size;
    border: @form-radio-border-width solid @form-radio-border;
    /* 2 */
    overflow: hidden;
    /* 3 */
    margin-top: @form-radio-margin-top;
    vertical-align: middle;
    /* 4 */
    -webkit-appearance: none;
    /* 5 */
    background-color: @form-radio-background;
    /* 6 */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .hook-form-custom;
}

.uk-radio { border-radius: 50%; }

/* Focus */
.uk-radio:focus,
.uk-checkbox:focus {
    outline: none;
    border-color: @form-radio-focus-border;
    .hook-form-custom-focus;
}

/*
 * Checked
 */

.uk-radio:checked,
.uk-checkbox:checked,
.uk-checkbox:indeterminate {
    border-color: @form-radio-checked-border;
    background-color: @form-radio-checked-background;
    .hook-form-custom-checked;
}

/* Focus */
.uk-radio:checked:focus,
.uk-checkbox:checked:focus,
.uk-checkbox:indeterminate:focus {
    background-color: @form-radio-checked-focus-background;
    .hook-form-custom-checked-focus;
}

/*
 * Icons
 */

.uk-radio:checked { .svg-fill("../../images/form-radio.svg", "#000", @form-radio-checked-icon-color); }
.uk-checkbox:checked { .svg-fill("../../images/form-checkbox.svg", "#000", @form-radio-checked-icon-color); }
.uk-checkbox:indeterminate { .svg-fill("../../images/form-checkbox-indeterminate.svg", "#000", @form-radio-checked-icon-color); }

/*
 * Disabled
 */

.uk-radio:disabled,
.uk-checkbox:disabled {
    border-color: @form-radio-disabled-border;
    background-color: @form-radio-disabled-background;
    .hook-form-custom-disabled;
}

.uk-radio:disabled:checked { .svg-fill("../../images/form-radio.svg", "#000", @form-radio-disabled-icon-color); }
.uk-checkbox:disabled:checked { .svg-fill("../../images/form-checkbox.svg", "#000", @form-radio-disabled-icon-color); }
.uk-checkbox:disabled:indeterminate { .svg-fill("../../images/form-checkbox-indeterminate.svg", "#000", @form-radio-disabled-icon-color); }


/* Legend
 ========================================================================== */

/*
 * Legend
 * 1. Behave like block element
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove padding so people aren't caught out if they zero out fieldsets.
 * 4. Style
 */

.uk-legend {
    /* 1 */
    width: 100%;
    /* 2 */
    color: inherit;
    /* 3 */
    padding: 0;
    /* 4 */
    font-size: @form-legend-font-size;
    line-height: @form-legend-line-height;
    .hook-form-legend;
}


/* Layout modifiers
 ========================================================================== */

/*
 * Stacked
 */

.uk-form-stacked .uk-form-label {
    display: block;
    margin-bottom: @form-stacked-margin-bottom;
    .hook-form-stacked-label;
}

/*
 * Horizontal
 */

/* Tablet portrait and smaller */
@media (max-width: @breakpoint-small-max) {

    /* Behave like `uk-form-stacked` */
    .uk-form-horizontal .uk-form-label {
        display: block;
        margin-bottom: @form-stacked-margin-bottom;
        .hook-form-stacked-label;
    }

}

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {

    .uk-form-horizontal .uk-form-label {
        width: @form-horizontal-label-width;
        margin-top: @form-horizontal-label-margin-top;
        float: left;
        .hook-form-horizontal-label;
    }

    .uk-form-horizontal .uk-form-controls { margin-left: @form-horizontal-controls-margin-left; }

    /* Better vertical alignment if controls are checkboxes and radio buttons with text */
    .uk-form-horizontal .uk-form-controls-text { padding-top: @form-horizontal-controls-text-padding-top; }

}


/* Icons
 ========================================================================== */

/*
 * 1. Container fits its content
 * 2. Create position context
 * 3. Prevent content overflow because of `inline-block`
 */

.uk-form-icon-container {
    /* 1 */
    display: inline-block;
    /* 2 */
    position: relative;
    /* 3 */
    max-width: 100%;
}

/*
 * 1. Set container position and width
 * 2. Center icon vertically and horizontally
 * 3. Make form element clickable through icon
 * 4. Style
 */

.uk-form-icon {
    position: absolute;
    /* 1 */
    top: 0;
    bottom: 0;
    left: 0;
    width: @form-icon-width;
    /* 2 */
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* 3 */
    pointer-events: none;
    /* 4 */
    color: @form-icon-color;
}

.uk-form-icon-container:not(.uk-form-icon-flip) > .uk-input { padding-left: @form-icon-width; }

/*
 * Position modifier
 */

.uk-form-icon-flip > .uk-form-icon {
    right: 0;
    left: auto;
}

.uk-form-icon-flip > .uk-input { padding-right: @form-icon-width; }


// Hooks
// ========================================================================

.hook-form-misc;

.hook-form() {}
.hook-form-focus() {}
.hook-form-disabled() {}
.hook-form-danger() {}
.hook-form-success() {}
.hook-form-blank() {}
.hook-form-blank-focus() {}
.hook-form-select() {}
.hook-form-select-disabled() {}
.hook-form-custom() {}
.hook-form-custom-focus() {}
.hook-form-custom-checked() {}
.hook-form-custom-checked-focus() {}
.hook-form-custom-disabled() {}
.hook-form-custom-misc() {}
.hook-form-legend() {}
.hook-form-stacked-label() {}
.hook-form-horizontal-label() {}
.hook-form-misc() {}


// Dye
// ========================================================================

.dye-vars-default() {

    @form-border:                          fade(@dye-color, 80%);
    @form-background:                      fade(@dye-color, 80%);
    @form-color:                           @dye-inverse-color;
    @form-focus-border:                    @dye-color;
    @form-focus-background:                @dye-color;
    @form-focus-color:                     @dye-inverse-color;
    @form-placeholder-color:               fade(@dye-inverse-color, 70%);

    @form-radio-border:                    fade(@dye-color, 70%);
    @form-radio-focus-border:              @dye-color;
    @form-radio-checked-border:            @dye-color;
    @form-radio-checked-background:        transparent;
    @form-radio-checked-icon-color:        @dye-color;

}

.dye() {

    .dye-vars();
    .dye-hooks();

    .uk-input,
    .uk-select,
    .uk-textarea {
        border-color: @form-border;
        background-color: @form-background;
        color: @form-color;
        background-clip: padding-box;
        .hook-dye-form;

        &:focus {
            border-color: @form-focus-border;
            background-color: @form-focus-background;
            color: @form-focus-color;
            .hook-dye-form-focus;
        }
    }

    //
    // Placeholder
    //

    .uk-input:-ms-input-placeholder { color: @form-placeholder-color !important; }
    .uk-input::-moz-placeholder { color: @form-placeholder-color; }
    .uk-input::-webkit-input-placeholder { color: @form-placeholder-color; }

    .uk-textarea:-ms-input-placeholder { color: @form-placeholder-color !important; }
    .uk-textarea::-moz-placeholder { color: @form-placeholder-color; }
    .uk-textarea::-webkit-input-placeholder { color: @form-placeholder-color; }

    //
    // Radio and checkbox
    //

    .uk-radio,
    .uk-checkbox {
        border-color: @form-radio-border;
        background-color: @form-radio-background;
        .hook-dye-form-custom;
    }

    /* Focus */
    .uk-radio:focus,
    .uk-checkbox:focus { border-color: @form-radio-focus-border; }

    /* Checked */
    .uk-radio:checked,
    .uk-checkbox:checked,
    .uk-checkbox:indeterminate {
        border-color: @form-radio-checked-border;
        background-color: @form-radio-checked-background;
        .hook-dye-form-custom-checked;
    }

    /* Icon */
    .uk-radio:checked { .svg-fill("../../images/form-radio.svg", "#000", @form-radio-checked-icon-color); }
    .uk-checkbox:checked { .svg-fill("../../images/form-checkbox.svg", "#000", @form-radio-checked-icon-color); }
    .uk-checkbox:indeterminate { .svg-fill("../../images/form-checkbox-indeterminate.svg", "#000", @form-radio-checked-icon-color); }

}

.hook-dye-form() {}
.hook-dye-form-focus() {}
.hook-dye-form-custom() {}
.hook-dye-form-custom-checked() {}