// Name:            Grid
// Description:     Component to create responsive, fluid and nestable grids
//
// Component:       `uk-grid`
//
// Sub-objects:     `uk-grid-margin`
//                  `uk-grid-first`
//
// Modifiers:       `uk-grid-small`
//                  `uk-grid-medium`
//                  `uk-grid-large`
//                  `uk-grid-collapse`
//                  `uk-grid-divider`
//                  `uk-grid-match`
//
// ========================================================================


// Variables
// ========================================================================

@grid-gutter-horizontal:                        @global-gutter;
@grid-gutter-vertical:                          @grid-gutter-horizontal;
@grid-gutter-horizontal-l:                      @global-medium-gutter;
@grid-gutter-vertical-l:                        @grid-gutter-horizontal-l;

@grid-small-gutter-horizontal:                  @global-small-gutter;
@grid-small-gutter-vertical:                    @grid-small-gutter-horizontal;

@grid-medium-gutter-horizontal:                 @global-gutter;
@grid-medium-gutter-vertical:                   @grid-medium-gutter-horizontal;

@grid-large-gutter-horizontal:                  @global-medium-gutter;
@grid-large-gutter-vertical:                    @grid-large-gutter-horizontal;
@grid-large-gutter-horizontal-l:                @global-large-gutter;
@grid-large-gutter-vertical-l:                  @grid-large-gutter-horizontal-l;

@grid-divider-border:                           @global-border;
@grid-divider-border-width:                     1px;


/* ========================================================================
   Component: Grid
 ========================================================================== */

/*
 * 1. Allow cells to wrap into the next line
 * 2. Makes it more robust so that it can be used with other block elements like lists
 */

[is*="uk-grid"] {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* 1 */
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* 2 */
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
 * Grid cell
 * 1. Space is allocated solely based on content dimensions: 0 0 auto
 * 2. Makes it more robust so that it can be used with other block elements
 */

[is*="uk-grid"] > * {
    /* 1 */
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    /* 2 */
    margin: 0;
}

/*
 * Remove margin from the last-child
 */

[is*="uk-grid"] > * > :last-child { margin-bottom: 0; }


/* Gutter
 ========================================================================== */

/*
 * Default
 */

/* Horizontal */
[is*="uk-grid"] { margin-left: -@grid-gutter-horizontal; }
[is*="uk-grid"] > * { padding-left: @grid-gutter-horizontal; }

/* Vertical */
[is*="uk-grid"] + [is*="uk-grid"],
[is*="uk-grid"] > .uk-grid-margin { margin-top: @grid-gutter-vertical; }

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    /* Horizontal */
    [is*="uk-grid"] { margin-left: -@grid-gutter-horizontal-l; }
    [is*="uk-grid"] > * { padding-left: @grid-gutter-horizontal-l; }

    /* Vertical */
    [is*="uk-grid"] + [is*="uk-grid"],
    [is*="uk-grid"] > .uk-grid-margin { margin-top: @grid-gutter-vertical-l; }

}

/*
 * Small
 */

/* Horizontal */
.uk-grid-small { margin-left: -@grid-small-gutter-horizontal; }
.uk-grid-small > * { padding-left: @grid-small-gutter-horizontal; }

/* Vertical */
[is*="uk-grid"] + .uk-grid-small,
.uk-grid-small > .uk-grid-margin { margin-top: @grid-small-gutter-vertical; }

/*
 * Medium
 */

/* Horizontal */
.uk-grid-medium { margin-left: -@grid-medium-gutter-horizontal; }
.uk-grid-medium > * { padding-left: @grid-medium-gutter-horizontal; }

/* Vertical */
[is*="uk-grid"] + .uk-grid-medium,
.uk-grid-medium > .uk-grid-margin { margin-top: @grid-medium-gutter-vertical; }

/*
 * Large
 */

/* Horizontal */
.uk-grid-large { margin-left: -@grid-large-gutter-horizontal; }
.uk-grid-large > * { padding-left: @grid-large-gutter-horizontal; }

/* Vertical */
[is*="uk-grid"] + .uk-grid-large,
.uk-grid-large > .uk-grid-margin { margin-top: @grid-large-gutter-vertical; }

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    /* Horizontal */
    .uk-grid-large { margin-left: -@grid-large-gutter-horizontal-l; }
    .uk-grid-large > * { padding-left: @grid-large-gutter-horizontal-l; }

    /* Vertical */
    [is*="uk-grid"] + .uk-grid-large,
    .uk-grid-large > .uk-grid-margin { margin-top: @grid-large-gutter-vertical-l; }

}

/*
 * Collapse
 */

/* Horizontal */
.uk-grid-collapse { margin-left: 0; }
.uk-grid-collapse > * { padding-left: 0; }

/* Vertical */
[is*="uk-grid"] + .uk-grid-collapse,
.uk-grid-collapse > .uk-grid-margin { margin-top: 0; }


/* Divider
 ========================================================================== */

.uk-grid-divider > * { position: relative; }

.uk-grid-divider > :not(.uk-grid-first):before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: @grid-divider-border-width solid @grid-divider-border;
}

/* Vertical */
.uk-grid-divider > .uk-grid-first + .uk-grid-first:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-top: @grid-divider-border-width solid @grid-divider-border;
}

/*
 * Default
 */

/* Horizontal */
.uk-grid-divider { margin-left: -(@grid-gutter-horizontal * 2); }
.uk-grid-divider > * { padding-left: (@grid-gutter-horizontal * 2); }

.uk-grid-divider > :not(.uk-grid-first):before { left: @grid-gutter-horizontal; }

/* Vertical */
.uk-grid-divider > .uk-grid-first + .uk-grid-first { margin-top: (@grid-gutter-vertical * 2); }

.uk-grid-divider > .uk-grid-first + .uk-grid-first:before {
    top: -@grid-gutter-vertical;
    left: (@grid-gutter-horizontal * 2);
}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    /* Horizontal */
    .uk-grid-divider { margin-left: -(@grid-gutter-horizontal-l * 2); }
    .uk-grid-divider > * { padding-left: (@grid-gutter-horizontal-l * 2); }

    .uk-grid-divider > :not(.uk-grid-first):before { left: @grid-gutter-horizontal-l; }

    /* Vertical */
    .uk-grid-divider > .uk-grid-first + .uk-grid-first { margin-top: (@grid-gutter-vertical-l * 2); }

    .uk-grid-divider > .uk-grid-first + .uk-grid-first:before {
        top: -@grid-gutter-vertical-l;
        left: (@grid-gutter-horizontal-l * 2);
    }

}

/*
 * Small
 */

/* Horizontal */
.uk-grid-divider.uk-grid-small { margin-left: -(@grid-small-gutter-horizontal * 2); }
.uk-grid-divider.uk-grid-small > * { padding-left: (@grid-small-gutter-horizontal * 2); }

.uk-grid-divider.uk-grid-small > :not(.uk-grid-first):before { left: @grid-small-gutter-horizontal; }

/* Vertical */
.uk-grid-divider.uk-grid-small > .uk-grid-first + .uk-grid-first { margin-top: (@grid-small-gutter-vertical * 2); }

.uk-grid-divider.uk-grid-small > .uk-grid-first + .uk-grid-first:before {
    top: -@grid-small-gutter-vertical;
    left: (@grid-small-gutter-horizontal * 2);
}

/*
 * Medium
 */

/* Horizontal */
.uk-grid-divider.uk-grid-medium { margin-left: -(@grid-medium-gutter-horizontal * 2); }
.uk-grid-divider.uk-grid-medium > * { padding-left: (@grid-medium-gutter-horizontal * 2); }

.uk-grid-divider.uk-grid-medium > :not(.uk-grid-first):before { left: @grid-medium-gutter-horizontal; }

/* Vertical */
.uk-grid-divider.uk-grid-medium > .uk-grid-first + .uk-grid-first { margin-top: (@grid-medium-gutter-vertical * 2); }

.uk-grid-divider.uk-grid-medium > .uk-grid-first + .uk-grid-first:before {
    top: -@grid-medium-gutter-vertical;
    left: (@grid-medium-gutter-horizontal * 2);
}

/*
 * Large
 */

/* Horizontal */
.uk-grid-divider.uk-grid-large { margin-left: -(@grid-large-gutter-horizontal * 2); }
.uk-grid-divider.uk-grid-large > * { padding-left: (@grid-large-gutter-horizontal * 2); }

.uk-grid-divider.uk-grid-large > :not(.uk-grid-first):before { left: @grid-large-gutter-horizontal; }

/* Vertical */
.uk-grid-divider.uk-grid-large > .uk-grid-first + .uk-grid-first { margin-top: (@grid-large-gutter-vertical * 2); }

.uk-grid-divider.uk-grid-large > .uk-grid-first + .uk-grid-first:before {
    top: -@grid-large-gutter-vertical;
    left: (@grid-large-gutter-horizontal * 2);
}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    /* Horizontal */
    .uk-grid-divider.uk-grid-large { margin-left: -(@grid-large-gutter-horizontal-l * 2); }
    .uk-grid-divider.uk-grid-large > * { padding-left: (@grid-large-gutter-horizontal-l * 2); }

    .uk-grid-divider.uk-grid-large > :not(.uk-grid-first):before { left: @grid-large-gutter-horizontal-l; }

    /* Vertical */
    .uk-grid-divider.uk-grid-large > .uk-grid-first + .uk-grid-first { margin-top: (@grid-large-gutter-vertical-l * 2); }

    .uk-grid-divider.uk-grid-large > .uk-grid-first + .uk-grid-first:before {
        top: -@grid-large-gutter-vertical-l;
        left: (@grid-large-gutter-horizontal-l * 2);
    }

}


/* Match child of a grid cell
 ========================================================================== */

/*
 * Behave like a block element
 * 1. Wrap into the next line
 * 2. Take the full width
 */

.uk-grid-match > * {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* 1 */
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.uk-grid-match > * > * {
    /* 2 */
    -ms-flex: auto;
    -webkit-flex: auto;
    flex: auto;
    box-sizing: border-box;
}


// Hooks
// ========================================================================

.hook-grid-misc;

.hook-grid-misc() {}
