// Name:            Grid
// Description:     Component to create a responsive, fluid and nestable grid
//
// Component:       `uk-grid`
//
// Sub-objects:     `uk-grid-margin`
//                  `uk-grid-first`
//
// Modifiers:       `uk-grid-small`
//                  `uk-grid-medium`
//                  `uk-grid-large`
//                  `uk-grid-collapse`
//                  `uk-grid-divider`
//                  `uk-grid-match`
//
// ========================================================================


// Variables
// ========================================================================

@grid-gutter-horizontal:                        25px;
@grid-gutter-vertical:                          25px;
@grid-gutter-horizontal-l:                      40px;
@grid-gutter-vertical-l:                        40px;

@grid-gutter-small-horizontal:                  10px;
@grid-gutter-small-vertical:                    10px;

@grid-gutter-medium-horizontal:                 25px;
@grid-gutter-medium-vertical:                   25px;

@grid-gutter-large-horizontal:                  40px;
@grid-gutter-large-vertical:                    40px;
@grid-gutter-large-horizontal-l:                70px;
@grid-gutter-large-vertical-l:                  70px;

@grid-divider-border:                           #ddd;
@grid-divider-border-width:                     1px;


/* ========================================================================
   Component: Grid
 ========================================================================== */

/*
 * 1. Allow cells to wrap into the next line
 * 2. Makes it more robust so that it can be used with other block elements like lists
 */

uk-grid {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* 1 */
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* 2 */
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
 * Grid cell
 * 1. Space is allocated solely based on content dimensions: 0 0 auto
 * 2. Makes it more robust so that it can be used with other block elements
 */

uk-grid > * {
    /* 1 */
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    /* 2 */
    margin: 0;
}

/*
 * Remove margin from the last-child
 */

uk-grid > * > :last-child { margin-bottom: 0; }


/* Gutter
 ========================================================================== */

/*
 * Default
 */

/* Horizontal */
uk-grid { margin-left: -@grid-gutter-horizontal; }
uk-grid > * { padding-left: @grid-gutter-horizontal; }

/* Vertical */
uk-grid + uk-grid,
uk-grid > .uk-grid-margin { margin-top: @grid-gutter-vertical; }

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    /* Horizontal */
    uk-grid { margin-left: -@grid-gutter-horizontal-l; }
    uk-grid > * { padding-left: @grid-gutter-horizontal-l; }

    /* Vertical */
    uk-grid + uk-grid,
    uk-grid > .uk-grid-margin { margin-top: @grid-gutter-vertical-l; }

}

/*
 * Small
 */

/* Horizontal */
.uk-grid-small { margin-left: -@grid-gutter-small-horizontal; }
.uk-grid-small > * { padding-left: @grid-gutter-small-horizontal; }

/* Vertical */
uk-grid + .uk-grid-small,
.uk-grid-small > .uk-grid-margin { margin-top: @grid-gutter-small-vertical; }

/*
 * Medium
 */

/* Horizontal */
.uk-grid-medium { margin-left: -@grid-gutter-medium-horizontal; }
.uk-grid-medium > * { padding-left: @grid-gutter-medium-horizontal; }

/* Vertical */
uk-grid + .uk-grid-medium,
.uk-grid-medium > .uk-grid-margin { margin-top: @grid-gutter-medium-vertical; }

/*
 * Large
 */

/* Horizontal */
.uk-grid-large { margin-left: -@grid-gutter-large-horizontal; }
.uk-grid-large > * { padding-left: @grid-gutter-large-horizontal; }

/* Vertical */
uk-grid + .uk-grid-large,
.uk-grid-large > .uk-grid-margin { margin-top: @grid-gutter-large-vertical; }

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    /* Horizontal */
    .uk-grid-large { margin-left: -@grid-gutter-large-horizontal-l; }
    .uk-grid-large > * { padding-left: @grid-gutter-large-horizontal-l; }

    /* Vertical */
    uk-grid + .uk-grid-large,
    .uk-grid-large > .uk-grid-margin { margin-top: @grid-gutter-large-vertical-l; }

}

/*
 * Collapse
 */

/* Horizontal */
.uk-grid-collapse { margin-left: 0; }
.uk-grid-collapse > * { padding-left: 0; }

/* Vertical */
uk-grid + .uk-grid-collapse,
.uk-grid-collapse > .uk-grid-margin { margin-top: 0; }


/* Modifier: `uk-grid-divider`
 ========================================================================== */

/*
 * Divider
 */

.uk-grid-divider > * { position: relative; }

.uk-grid-divider > :not(.uk-grid-first):before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: @grid-divider-border-width solid @grid-divider-border;
}

/* Vertical */
.uk-grid-divider > .uk-grid-first + .uk-grid-first:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-top: @grid-divider-border-width solid @grid-divider-border;
}

/*
 * Default
 */

/* Horizontal */
.uk-grid-divider { margin-left: -(@grid-gutter-horizontal * 2); }
.uk-grid-divider > * { padding-left: (@grid-gutter-horizontal * 2); }

.uk-grid-divider > :not(.uk-grid-first):before { left: @grid-gutter-horizontal; }

/* Vertical */
.uk-grid-divider > .uk-grid-first + .uk-grid-first { margin-top: (@grid-gutter-vertical * 2); }

.uk-grid-divider > .uk-grid-first + .uk-grid-first:before {
    top: -@grid-gutter-vertical;
    left: (@grid-gutter-horizontal * 2);
}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    /* Horizontal */
    .uk-grid-divider { margin-left: -(@grid-gutter-horizontal-l * 2); }
    .uk-grid-divider > * { padding-left: (@grid-gutter-horizontal-l * 2); }

    .uk-grid-divider > :not(.uk-grid-first):before { left: @grid-gutter-horizontal-l; }

    /* Vertical */
    .uk-grid-divider > .uk-grid-first + .uk-grid-first { margin-top: (@grid-gutter-vertical-l * 2); }

    .uk-grid-divider > .uk-grid-first + .uk-grid-first:before {
        top: -@grid-gutter-vertical-l;
        left: (@grid-gutter-horizontal-l * 2);
    }

}

/*
 * Small
 */

/* Horizontal */
.uk-grid-divider.uk-grid-small { margin-left: -(@grid-gutter-small-horizontal * 2); }
.uk-grid-divider.uk-grid-small > * { padding-left: (@grid-gutter-small-horizontal * 2); }

.uk-grid-divider.uk-grid-small > :not(.uk-grid-first):before { left: @grid-gutter-small-horizontal; }

/* Vertical */
.uk-grid-divider.uk-grid-small > .uk-grid-first + .uk-grid-first { margin-top: (@grid-gutter-small-vertical * 2); }

.uk-grid-divider.uk-grid-small > .uk-grid-first + .uk-grid-first:before {
    top: -@grid-gutter-small-vertical;
    left: (@grid-gutter-small-horizontal * 2);
}

/*
 * Medium
 */

/* Horizontal */
.uk-grid-divider.uk-grid-medium { margin-left: -(@grid-gutter-medium-horizontal * 2); }
.uk-grid-divider.uk-grid-medium > * { padding-left: (@grid-gutter-medium-horizontal * 2); }

.uk-grid-divider.uk-grid-medium > :not(.uk-grid-first):before { left: @grid-gutter-medium-horizontal; }

/* Vertical */
.uk-grid-divider.uk-grid-medium > .uk-grid-first + .uk-grid-first { margin-top: (@grid-gutter-medium-vertical * 2); }

.uk-grid-divider.uk-grid-medium > .uk-grid-first + .uk-grid-first:before {
    top: -@grid-gutter-medium-vertical;
    left: (@grid-gutter-medium-horizontal * 2);
}

/*
 * Large
 */

/* Horizontal */
.uk-grid-divider.uk-grid-large { margin-left: -(@grid-gutter-large-horizontal * 2); }
.uk-grid-divider.uk-grid-large > * { padding-left: (@grid-gutter-large-horizontal * 2); }

.uk-grid-divider.uk-grid-large > :not(.uk-grid-first):before { left: @grid-gutter-large-horizontal; }

/* Vertical */
.uk-grid-divider.uk-grid-large > .uk-grid-first + .uk-grid-first { margin-top: (@grid-gutter-large-vertical * 2); }

.uk-grid-divider.uk-grid-large > .uk-grid-first + .uk-grid-first:before {
    top: -@grid-gutter-large-vertical;
    left: (@grid-gutter-large-horizontal * 2);
}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    /* Horizontal */
    .uk-grid-divider.uk-grid-large { margin-left: -(@grid-gutter-large-horizontal-l * 2); }
    .uk-grid-divider.uk-grid-large > * { padding-left: (@grid-gutter-large-horizontal-l * 2); }

    .uk-grid-divider.uk-grid-large > :not(.uk-grid-first):before { left: @grid-gutter-large-horizontal-l; }

    /* Vertical */
    .uk-grid-divider.uk-grid-large > .uk-grid-first + .uk-grid-first { margin-top: (@grid-gutter-large-vertical-l * 2); }

    .uk-grid-divider.uk-grid-large > .uk-grid-first + .uk-grid-first:before {
        top: -@grid-gutter-large-vertical-l;
        left: (@grid-gutter-large-horizontal-l * 2);
    }

}


/* Match panels in grids
 ========================================================================== */

/*
 * Behave like a block element
 * 1. Wrap into the next line
 * 2. Take the full width
 */

.uk-grid-match > * {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* 1 */
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.uk-grid-match > * > * {
    /* 2 */
    -ms-flex: auto;
    -webkit-flex: auto;
    flex: auto;
    box-sizing: border-box;
}


/* Web Component
 ========================================================================== */

[is="uk-grid"] {
    &:extend(uk-grid all);
}


// Hooks
// ========================================================================

.hook-grid-misc;

.hook-grid-misc() {}
