// Name:            Icon
// Description:     Component to create icons
//
// Component:       `uk-icon-*`
//
// Modifiers:       `uk-icon-small`
//                  `uk-icon-contain`
//                  `uk-icon-hover`
//                  `uk-icon-button`
//
// ========================================================================


// Variables
// ========================================================================

@icon-size:                                     20px;
@icon-small-size:                               13px;

@icon-hover-color:                              @global-muted-color;
@icon-hover-hover-color:                        @global-color;

@icon-button-size:                              35px;
@icon-button-border-radius:                     100%;
@icon-button-background:                        @global-muted-background;
@icon-button-color:                             @global-muted-color;

@icon-button-hover-background:                  darken(@global-muted-background, 5%);
@icon-button-hover-color:                       @global-color;

@icon-button-active-background:                 darken(@global-muted-background, 10%);
@icon-button-active-color:                      @global-color;


/* ========================================================================
   Component: Icon
 ========================================================================== */

/*
 * 1. Size
 * 2. Color
 * 3. Alignment
 */

[is*='uk-icon-'] {
    display: inline-block;
    width: @icon-size;
    height: @icon-size;
    fill: currentcolor;
    vertical-align: middle;
    background: url("@{global-image-path}/icons.svg") 50% 50% no-repeat;
}

/*
 * Remove `text-decoration` for anchors
 */

[is*='uk-icon-'],
[is*='uk-icon-']:hover,
[is*='uk-icon-']:focus { text-decoration: none; }


/* Size modifier
 ========================================================================== */

[is*='uk-icon-small'] {
    width: @icon-small-size;
    height: @icon-small-size;
}


/* Contain modifier
 ========================================================================== */

/*
 * Used to display images in icon dimensions
 */

.uk-icon-contain {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}


/* TODO: Alignment modifier
 ========================================================================== */

.uk-icon-justify {
    width: 1em;
    text-align: center;
}


/* Hover modifier
 ========================================================================== */

.uk-icon-hover {
    color: @icon-hover-color;
    .hook-icon-hover;
}

.uk-icon-hover:hover,
.uk-icon-hover:focus {
    color: @icon-hover-hover-color;
    .hook-icon-hover-hover;
}


/* Button modifier
 ========================================================================== */

/*
 * 1. Center icon vertically and horizontal
 */

.uk-icon-button {
    box-sizing: border-box;
    width: @icon-button-size;
    height: @icon-button-size;
    border-radius: @icon-button-border-radius;
    background: @icon-button-background;
    color: @icon-button-color;
    /* 1 */
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    .hook-icon-button;
}

/* Hover + Focus */
.uk-icon-button:hover,
.uk-icon-button:focus { // 1
    background-color: @icon-button-hover-background;
    color: @icon-button-hover-color;
    /* 2 */
    outline: none;
    .hook-icon-button-hover;
}

/* Active */
.uk-icon-button:active {
    background-color: @icon-button-active-background;
    color: @icon-button-active-color;
    .hook-icon-button-active;
}


// Hooks
// ========================================================================

.hook-icon-misc;

.hook-icon-hover() {}
.hook-icon-hover-hover() {}
.hook-icon-button() {}
.hook-icon-button-hover() {}
.hook-icon-button-active() {}
.hook-icon-misc() {}