// Name:            Inverse
// Description:     Utilities to adjust colors in general for light or dark backgrounds
//
// Component:       `uk-inverse`
//                  `uk-light`
//                  `uk-dark`
//
// ========================================================================


// Variables
// ========================================================================

@inverse-color:                                @global-light-color;
@inverse-contrast-color:                       @global-color;
@inverse-muted-color:                          fade(@inverse-color, 70%);

@inverse-primary-background:                   @inverse-color;
@inverse-muted-background:                     fade(@inverse-color, 80%);

@inverse-border:                               fade(@inverse-color, 20%);

//
// Components
//

@inverse-base-color:                           @inverse-color;
@inverse-base-link-color:                      @inverse-muted-color;
@inverse-base-link-text-decoration:            none;
@inverse-base-link-hover-color:                @inverse-color;
@inverse-base-link-hover-text-decoration:      underline;
@inverse-base-code-color:                      @inverse-color;
@inverse-base-em-color:                        @inverse-color;
@inverse-base-heading-color:                   @inverse-color;
@inverse-base-hr-border:                       @inverse-border;

@inverse-list-line-border:                     @inverse-border;
@inverse-list-bullet-icon-color:               @inverse-color;

@inverse-form-border:                          fade(@inverse-color, 80%);
@inverse-form-background:                      fade(@inverse-color, 80%);
@inverse-form-color:                           @inverse-contrast-color;
@inverse-form-focus-border:                    @inverse-color;
@inverse-form-focus-background:                @inverse-color;
@inverse-form-focus-color:                     @inverse-contrast-color;
@inverse-form-placeholder-color:               fade(@inverse-contrast-color, 70%);

@inverse-button-default-background:            @inverse-primary-background;
@inverse-button-default-color:                 @inverse-contrast-color;
@inverse-button-default-hover-background:      @inverse-muted-background;
@inverse-button-default-hover-color:           @inverse-contrast-color;
@inverse-button-default-active-background:     fade(@inverse-muted-background, 70%);
@inverse-button-default-active-color:          @inverse-contrast-color;
@inverse-button-primary-background:            @inverse-primary-background;
@inverse-button-primary-color:                 @inverse-contrast-color;
@inverse-button-primary-hover-background:      @inverse-muted-background;
@inverse-button-primary-hover-color:           @inverse-contrast-color;
@inverse-button-primary-active-background:     fade(@inverse-muted-background, 70%);
@inverse-button-primary-active-color:          @inverse-contrast-color;
@inverse-button-text-color:                    @inverse-muted-color;
@inverse-button-text-hover-color:              @inverse-color;
@inverse-button-text-disabled-color:           @inverse-muted-color;

@inverse-grid-divider-border:                  @inverse-border;

@inverse-nav-parent-icon-color:                @inverse-color;
@inverse-nav-default-item-color:               @inverse-muted-color;
@inverse-nav-default-item-hover-color:         @inverse-color;
@inverse-nav-default-item-active-color:        @inverse-color;
@inverse-nav-default-header-color:             @inverse-color;
@inverse-nav-default-divider-border:           @inverse-border;
@inverse-nav-default-sublist-item-color:       @inverse-muted-color;
@inverse-nav-default-sublist-item-hover-color: @inverse-color;

@inverse-navbar-nav-item-color:                @inverse-muted-color;
@inverse-navbar-nav-item-hover-color:          @inverse-color;
@inverse-navbar-nav-item-onclick-color:        @inverse-color;
@inverse-navbar-nav-item-active-color:         @inverse-color;
@inverse-navbar-item-color:                    @inverse-color;

@inverse-subnav-item-color:                    @inverse-muted-color;
@inverse-subnav-item-hover-color:              @inverse-color;
@inverse-subnav-item-active-color:             @inverse-color;
@inverse-subnav-line-divider-border:           @inverse-border;
@inverse-subnav-pill-item-hover-background:    @inverse-muted-background;
@inverse-subnav-pill-item-hover-color:         @inverse-contrast-color;
@inverse-subnav-pill-item-active-background:   @inverse-primary-background;
@inverse-subnav-pill-item-active-color:        @inverse-contrast-color;
@inverse-subnav-item-disabled-color:           @inverse-muted-color;

@inverse-breadcrumb-item-color:                @inverse-muted-color;
@inverse-breadcrumb-item-hover-color:          @inverse-color;
@inverse-breadcrumb-item-active-color:         @inverse-color;
@inverse-breadcrumb-divider-color:             @inverse-muted-color;

@inverse-pagination-item-color:                @inverse-muted-color;
@inverse-pagination-item-hover-color:          @inverse-color;
@inverse-pagination-item-active-color:         @inverse-color;
@inverse-pagination-item-disabled-color:       @inverse-muted-color;

@inverse-tab-item-color:                       @inverse-muted-color;
@inverse-tab-item-hover-color:                 @inverse-color;
@inverse-tab-item-active-color:                @inverse-color;
@inverse-tab-item-disabled-color:              @inverse-muted-color;

@inverse-icon-hover-color:                     @inverse-muted-color;
@inverse-icon-hover-hover-color:               @inverse-color;
@inverse-icon-button-background:               @inverse-primary-background;
@inverse-icon-button-color:                    @inverse-contrast-color;
@inverse-icon-button-hover-background:         @inverse-muted-background;
@inverse-icon-button-hover-color:              @inverse-contrast-color;
@inverse-icon-button-active-background:        fade(@inverse-muted-background, 70%);
@inverse-icon-button-active-color:             @inverse-contrast-color;

@inverse-text-lead-color:                      @inverse-color;
@inverse-text-meta-color:                      @inverse-muted-color;
@inverse-text-muted-color:                     @inverse-muted-color;
@inverse-text-primary-color:                   @inverse-color;

@inverse-column-rule-color:                    @inverse-border;




/* ========================================================================
   Mixin: Inverse
 ========================================================================== */

.inverse() {

    color: @inverse-base-color;

    // Base
    // ========================================================================

    //
    // Link
    //

    :not(.uk-nav):not(.uk-nav-sub):not(.uk-navbar-nav):not(.uk-subnav):not(.uk-breadcrumb):not(.uk-pagination):not(.uk-tab) > * > a:not([class]),
    .uk-link  {
        color: @inverse-base-link-color;
        text-decoration: @inverse-base-link-text-decoration;
        .hook-inverse-base-link;
    }

    :not(.uk-nav):not(.uk-nav-sub):not(.uk-navbar-nav):not(.uk-subnav):not(.uk-breadcrumb):not(.uk-pagination):not(.uk-tab) > * > a:not([class]):hover,
    .uk-link:hover {
        color: @inverse-base-link-hover-color;
        text-decoration: @inverse-base-link-hover-text-decoration;
        .hook-inverse-base-link-hover;
    }

    //
    // Code
    //

    :not(pre) > code,
    :not(pre) > kbd,
    :not(pre) > samp {
        color: @inverse-base-code-color;
        .hook-inverse-base-code;
    }

    //
    // Emphasize
    //

    em { color: @inverse-base-em-color; }

    //
    // Headings
    //

    h1, .uk-h1,
    h2, .uk-h2,
    h3, .uk-h3,
    h4, .uk-h4,
    h5, .uk-h5,
    h6, .uk-h6 {
        color: @inverse-base-heading-color;
        .hook-inverse-base-heading;
    }

    //
    // Horizontal rules
    //

    hr {
        border-top-color: @inverse-base-hr-border;
        .hook-inverse-base-hr;
    }


    // List
    // ========================================================================

    .uk-list-line > li:nth-child(n+2) {
        border-top-color: @inverse-list-line-border;
        .hook-inverse-list-line;
    }

    .uk-list-bullet > li:before {
        .svg-fill("../images/list-bullet.svg", "#000", @inverse-list-bullet-icon-color);
        .hook-inverse-list-bullet;
    }


    // Form
    // ========================================================================

    .uk-form select,
    .uk-form textarea,
    .uk-form input:not([type]),
    .uk-form input[type="text"],
    .uk-form input[type="password"],
    .uk-form input[type="datetime"],
    .uk-form input[type="datetime-local"],
    .uk-form input[type="date"],
    .uk-form input[type="month"],
    .uk-form input[type="time"],
    .uk-form input[type="week"],
    .uk-form input[type="number"],
    .uk-form input[type="email"],
    .uk-form input[type="url"],
    .uk-form input[type="search"],
    .uk-form input[type="tel"],
    .uk-form input[type="color"] {
        border-color: @inverse-form-border;
        background: @inverse-form-background;
        color: @inverse-form-color;
        background-clip: padding-box;
        .hook-inverse-form;

        &:focus {
            border-color: @inverse-form-focus-border;
            background: @inverse-form-focus-background;
            color: @inverse-form-focus-color;
            .hook-inverse-form-focus;
        }
    }

    //
    // Placeholder
    //

    .uk-form :-ms-input-placeholder { color: @inverse-form-placeholder-color !important; }
    .uk-form ::-moz-placeholder { color: @inverse-form-placeholder-color; }
    .uk-form ::-webkit-input-placeholder { color: @inverse-form-placeholder-color; }


    // Button
    // ========================================================================

    //
    // Default
    //

    .uk-button-default {
        color: @inverse-button-default-color;
        background: @inverse-button-default-background;
        .hook-inverse-button-default;
    }

    .uk-button-default:hover,
    .uk-button-default:focus {
        background-color: @inverse-button-default-hover-background;
        color: @inverse-button-default-hover-color;
        .hook-inverse-button-default-hover;
    }

    .uk-button-default:active,
    .uk-button-default.uk-active {
        background-color: @inverse-button-default-active-background;
        color: @inverse-button-default-active-color;
        .hook-inverse-button-default-active;
    }

    //
    // Primary
    //

    .uk-button-primary {
        background-color: @inverse-button-primary-background;
        color: @inverse-button-primary-color;
        .hook-inverse-button-primary;
    }

    .uk-button-primary:hover,
    .uk-button-primary:focus {
        background-color: @inverse-button-primary-hover-background;
        color: @inverse-button-primary-hover-color;
        .hook-inverse-button-primary-hover;
    }

    .uk-button-primary:active,
    .uk-button-primary.uk-active {
        background-color: @inverse-button-primary-active-background;
        color: @inverse-button-primary-active-color;
        .hook-inverse-button-primary-active;
    }

    //
    // Text
    //

    .uk-button-text {
        color: @inverse-button-text-color;
        .hook-inverse-button-text;
    }

    .uk-button-text:hover,
    .uk-button-text:focus {
        color: @inverse-button-text-hover-color;
        .hook-inverse-button-text-hover;
    }

    .uk-button-text:disabled {
        color: @inverse-button-text-disabled-color;
        .hook-inverse-button-text-disabled;
    }


    // Grid
    // ========================================================================

    .uk-grid-divider > :not(.uk-grid-first):before { border-left-color: @inverse-grid-divider-border; }
    .uk-grid-divider > .uk-grid-first + .uk-grid-first:before { border-top-color: @inverse-grid-divider-border; }


    // Nav
    // ========================================================================

    //
    // Parent icon modifier
    //

    .uk-nav-parent-icon > .uk-parent > a:after {
        .svg-fill("../images/nav-parent-close.svg", "#000", @inverse-nav-parent-icon-color);
        .hook-inverse-nav-parent-icon;
    }

    .uk-nav-parent-icon > .uk-parent.uk-open > a:after { .svg-fill("../images/nav-parent-open.svg", "#000", @inverse-nav-parent-icon-color); }

    //
    // Items
    //

    .uk-nav-default > li > a {
        color: @inverse-nav-default-item-color;
        .hook-inverse-nav-default-item;
    }

    .uk-nav-default > li > a:hover,
    .uk-nav-default > li > a:focus {
        color: @inverse-nav-default-item-hover-color;
        .hook-inverse-nav-default-item-hover;
    }

    .uk-nav-default > li.uk-active > a {
        color: @inverse-nav-default-item-active-color;
        .hook-inverse-nav-default-item-active;
    }

    //
    // Header
    //

    .uk-nav-default .uk-nav-header {
        color: @inverse-nav-default-header-color;
        .hook-inverse-nav-default-header;
    }

    //
    // Divider
    //

    .uk-nav-default .uk-nav-divider {
        border-top-color: @inverse-nav-default-divider-border;
        .hook-inverse-nav-default-divider;
    }

    //
    // Sublists
    //

    .uk-nav-default .uk-nav-sub a { color: @inverse-nav-default-sublist-item-color; }

    .uk-nav-default .uk-nav-sub a:hover,
    .uk-nav-default .uk-nav-sub a:focus { color: @inverse-nav-default-sublist-item-hover-color; }


    // Navbar
    // ========================================================================


    .uk-navbar-nav > li > a {
        color: @inverse-navbar-nav-item-color;
        .hook-inverse-navbar-nav-item;
    }

    .uk-navbar-nav > li:hover > a,
    .uk-navbar-nav > li > a:focus,
    .uk-navbar-nav > li.uk-open > a {
        color: @inverse-navbar-nav-item-hover-color;
        .hook-inverse-navbar-nav-item-hover;
    }

    .uk-navbar-nav > li > a:active {
        color: @inverse-navbar-nav-item-onclick-color;
        .hook-inverse-navbar-nav-item-onclick;
    }

    .uk-navbar-nav > li.uk-active > a {
        color: @inverse-navbar-nav-item-active-color;
        .hook-inverse-navbar-nav-item-active;
    }

    .uk-navbar-item {
        color: @inverse-navbar-item-color;
        .hook-inverse-navbar-item;
    }


    // Subnav
    // ========================================================================

    .uk-subnav > * > a {
        color: @inverse-subnav-item-color;
        .hook-inverse-subnav-item;
    }

    .uk-subnav > * > a:hover,
    .uk-subnav > * > a:focus {
        color: @inverse-subnav-item-hover-color;
        .hook-inverse-subnav-item-hover;
    }

    .uk-subnav > .uk-active > a {
        color: @inverse-subnav-item-active-color;
        .hook-inverse-subnav-item-active;
    }

    //
    // Line
    //

    .uk-subnav-line > :nth-child(n+2):not(.uk-row-first):before {
        border-left-color: @inverse-subnav-line-divider-border;
        .hook-inverse-subnav-line-divider;
    }

    //
    // Pill
    //

    .uk-subnav-pill > * > a:hover,
    .uk-subnav-pill > * > a:focus {
        background: @inverse-subnav-pill-item-hover-background;
        color: @inverse-subnav-pill-item-hover-color;
        .hook-inverse-subnav-pill-item-hover;
    }

    .uk-subnav-pill > .uk-active > a {
        background: @inverse-subnav-pill-item-active-background;
        color: @inverse-subnav-pill-item-active-color;
        .hook-inverse-subnav-pill-item-active;
    }

    //
    // Disabled
    //

    .uk-subnav > .uk-disabled > a {
        color: @inverse-subnav-item-disabled-color;
        .hook-inverse-subnav-item-disabled;
    }


    // Breadcrumb
    // ========================================================================

    .uk-breadcrumb > * > * {
        color: @inverse-breadcrumb-item-color;
        .hook-inverse-breadcrumb-item;
    }

    .uk-breadcrumb > * > :hover,
    .uk-breadcrumb > * > :focus {
        color: @inverse-breadcrumb-item-hover-color;
        .hook-inverse-breadcrumb-item-hover;
    }

    .uk-breadcrumb > :last-child > * {
        color: @inverse-breadcrumb-item-active-color;
        .hook-inverse-breadcrumb-item-active;
    }

    //
    // Divider
    //

    .uk-breadcrumb > :nth-child(n+2):not(.uk-row-first):before {
        color: @inverse-breadcrumb-divider-color;
        .hook-inverse-breadcrumb-divider;
    }


    // Pagination
    // ========================================================================

    .uk-pagination > * > * {
        color: @inverse-pagination-item-color;
        .hook-inverse-pagination-item;
    }

    .uk-pagination > * > :hover,
    .uk-pagination > * > :focus {
        color: @inverse-pagination-item-hover-color;
        .hook-inverse-pagination-item-hover;
    }

    .uk-pagination > .uk-active > * {
        color: @inverse-pagination-item-active-color;
        .hook-inverse-pagination-item-active;
    }

    .uk-pagination > .uk-disabled > * {
        color: @inverse-pagination-item-disabled-color;
        .hook-inverse-pagination-item-disabled;
    }


    // Tab
    // ========================================================================

    .uk-tab > * > a {
        color: @inverse-tab-item-color;
        .hook-inverse-tab-item;
    }

    .uk-tab > * > a:hover,
    .uk-tab > * > a:focus{
        color: @inverse-tab-item-hover-color;
        .hook-inverse-tab-item-hover;
    }

    .uk-tab > .uk-active > a {
        color: @inverse-tab-item-active-color;
        .hook-inverse-tab-item-active;
    }

    .uk-tab > .uk-disabled > a {
        color: @inverse-tab-item-disabled-color;
        .hook-inverse-tab-item-disabled;
    }


    // Icon
    // ========================================================================

    //
    // Hover
    //

    .uk-icon-hover {
        color: @inverse-icon-hover-color;
        .hook-inverse-icon-hover;
    }

    .uk-icon-hover:hover {
        color: @inverse-icon-hover-hover-color;
        .hook-inverse-icon-hover-hover;
    }

    //
    // Button
    //

    .uk-icon-button {
        background: @inverse-icon-button-background;
        color: @inverse-icon-button-color;
        .hook-inverse-icon-button;
    }

    .uk-icon-button:hover,
    .uk-icon-button:focus {
        background-color: @inverse-icon-button-hover-background;
        color: @inverse-icon-button-hover-color;
        .hook-inverse-icon-button-hover;
    }

    .uk-icon-button:active {
        background-color: @inverse-icon-button-active-background;
        color: @inverse-icon-button-active-color;
        .hook-inverse-icon-button-active;
    }


    // Text
    // ========================================================================

    .uk-text-lead {
        color: @inverse-text-lead-color;
        .hook-inverse-text-lead;
    }

    .uk-text-meta {
        color: @inverse-text-meta-color;
        .hook-inverse-text-meta;
    }

    .uk-text-muted { color: @inverse-text-muted-color !important; }
    .uk-text-primary { color: @inverse-text-primary-color !important; }


    // Column
    // ========================================================================

    .uk-column-divider {
        -webkit-column-rule-color: @inverse-column-rule-color;
        -moz-column-rule-color: @inverse-column-rule-color;
        column-rule-color: @inverse-column-rule-color;
    }


    // Misc hook
    // ========================================================================

    .hook-inverse-misc;

}


// The theme decides which class it implements, depending on its default color
// ========================================================================

// Light colors for dark backgrounds
.uk-light {
    .inverse;
}

// Dark colors for light backgrounds
.uk-dark {
    .hook-dark;
}


// Hooks
// ========================================================================

.hook-inverse-base-link() {}
.hook-inverse-base-link-hover() {}
.hook-inverse-base-code() {}
.hook-inverse-base-heading() {}
.hook-inverse-base-hr() {}

.hook-inverse-list-line() {}
.hook-inverse-list-bullet() {}

.hook-inverse-form() {}
.hook-inverse-form-focus() {}

.hook-inverse-button-default() {}
.hook-inverse-button-default-hover() {}
.hook-inverse-button-default-active() {}
.hook-inverse-button-primary() {}
.hook-inverse-button-primary-hover() {}
.hook-inverse-button-primary-active() {}
.hook-inverse-button-text() {}
.hook-inverse-button-text-hover() {}
.hook-inverse-button-text-disabled() {}

.hook-inverse-nav-parent-icon() {}
.hook-inverse-nav-default-item() {}
.hook-inverse-nav-default-item-hover() {}
.hook-inverse-nav-default-item-active() {}
.hook-inverse-nav-default-header() {}
.hook-inverse-nav-default-divider() {}

.hook-inverse-navbar-nav-item() {}
.hook-inverse-navbar-nav-item-hover() {}
.hook-inverse-navbar-nav-item-onclick() {}
.hook-inverse-navbar-nav-item-active() {}
.hook-inverse-navbar-item() {}

.hook-inverse-subnav-item() {}
.hook-inverse-subnav-item-hover() {}
.hook-inverse-subnav-item-active() {}
.hook-inverse-subnav-line-divider() {}
.hook-inverse-subnav-pill-item-hover() {}
.hook-inverse-subnav-pill-item-active() {}
.hook-inverse-subnav-item-disabled() {}

.hook-inverse-breadcrumb-item() {}
.hook-inverse-breadcrumb-item-hover() {}
.hook-inverse-breadcrumb-item-active() {}
.hook-inverse-breadcrumb-divider() {}

.hook-inverse-pagination-item() {}
.hook-inverse-pagination-item-hover() {}
.hook-inverse-pagination-item-active() {}
.hook-inverse-pagination-item-disabled() {}

.hook-inverse-tab-item() {}
.hook-inverse-tab-item-hover() {}
.hook-inverse-tab-item-active() {}
.hook-inverse-tab-item-disabled() {}

.hook-inverse-icon-hover() {}
.hook-inverse-icon-hover-hover() {}
.hook-inverse-icon-button() {}
.hook-inverse-icon-button-hover() {}
.hook-inverse-icon-button-active() {}

.hook-inverse-text-lead() {}
.hook-inverse-text-meta() {}

.hook-inverse-misc() {}

.hook-light() {}
.hook-dark() {}