// Name:            Layout
// Description:     TODO
//
// Component:       `uk-clearfix`
//                  `uk-float-*`
//                  `uk-align-*`
//                  `uk-display-*`
//
// ========================================================================


// Variables
// ========================================================================

@utility-align-horizontal:                      15px;
@utility-align-vertical:                        15px;


/* ========================================================================
   Component: Layout
 ========================================================================== */


/* Panel
 ========================================================================== */

/*
 * Micro clearfix to make articles more robust
 */

.uk-panel:before,
.uk-panel:after {
    content: "";
    display: table;
}

.uk-panel:after { clear: both; }

/*
 * Remove margin from the last-child
 */

.uk-panel > :last-child { margin-bottom: 0; }


/* Cleafix
 ========================================================================== */

/*
 * 1. `table-cell` is used with `:before` because `table` creates a 1px gap when it becomes a flex item, only in Webkit
 * 2. `table` is used again with `:after` because `clear` only works with block elements.
 * Note: `display: block` with `overflow: hidden` is currently not working in the latest Safari
 */

/* 1 */
.uk-clearfix:before {
    content: "";
    display: table-cell;
}

/* 2 */
.uk-clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* Float
 ========================================================================== */

/*
 * 1. Prevent content overflow
 */

.uk-float-left { float: left; }
.uk-float-right { float: right; }

/* 1 */
[class*='uk-float-'] { max-width: 100%; }


/* Overfow
 ========================================================================== */

.uk-overflow-hidden { overflow: hidden; }

/*
 * Enable scrollbars if content is clipped
 */

.uk-overflow-auto {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.uk-overflow-auto > :last-child { margin-bottom: 0; }


/* Alignment
 ========================================================================== */

[class*='uk-align'] {
    display: block;
    margin-top: 0;
    margin-bottom: @utility-align-vertical;
}

[class*='uk-align-left'] { margin-right: @utility-align-horizontal; }
[class*='uk-align-right'] { margin-left: @utility-align-horizontal; }

/* Default */
.uk-align-left { float: left; }
.uk-align-right { float: right; }
.uk-align-none { float: none; }

.uk-align-center {
    margin-left: auto;
    margin-right: auto;
}

/* Phone landscape and bigger */
@media (min-width: @breakpoint-small) {

    .uk-align-left\@s { float: left; }
    .uk-align-right\@s { float: right; }
    .uk-align-none\@s { float: none; }

    .uk-align-center\@s {
        margin-left: auto;
        margin-right: auto;
    }

}

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {

    .uk-align-left\@m { float: left; }
    .uk-align-right\@m { float: right; }
    .uk-align-none\@m { float: none; }

    .uk-align-center\@m {
        margin-left: auto;
        margin-right: auto;
    }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    .uk-align-left\@l { float: left; }
    .uk-align-right\@l { float: right; }
    .uk-align-none\@l { float: none; }

    .uk-align-center\@l {
        margin-left: auto;
        margin-right: auto;
    }

}

/* Large screen and bigger */
@media (min-width: @breakpoint-xlarge) {

    .uk-align-left\@xl { float: left; }
    .uk-align-right\@xl { float: right; }
    .uk-align-none\@xl { float: none; }

    .uk-align-center\@xl {
        margin-left: auto;
        margin-right: auto;
    }

}


/* Display
 ========================================================================== */

/*
 * 1. Prevent content overflow
 */

.uk-display-block { display: block !important; }
.uk-display-inline { display: inline !important; }

.uk-display-inline-block {
    display: inline-block !important;
    /* 1 */
    max-width: 100%;
}


// Hooks
// ========================================================================

.hook-layout-misc;

.hook-layout-misc() {}
