// Name:            Margin
// Description:     TODO
//
// Component:       `uk-margin-*`
//                  `uk-margin-small-*`
//                  `uk-margin-large-*`
//                  `uk-margin-xlarge-*`
//                  `uk-margin-remove-*`
//                  `uk-margin-auto`
//
// ========================================================================


// Variables
// ========================================================================

@utility-margin:                                25px;
@utility-margin-small:                          5px;

@utility-margin-large:                          40px;
@utility-margin-large-l:                        70px;

@utility-margin-xlarge:                         40px;
@utility-margin-xlarge-m:                       70px;
@utility-margin-xlarge-l:                      140px;


/* ========================================================================
   Component: Margin
 ========================================================================== */

/*
 * Default (Medium)
 */

.uk-margin { margin-bottom: @utility-margin; }
* + .uk-margin { margin-top: @utility-margin; }

.uk-margin-top { margin-top: @utility-margin !important; }
.uk-margin-bottom { margin-bottom: @utility-margin !important; }
.uk-margin-left { margin-left: @utility-margin !important; }
.uk-margin-right { margin-right: @utility-margin !important; }


/* Small
 ========================================================================== */

.uk-margin-small { margin-bottom: @utility-margin-small; }
* + .uk-margin-small { margin-top: @utility-margin-small; }

.uk-margin-small-top { margin-top: @utility-margin-small !important; }
.uk-margin-small-bottom { margin-bottom: @utility-margin-small !important; }
.uk-margin-small-left { margin-left: @utility-margin-small !important; }
.uk-margin-small-right { margin-right: @utility-margin-small !important; }


/* Large
 ========================================================================== */

.uk-margin-large { margin-bottom: @utility-margin-large; }
* + .uk-margin-large { margin-top: @utility-margin-large; }

.uk-margin-large-top { margin-top: @utility-margin-large !important; }
.uk-margin-large-bottom { margin-bottom: @utility-margin-large !important; }
.uk-margin-large-left { margin-left: @utility-margin-large !important; }
.uk-margin-large-right { margin-right: @utility-margin-large !important; }

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    .uk-margin-large { margin-bottom: @utility-margin-large-l; }
    * + .uk-margin-large { margin-top: @utility-margin-large-l; }

    .uk-margin-large-top { margin-top: @utility-margin-large-l !important; }
    .uk-margin-large-bottom { margin-bottom: @utility-margin-large-l !important; }
    .uk-margin-large-left { margin-left: @utility-margin-large-l !important; }
    .uk-margin-large-right { margin-right: @utility-margin-large-l !important; }

}


/* XLarge
 ========================================================================== */

.uk-margin-xlarge { margin-bottom: @utility-margin-xlarge; }
* + .uk-margin-xlarge { margin-top: @utility-margin-xlarge; }

.uk-margin-xlarge-top { margin-top: @utility-margin-xlarge !important; }
.uk-margin-xlarge-bottom { margin-bottom: @utility-margin-xlarge !important; }
.uk-margin-xlarge-left { margin-left: @utility-margin-xlarge !important; }
.uk-margin-xlarge-right { margin-right: @utility-margin-xlarge !important; }

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {

    .uk-margin-xlarge { margin-bottom: @utility-margin-xlarge-m; }
    * + .uk-margin-xlarge { margin-top: @utility-margin-xlarge-m; }

    .uk-margin-xlarge-top { margin-top: @utility-margin-xlarge-m !important; }
    .uk-margin-xlarge-bottom { margin-bottom: @utility-margin-xlarge-m !important; }
    .uk-margin-xlarge-left { margin-left: @utility-margin-xlarge-m !important; }
    .uk-margin-xlarge-right { margin-right: @utility-margin-xlarge-m !important; }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    .uk-margin-xlarge { margin-bottom: @utility-margin-xlarge-l; }
    * + .uk-margin-xlarge { margin-top: @utility-margin-xlarge-l; }

    .uk-margin-xlarge-top { margin-top: @utility-margin-xlarge-l !important; }
    .uk-margin-xlarge-bottom { margin-bottom: @utility-margin-xlarge-l !important; }
    .uk-margin-xlarge-left { margin-left: @utility-margin-xlarge-l !important; }
    .uk-margin-xlarge-right { margin-right: @utility-margin-xlarge-l !important; }

}


/* Remove
 ========================================================================== */

.uk-margin-remove { margin: 0 !important; }
.uk-margin-remove-top { margin-top: 0 !important; }
.uk-margin-remove-bottom { margin-bottom: 0 !important; }

.uk-margin-remove-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


/* Center
 ========================================================================== */

.uk-margin-auto {
    margin-left: auto;
    margin-right: auto;
}


// Hooks
// ========================================================================

.hook-margin-misc;

.hook-margin-misc() {}
