// Name:            Off-canvas
// Description:     Defines styles for an off-canvas sidebar that slides in and out of the page
//
// Component:       `uk-offcanvas`
//
// Sub-objects:     `uk-offcanvas-page`
//                  `uk-offcanvas-bar`
//                  `uk-offcanvas-close`
//
// Modifiers:       `uk-offcanvas-bar-flip`
//
// States:          `uk-active`
//
// ========================================================================



// Variables
// ========================================================================

@offcanvas-z-index:                             1000;
@offcanvas-background:                          rgba(0,0,0,0.1);

@offcanvas-bar-width:                           270px;
@offcanvas-bar-padding-vertical:                20px;
@offcanvas-bar-padding-horizontal:              20px;
@offcanvas-bar-background:                      #333;


/* ========================================================================
   Component: Off-canvas
 ========================================================================== */

/*
 * 1. Hide by default
 * 2. Set position
 * 3. Mask the background page
 */

.uk-offcanvas {
    /* 1 */
    display: none;
    /* 2 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @offcanvas-z-index;
    /* 3 */
    background: @offcanvas-background;
    .hook-offcanvas;
}

.uk-offcanvas.uk-active { display: block; }


/* Page (`html` element)
 ========================================================================== */

/*
 * 1. Prevent scrollbar
 * 2. Prepare reveal and push animations
 * Note: JS sets a fixed width to prevent layout jumping caused by removing the scrollbar
 */

.uk-offcanvas-page {
    /* 1 */
    overflow: hidden;
    /* 2 */

}


/* Bar
 ========================================================================== */

/*
 * 1. Set position
 * 2. Size and style
 * 3. Allow scrolling
 */

.uk-offcanvas-bar {
    /* 1 */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: @offcanvas-z-index + 1;
    /* 2 */
    box-sizing: border-box;
    width: @offcanvas-bar-width;
    max-width: 100%;
    padding: @offcanvas-bar-padding-vertical @offcanvas-bar-padding-horizontal;
    background: @offcanvas-bar-background;
    /* 3 */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .hook-offcanvas-bar;
}


/* Animation modifiers
 ========================================================================== */

/*
 * Overlay
 */

.uk-offcanvas-overlay .uk-offcanvas-bar {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.uk-offcanvas-overlay .uk-offcanvas.uk-active .uk-offcanvas-bar {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

/*
 * Reveal
 */

.uk-offcanvas-reveal {
    -webkit-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
    margin-left: @offcanvas-bar-width;
}

.uk-offcanvas-reveal .uk-offcanvas.uk-active {
    z-index: -1
}

/*
 * Push
 */

.uk-offcanvas-push {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -webkit-transform: translateX(@offcanvas-bar-width);
    transform: translateX(@offcanvas-bar-width);
}

.uk-offcanvas-push .uk-offcanvas.uk-active .uk-offcanvas-bar {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}



/* Modifier `uk-offcanvas-bar-flip`
 ========================================================================== */

.uk-offcanvas-bar-flip {
    left: auto;
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}



// Hooks
// ========================================================================

.hook-offcanvas-misc;

.hook-offcanvas() {}
.hook-offcanvas-bar() {}
.hook-offcanvas-panel() {}
.hook-offcanvas-misc() {}
