// Name:            Overlay
// Description:     Defines styles for image overlays
//
// Component:       `uk-overlay`
//
// Sub-objects:     `uk-overlay-panel`
//                  `uk-overlay-hover`
//                  `uk-overlay-active`
//                  `uk-overlay-icon`
//
// Modifier:        `uk-overlay-background`
//                  `uk-overlay-image`
//                  `uk-overlay-top`
//                  `uk-overlay-bottom`
//                  `uk-overlay-left`
//                  `uk-overlay-right`
//                  `uk-overlay-fade`
//                  `uk-overlay-scale`
//                  `uk-overlay-spin`
//                  `uk-overlay-grayscale`
//                  `uk-overlay-slide-top`
//                  `uk-overlay-slide-bottom`
//                  `uk-overlay-slide-left`
//                  `uk-overlay-slide-right`
//
// States:          `uk-hover`
//                  `uk-active`
//                  `uk-ignore`
//
// Uses:            Icon: `[class*='uk-icon-']`
//                  `uk-border-circle`
//
// Markup:
//
// <!-- uk-overlay -->
// <figure class="uk-overlay" href="">
//     <img src="" alt="">
//     <figcaption class="uk-overlay-panel"></figcaption>
// </figure>
//
// ========================================================================


// Variables
// ========================================================================

@overlay-icon-color:                            @global-color;
@overlay-icon-size:                             40px;

@overlay-fade-in-opacity:                       1;
@overlay-fade-out-opacity:                      0.7;

@overlay-scale-in-scale:                        1.1;
@overlay-scale-out-scale:                       1;

@overlay-spin-in-scale:                         1.1;
@overlay-spin-out-scale:                        1;
@overlay-spin-in-rotate:                        3deg;
@overlay-spin-out-rotate:                       0deg;

@overlay-panel-link-color:                      inherit;
@overlay-panel-link-text-decoration:            underline;

//
// New 3.0
//

@overlay-panel-background:                      @global-background;
@overlay-panel-background-fade:                 fade(@global-background, 60%);
@overlay-panel-primary-background:              @global-primary-background;
@overlay-panel-primary-background-fade:         fade(@global-primary-background, 60%);
@overlay-panel-secondary-background:            @global-secondary-background;
@overlay-panel-secondary-background-fade:       fade(@global-secondary-background, 60%);



/* ========================================================================
   Component: Overlay
 ========================================================================== */

/*
 * 1. Container width fits its content
 * 2. Create position context
 * 3. Set max-width for responsive images to prevent `inline-block` consequences
 * 4. Remove the gap between the container and its child element
 * 5. Needed for transitions and to fixed wrong scaling calculation for images in Chrome
 * 6. Fixed `overflow: hidden` to be ignored with border-radius and CSS transforms in Webkit
 * 7. Reset margin
 */

.uk-overlay {
    /* 1 */
    display: inline-block;
    /* 2 */
    position: relative;
    /* 3 */
    max-width: 100%;
    /* 4 */
    vertical-align: middle;
    /* 5 */
    overflow: hidden;
    /* 6 */
    -webkit-transform: translateZ(0);
    /* 7 */
    margin: 0;
}

/* 6 for Safari */
.uk-overlay.uk-border-circle { -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

/*
 * Remove margin from content
 */

.uk-overlay > :first-child { margin-bottom: 0; }


/* Sub-object `uk-overlay-panel`
 ========================================================================== */

/*
 * 1. Style
 */

.uk-overlay-panel {
    /* 1 */
    .hook-overlay-panel;
}

/*
 * Remove margin from the last-child
 */

.uk-overlay-panel > :last-child,
.uk-overlay-panel > * > :last-child { margin-bottom: 0; }


/* Sub-object `uk-overlay-hover` and `uk-overlay-active`
 ========================================================================== */

.uk-overlay-hover:not(:hover):not(.uk-hover) .uk-overlay-panel:not(.uk-ignore) { opacity: 0; }

.uk-overlay-active :not(.uk-active) > .uk-overlay-panel:not(.uk-ignore) { opacity: 0; }


/* Modifier `uk-overlay-background`
 ========================================================================== */

/*
 * 1. Position cover
 */

.uk-overlay-background-cover {
    /* 1 */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 }

.uk-overlay-background,
.uk-overlay-background .uk-overlay-background-cover {
    background: @overlay-panel-background;
    .hook-overlay-background;
}

.uk-overlay-background-fade,
.uk-overlay-background-fade .uk-overlay-background-cover  {
    background: @overlay-panel-background-fade;
    .hook-overlay-background-fade;
}

.uk-overlay-primary-background,
.uk-overlay-primary-background .uk-overlay-background-cover {
    background: @overlay-panel-primary-background;
    .hook-overlay-primary-background;
}

.uk-overlay-primary-background-fade,
.uk-overlay-primary-background-fade .uk-overlay-background-cover {
    background: @overlay-panel-primary-background-fade;
    .hook-overlay-primary-background-fade;
}

.uk-overlay-secondary-background,
.uk-overlay-secondary-background .uk-overlay-background-cover {
    background: @overlay-panel-secondary-background;
    .hook-overlay-secondary-background;
}

.uk-overlay-secondary-background-fade,
.uk-overlay-secondary-background-fade .uk-overlay-background-cover {
    background: @overlay-panel-secondary-background-fade;
    .hook-overlay-secondary-background-fade;
}


/* Modifier `uk-overlay-image`
 ========================================================================== */

/*
 * Reset panel
 */

.uk-overlay-image {
    padding: 0;
    .hook-overlay-image;
}


/* Sub-object `uk-overlay-icon`
 ========================================================================== */

.uk-overlay-icon::before {
    display: block;
    content: "";
    width: @overlay-icon-size;
    height: @overlay-icon-size;
    .svg-fill("../../images/accordion-close.svg", "#000", @overlay-icon-color);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .hook-overlay-icon;
}


/* Transitions
 ========================================================================== */

// .uk-overlay-fade:hover { &:extend(.uk-animation-fade all); }
//
// .uk-overlay-slide-top:hover { &:extend(.uk-animation-slide-top-small all); }
// .uk-overlay-slide-bottom:hover { &:extend(.uk-animation-slide-bottom-small all); }
// .uk-overlay-slide-left:hover { &:extend(.uk-animation-slide-left-small all); }
// .uk-overlay-slide-right:hover { &:extend(.uk-animation-slide-right-small all); }

.uk-overlay-fade,
.uk-overlay-scale,
.uk-overlay-spin,
.uk-overlay-grayscale,
.uk-overlay-blur,
[class*='uk-overlay-slide'] {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: opacity, transform, filter;
}

.uk-overlay-active .uk-overlay-fade,
.uk-overlay-active .uk-overlay-scale,
.uk-overlay-active .uk-overlay-spin,
.uk-overlay-active [class*='uk-overlay-slide'] { transition-duration: 0.8s; }

/*
 * Fade
 */

.uk-overlay-fade { opacity: @overlay-fade-out-opacity; }

.uk-overlay-hover:hover .uk-overlay-fade,
.uk-overlay-hover.uk-hover .uk-overlay-fade,
.uk-overlay-active .uk-active > .uk-overlay-fade { opacity: @overlay-fade-in-opacity; }

/*
 * Scale
 */

.uk-overlay-scale {
    -webkit-transform: scale(@overlay-scale-out-scale);
    transform: scale(@overlay-scale-out-scale);
}

.uk-overlay-hover:hover .uk-overlay-scale,
.uk-overlay-hover.uk-hover .uk-overlay-scale,
.uk-overlay-active .uk-active > .uk-overlay-scale {
    -webkit-transform: scale(@overlay-scale-in-scale);
    transform: scale(@overlay-scale-in-scale);
}

/*
 * Spin
 */

.uk-overlay-spin {
    -webkit-transform: scale(@overlay-spin-out-scale) rotate(@overlay-spin-out-rotate);
    transform: scale(@overlay-spin-out-scale) rotate(@overlay-spin-out-rotate);
}

.uk-overlay-hover:hover .uk-overlay-spin,
.uk-overlay-hover.uk-hover .uk-overlay-spin,
.uk-overlay-active .uk-active > .uk-overlay-spin {
    -webkit-transform: scale(@overlay-spin-in-scale) rotate(@overlay-spin-in-rotate);
    transform: scale(@overlay-spin-in-scale) rotate(@overlay-spin-in-rotate);
}

/*
 * Grayscale
 */

.uk-overlay-grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.uk-overlay-hover:hover .uk-overlay-grayscale,
.uk-overlay-hover.uk-hover .uk-overlay-grayscale,
.uk-overlay-active .uk-active > .uk-overlay-grayscale {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/*
 * Slide
 */

[class*='uk-overlay-slide'] { opacity: 0; }

/* Top */
.uk-overlay-slide-top {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* Bottom */
.uk-overlay-slide-bottom {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

/* Left */
.uk-overlay-slide-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

/* Right */
.uk-overlay-slide-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

/* Hover */
.uk-overlay-hover:hover [class*='uk-overlay-slide'],
.uk-overlay-hover.uk-hover [class*='uk-overlay-slide'],
.uk-overlay-active .uk-active > [class*='uk-overlay-slide'] {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
}


// Hooks
// ========================================================================

.hook-overlay-misc;

.hook-overlay-panel() {}
.hook-overlay-background() {}
.hook-overlay-background-fade() {}
.hook-overlay-primary-background() {}
.hook-overlay-primary-background-fade() {}
.hook-overlay-secondary-background() {}
.hook-overlay-secondary-background-fade() {}
.hook-overlay-image() {}
.hook-overlay-icon() {}
.hook-overlay-misc() {}
