// Name:            Search
// Description:     Component to create the search
//
// Component:       `uk-search`
//
// Sub-objects:     `uk-search-toggle`
//                  `uk-search-overlay`
//
// Modifier:        `uk-search-default`
//                  `uk-search-primary`
//
// ========================================================================


// Variables
// ========================================================================

@search-default-width:                          180px;
@search-default-height:                         @global-control-height;
@search-default-padding-horizontal:             6px;
@search-default-padding-vertical:               4px;
@search-default-border:                         @global-border;
@search-default-border-width:                   @global-border-width;
@search-default-background:                     @global-background;
@search-default-color:                          @global-color;

@search-default-icon-width:                     26px;
@search-default-icon-color:                     @global-muted-color;

@search-default-placeholder-color:              @global-muted-color;

@search-primary-width:                          100%;
@search-primary-height:                         40px;
@search-primary-border:                         @global-border;
@search-primary-border-width:                   0;
@search-primary-background:                     transparent;
@search-primary-color:                          @global-color;
@search-primary-font-size:                      @global-medium-font-size;

@search-primary-placeholder-color:              @global-muted-color;

@search-toggle-color:                           fadeout(@global-color, 40%);
@search-toggle-hover-color:                     fadeout(@global-color, 20%);
@search-toggle-active-color:                    fadeout(@global-color, 10%);


/* ========================================================================
   Component: Search
 ========================================================================== */

/*
 * Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X.
 */

.uk-search::-webkit-search-cancel-button,
.uk-search::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Removes placeholder transparency in Firefox.
 */

.uk-search::-moz-placeholder { opacity: 1; }

/*
 * 1. Define consistent box sizing.
 * 2. Address margins set differently in Firefox/IE and Chrome/Safari/Opera.
 * 3. Remove `border-radius` in iOS.
 * 4. Change font properties to `inherit` in all browsers
 * 5. Show the overflow in Edge.
 * 6. Remove default style in iOS.
 * 7. Vertical alignment
 */

.uk-search {
    /* 1 */
    box-sizing: border-box;
    /* 2 */
    margin: 0;
    /* 3 */
    border-radius: 0;
    /* 4 */
    font: inherit;
    /* 5 */
    overflow: visible;
    /* 6 */
    -webkit-appearance: none;
    /* 7 */
    vertical-align: middle;
}


/* Style modifiers
 ========================================================================== */

/*
 * Default
 */

.uk-search-default {
    width: @search-default-width;
    height: @search-default-height;
    padding: @search-default-padding-vertical @search-default-padding-horizontal @search-default-padding-vertical (@search-default-icon-width + @search-default-padding-horizontal);
    border: @search-default-border-width solid @search-default-border;
    background-color: @search-default-background;
    .svg-fill("../../images/search-default.svg", "#000", @search-default-icon-color);
    background-repeat: no-repeat;
    background-position: @search-default-padding-horizontal 50%;
    color: @search-default-color;
    .hook-search-default;
}


/* Placeholder */
.uk-search-default:-ms-input-placeholder { color: @search-default-placeholder-color !important; }
.uk-search-default::-moz-placeholder { color: @search-default-placeholder-color; }
.uk-search-default::-webkit-input-placeholder { color: @search-default-placeholder-color; }

/* Focus */
.uk-search-default:focus {
    outline: 0;
    .hook-search-default-focus;
}

/*
 * Primary
 */

.uk-search-primary {
    width: @search-primary-width;
    height: @search-primary-height;
    border: @search-primary-border-width solid @search-primary-border;
    background: @search-primary-background;
    color: @search-primary-color;
    font-size: @search-primary-font-size;
    .hook-search-primary;
}


/* Placeholder */
.uk-search-primary:-ms-input-placeholder { color: @search-primary-placeholder-color !important; }
.uk-search-primary::-moz-placeholder { color: @search-primary-placeholder-color; }
.uk-search-primary::-webkit-input-placeholder { color: @search-primary-placeholder-color; }

/* Focus */
.uk-search-primary:focus {
    outline: 0;
    .hook-search-primary-focus;
}


/* Toggle
 ========================================================================== */

/*
 * Extend `uk-icon`
 */

.uk-search-toggle:extend(.uk-icon all) {
    background-color: red;
    color: @search-toggle-color;
    .hook-search-toggle;
}

/* Hover + Focus */
.uk-search-toggle:hover,
.uk-search-toggle:focus {
    color: @search-toggle-hover-color;
    outline: none;
    .hook-search-toggle-hover;
}

/* OnClick */
.uk-search-toggle:active {
    color: @search-toggle-active-color;
    .hook-search-toggle-active;
}


/* Overlay
 ========================================================================== */

.uk-search-overlay {
    padding: 5px 20px;
    background: blue;
}


// Hooks
// ========================================================================

.hook-search-misc;

.hook-search-default() {}
.hook-search-default-focus() {}

.hook-search-primary() {}
.hook-search-primary-focus() {}

.hook-search-toggle() {}
.hook-search-toggle-hover() {}
.hook-search-toggle-active() {}

.hook-search-misc() {}


// Dye
// ========================================================================

.dye-vars-default() {

    @search-default-border:                         @dye-color;
    @search-default-background:                     @dye-color;
    @search-default-color:                          @dye-inverse-color;
    @search-default-placeholder-color:              fade(@dye-inverse-color, 70%);

    @search-toggle-color:                           fadeout(@dye-color, 40%);
    @search-toggle-hover-color:                     fadeout(@dye-color, 20%);
    @search-toggle-active-color:                    fadeout(@dye-color, 10%);

}

.dye() {

    .dye-vars();
    .dye-hooks();

    .uk-search-default {
        color: @search-default-color;
        border-color: @search-default-border;
        background: @search-default-background;
        .hook-dye-search-default;
    }

    //
    // Placeholder
    //

    .uk-search-default:-ms-input-placeholder { color: @search-default-placeholder-color !important; }
    .uk-search-default::-moz-placeholder { color: @search-default-placeholder-color; }
    .uk-search-default::-webkit-input-placeholder { color: @search-default-placeholder-color; }

    //
    // Toggle
    //

    .uk-search-toggle {
        color: @search-toggle-color;
        .hook-dye-search-toggle;
    }

    .uk-search-toggle:hover,
    .uk-search-toggle:focus {
        color: @search-toggle-hover-color;
        .hook-dye-search-toggle-hover;
    }

    .uk-search-toggle:active {
        color: @search-toggle-active-color;
        .hook-dye-search-toggle-active;
    }

}

.hook-dye-search-default() {}
.hook-dye-search-toggle() {}
.hook-dye-search-toggle-hover() {}
.hook-dye-search-toggle-active() {}
