// Name:            Typography
// Description:     Utilities the typography
//
// Component:       `uk-link-muted`
//                  `uk-link-reset`
//                  `uk-heading-primary`
//                  `uk-pre-scrollable`
//
// ========================================================================


// Variables
// ========================================================================

@link-muted-color:                              @global-muted-color;
@link-muted-hover-color:                        @global-color;

@heading-primary-font-size:                     @global-xxlarge-font-size;
@heading-primary-line-height:                   1.2;

@heading-primary-font-size-m:                   3.75rem; // 54px
@heading-primary-line-height-m:                 1.1;

@pre-scrollable-height:                         300px;


/* ========================================================================
   Component: Typography
 ========================================================================== */


/* Link
 ========================================================================== */

/*
 * Muted
 */

.uk-link-muted,
.uk-link-muted a {
    color: @link-muted-color;
    .hook-link-muted;
}

.uk-link-muted:hover,
.uk-link-muted a:hover {
    color: @link-muted-hover-color;
    .hook-link-muted-hover;
}

/*
 * Reset
 */

.uk-link-reset,
.uk-link-reset:hover,
.uk-link-reset:focus,
.uk-link-reset a,
.uk-link-reset a:hover,
.uk-link-reset a:focus {
    color: inherit;
    text-decoration: none;
    .hook-link-reset;
}


/* Headings
 ========================================================================== */

/*
 * Primary
 */

.uk-heading-primary {
    font-size: @heading-primary-font-size;
    line-height: @heading-primary-line-height;
    .hook-heading-primary;
}

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {

    .uk-heading-primary {
        font-size: @heading-primary-font-size-m;
        line-height: @heading-primary-line-height-m;
    }

}


/* Preformatted text
 ========================================================================== */

/*
 * Enable scrolling for preformatted text
 */

.uk-pre-scrollable {
    height: @pre-scrollable-height;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    resize: both;
}


// Hooks
// ========================================================================

.hook-typography-misc;

.hook-link-muted() {}
.hook-link-muted-hover() {}
.hook-link-reset() {}
.hook-heading-primary() {}
.hook-typography-misc() {}