//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================


// Breakpoints
// ========================================================================

@breakpoint-small:                             640px;  // Phone landscape
@breakpoint-medium:                            960px;  // Tablet Landscape
@breakpoint-large:                             1200px; // Desktop
@breakpoint-xlarge:                            1600px; // Large Screens

@breakpoint-xsmall-max:                        (@breakpoint-small - 1);
@breakpoint-small-max:                         (@breakpoint-medium - 1);
@breakpoint-medium-max:                        (@breakpoint-large - 1);
@breakpoint-large-max:                         (@breakpoint-xlarge - 1);


// Global variables
// ========================================================================

//
// Typography
//

@global-font-size:                              16px;
@global-line-height:                            1.5;     // 24px

@global-xxlarge-font-size:                      2.62rem; // 42px
@global-xlarge-font-size:                       1.75rem; // 28px
@global-large-font-size:                        1.37rem; // 22px
@global-medium-font-size:                       1.12rem; // 18px
@global-small-font-size:                        0.87rem; // 14px

//
// Colors
//

@global-color:                                  #444;
@global-muted-color:                            #999;

@global-link-color:                             #07D;
@global-link-hover-color:                       #059;


//
// Backgrounds
//

@global-background:                             #fff;

@global-muted-background:                       #f9f9f9;
@global-primary-background:                     #00a8e6;
@global-secondary-background:                   #222;

@global-success-background:                     #8cc14c;
@global-warning-background:                     #faa732;
@global-danger-background:                      #da314b;

//
// Borders
//

@global-border:                                 #e5e5e5;


//
// Spacings
//

// Used in margin, section, list
@global-margin:                                 20px;
@global-small-margin:                           10px;
@global-medium-margin:                          40px;
@global-large-margin:                           70px;
@global-xlarge-margin:                          140px;

// Used in grid, column, container, align, card, padding
@global-gutter:                                 30px;
@global-small-gutter:                           10px;
@global-medium-gutter:                          40px;
@global-large-gutter:                           70px;

//
// Controls
//

@global-height:                                 40px;
@global-mini-height:                            25px;
@global-small-height:                           30px;
@global-large-height:                           55px;

//
// Z-index
//

@global-z-index:                                1000;


// Internal
// ==========================================================================

@global-image-path:                             '../src/images';