//
// Component: Off-canvas
//
// ========================================================================


// Variables
// ========================================================================

@offcanvas-z-index:                             (@global-z-index + 10);

@offcanvas-panel-title-color:                   @offcanvas-panel-link-color;

@offcanvas-search-background:                   darken(@offcanvas-bar-background, 10%);
@offcanvas-search-color:                        @offcanvas-panel-link-color;
@offcanvas-search-placeholder-color:            @offcanvas-panel-color;
@offcanvas-search-icon-color:                   @offcanvas-panel-color;


// Component
// ========================================================================

.hook-offcanvas() {}


// Sub-object `uk-offcanvas-bar`
// ========================================================================

.hook-offcanvas-bar() {}


// Panel in offcanvas
// ========================================================================

.hook-offcanvas-panel() {}


// Search in offcanvas
// ========================================================================

.hook-offcanvas-search-field() {}


// Miscellaneous
// ========================================================================

.hook-offcanvas-misc() {}