//
// Component: Utility
//
// ========================================================================


// Variables
// ========================================================================

@utility-container-padding-horizontal:          @global-grid-gutter;
@utility-container-large-padding-horizontal:    @global-grid-gutter-large;

@utility-align-horizontal:                      @global-margin;
@utility-align-vertical:                        @global-margin;

@utility-margin:                                @global-margin;

@utility-heading-large-font-size:               round(@global-font-size * 3.71); // 52px
@utility-heading-large-line-height:             round(@utility-heading-large-font-size * 1.23); // 64px

@utility-link-muted-color:                      @global-color;
@utility-link-muted-hover-color:                @global-color;

@utility-scrollable-box-border:                 @global-border;


// Container
// ========================================================================

.hook-container() {}


// Scrollable
// ========================================================================

.hook-scrollable-box() {}


// Miscellaneous
// ========================================================================

.hook-utility-misc() {}