//
// Component: Breadcrumb
//
// ========================================================================


// Variables
// ========================================================================

@breadcrumb-disabled-color:                     @global-muted-color;
@breadcrumb-divider-color:                      @global-muted-color;
@breadcrumb-divider:                            '›';


// Component
// ========================================================================

.hook-breadcrumb() {}


// Items
// ========================================================================

.hook-breadcrumb-divider() {
  color:                                         @breadcrumb-divider-color;
}


// Miscellaneous
// ========================================================================

.hook-breadcrumb-misc() {}
