//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

@global-font-path:                              "/fonts";

//
// Text
//

@global-color:                                  #182433;
@global-muted-color:                            #777;

@global-link-color:                             #07D;
@global-link-hover-color:                       #059;

@global-contrast-color:                         #fff;

@global-font-size:                              14px;
@global-line-height:                            20px;

@global-font-family-sans-serif:                 "Source Sans", "Helvetica", "Helvetica Neue", sans-serif;
// @global-font-family-serif:                      "Source Sans", "Helvetica", "Helvetica Neue", sans-serif;
@global-font-family-mono:                       "Source Code", "Monaco", monospace;

//
// Backgrounds & Borders
//

@global-background:                             #f9f9f9;
@global-border:                                 #ddd;

@global-primary-background:                     #00a8e6;
@global-success-background:                     #269d27;
@global-warning-background:                     #faa732;
@global-danger-background:                      #da314b;
@global-muted-background:                       darken(@global-background, 5%);
@global-muted-background-2:                     darken(@global-background, 10%);
@global-muted-background-3:                     darken(@global-background, 15%);

@global-border-radius:                          3px;

//
// Spacings
//

@global-margin:                                 15px;
@global-margin-large:                           25px;
@global-grid-gutter:                            25px;
@global-grid-gutter-large:                      35px;
@global-grid-gutter-xlarge:                     50px;

//
// Controls
//

@global-height:                                 30px;
@global-height-mini:                            20px;
@global-height-small:                           25px;
@global-height-large:                           35px;

//
// Z-index
//

@global-z-index:                                1000;
