/*
 * Badge component
 *
 ========================================================================== */


/* Component
 ========================================================================== */

.hook-badge() {
	border: 1px solid @theme_badge-border;
	border-radius: 2px;
	text-shadow: 0 1px 0 @theme_badge-text-shadow;
}