/*
 * Dropdown component
 *
 ========================================================================== */


/* Component
 ========================================================================== */

.hook-dropdown() {
	border: 1px solid @theme_dropdown-border;
	border-radius: @theme_global-border-radius;
}


/* Modifier: `uk-dropdown-navbar`
 ========================================================================== */

.hook-dropdown-navbar() {
	left: -1px;
	border: 1px solid @theme_dropdown-border;
	border-radius: @theme_global-border-radius;
}

.uk-dropdown-navbar.uk-dropdown-flip { left: auto; }


/* Modifier: `uk-dropdown-search`
 ========================================================================== */

.hook-dropdown-search() {}