//
// Component: Form
//
// ========================================================================


// Variables
// ========================================================================

@form-height:                                   @global-height;
@form-border:                                   @global-border;
@form-background:                               @global-background;
@form-color:                                    @global-color;

@form-focus-color:                              @global-color;

@form-disabled-border:                          @global-border;
@form-disabled-background:                      #fafafa;
@form-disabled-color:                           @global-muted-color;

@form-placeholder-color:                        @global-muted-color;

@form-gutter:                                   @global-margin;

@form-legend-border:                            @global-border;
@form-legend-font-size:                         round(@global-font-size * 1.28); // 18px
@form-legend-line-height:                       round(@form-legend-font-size * 1.66); // 30px

@form-small-height:                             @global-height-small;
@form-large-height:                             @global-height-large;
@form-small-font-size:                          round(@global-font-size * 0.85); // 12px
@form-large-font-size:                          round(@global-font-size * 1.14); // 16px

@form-blank-border:                             @global-border;

@form-icon-width:                               @global-height;
@form-icon-font-size:                           @global-font-size;
@form-icon-color:                               @global-muted-color;


// Component
// ========================================================================

.hook-form() { border-radius: @global-border-radius; }

// Focus state
.hook-form-focus() {}

// Disabled state
.hook-form-disabled() {}

// Legend
.hook-form-legend() {}


// Validation states
// ========================================================================

//
// Error state
//

.hook-form-danger() {}

//
// Success state
//
 
.hook-form-success() {}


// Style modifiers
// ========================================================================

.hook-form-blank() {}
.hook-form-blank-focus() {}


// Miscellaneous
// ========================================================================

.hook-form-misc() {}