//
// Component: Text
//
// ========================================================================


// Variables
// ========================================================================

@text-small-font-size:                          round(@global-font-size * 0.78); // 11px
@text-small-line-height:                        round(@text-small-font-size * 1.45); // 16px
@text-large-font-size:                          round(@global-font-size * 1.28); // 18px
@text-large-line-height:                        round(@text-large-font-size * 1.33); // 24px

@text-muted-color:                              @global-muted-color;


// Miscellaneous
// ========================================================================

.hook-text-misc() {}