//
// Component: Base
//
// ========================================================================


// Variables
// ========================================================================

@base-blockquote-padding-left:                  15px;
@base-blockquote-border:                        @global-border;
@base-blockquote-border-width:                  5px;


// Body
// ========================================================================

.hook-base-body() {}


// Links
// ========================================================================

.hook-base-link() {}

.hook-base-link-hover() {}


// Text-level semantics
// ========================================================================

.hook-base-code() {}


// Headings
// ========================================================================

.hook-base-h() {}

.hook-base-h1() {}

.hook-base-h2() {}

.hook-base-h3() {}

.hook-base-h4() {}

.hook-base-h5() {}

.hook-base-h6() {}


// Horizontal rules
// ========================================================================

.hook-base-hr() {}


// Blockquotes
// ========================================================================

.hook-base-blockquote() {
    padding-left: @base-blockquote-padding-left;
    border-left: @base-blockquote-border-width solid @base-blockquote-border;
}


// Preformatted text
// ========================================================================

.hook-base-pre() {}


// Miscellaneous
// ========================================================================

.hook-base-misc() {}