/*
 * Name:			Animation
 * Description:		Provides a useful set of keyframe animations
 *
 * Component:		`uk-animation-*`
 *
 * Modifiers:		`uk-animation-fade`
 *					`uk-animation-scale-up`
 *					`uk-animation-scale-down`
 *					`uk-animation-slide-top`
 *					`uk-animation-slide-bottom`
 *					`uk-animation-slide-left`
 *					`uk-animation-slide-right`
 *					`uk-animation-reverse`
 *
 * Uses:			Scrollspy
 *
 * Used by:			Dropdown
 *					Icon
 *					Search
 *
 ========================================================================== */

/* Component
 ========================================================================== */

[class*="uk-animation-"] {
	#animation > .animation-duration(0.5s);
	#animation > .animation-timing-function(ease-out);
	#animation > .animation-fill-mode(both);
}

/* Hide animated element if scrollspy is used */
[data-uk-scrollspy*="uk-animation-"] {
	&:extend(.opacity-0);
}

/*
 * Fade
 */

.uk-animation-fade {
	#animation > .animation-name(uk-fade);
	#animation > .animation-duration(0.8s);
	#animation > .animation-timing-function(linear);
}

/*
 * Scale
 */

.uk-animation-scale-up {
	#animation > .animation-name(uk-scale-up);
}

.uk-animation-scale-down {
	#animation > .animation-name(uk-scale-down);
}

/*
 * Slide
 */

.uk-animation-slide-top {
	#animation > .animation-name(uk-slide-top);
}

.uk-animation-slide-bottom {
	#animation > .animation-name(uk-slide-bottom);
}

.uk-animation-slide-left {
	#animation > .animation-name(uk-slide-left);
}

.uk-animation-slide-right {
	#animation > .animation-name(uk-slide-right);
}

/*
 * Shake
 */

.uk-animation-shake {
	#animation > .animation-name(uk-shake);
}

/* Modifiers
 ========================================================================== */

.uk-animation-reverse {
	#animation > .animation-direction(reverse);
}

/* Keyframes
 ========================================================================== */

/*
 * Fade
 */
.from(uk-fade, opacity) {
	.opacity(0);
}

.to(uk-fade, opacity) {
	.opacity(100);
}

#animation > .animation-keyframes(uk-fade, opacity, opacity);

/*
 * Scale up
 */

.from(uk-scale-up, scale) {
	#transform > .scale(0.2);
}

.to(uk-scale-up, scale) {
	#transform > .scale(1);
}

#animation > .animation-keyframes(uk-scale-up, scale, scale);
/*
 * Scale down --got here in adding browser prefixes
 */

.from(uk-scale-down, scale) {
	#transform > .scale(1.8);
	.opacity(0);
}

.to(uk-scale-down, scale) {
	#transform > .scale(1);
	.opacity(100);
}

#animation > .animation-keyframes(uk-scale-down, scale, scale);
/*
 * Slide top
 */

.from(uk-slide-top, translate) {
	.opacity(0);
	#transform > .translate(0, -100%);
}

.to(uk-slide-top, translate) {
	.opacity(100);
	#transform > .translate(0, 0);
}

#animation > .animation-keyframes(uk-slide-top, translate, translate);

/*
 * Slide bottom
 */

.from(uk-slide-bottom, transform) {
	.opacity(0);
	#transform > .translate(0, 100%);
}

.to(uk-slide-bottom, transform) {
	.opacity(100);
	#transform > .translate(0, 0);
}

#animation > .animation-keyframes(uk-slide-bottom, transform, transform);

/*
 * Slide left
 */

.from(uk-slide-left, transform) {
	.opacity(0);
	#transform > .translate(100%, 0);
}

.to(uk-slide-left, transform) {
	.opacity(100);
	#transform > .translate(0, 0);
}

#animation > .animation-keyframes(uk-slide-left, transform, transform);

/*
 * Slide right
 */

.from(uk-slide-right, transform) {
	.opacity(0);
	#transform > .translate(100%, 0);
}

.to(uk-slide-right, transform) {
	.opacity(100);
	#transform > .translate(0, 0);
}

#animation > .animation-keyframes(uk-slide-right, transform, transform);

/*
 * Shake
 */

@-webkit-keyframes uk-shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes uk-shake {
	0%, 100% {
		#transform > .translate(0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		#transform > .translate(-0.8em, 0);
	}

	20%, 40%, 60%, 80% {
		#transform > .translate(0.8em, 0);
	}
}

/*
 * Slide top fixed
 */
.from(uk-slide-top-fixed, transform) {
	.opacity(0);
	#transform > .translate(0, -0.7em);
}

.to(uk-slide-top-fixed, transform) {
	.opacity(100);
	#transform > .translate(0, 0);
}

#animation > .animation-keyframes(uk-slide-top-fixed, transform, transform);

/*
 * Slide bottom fixed
 */

.from(uk-slide-bottom-fixed, transform) {
	.opacity(0);
	#transform > .translate(0, 0.7em);
}

.to(uk-slide-bottom-fixed, transform) {
	.opacity(100);
	#transform > .translate(0, 0);
}

#animation > .animation-keyframes(uk-slide-bottom-fixed, transform, transform);

/*
 * Spin
 */

.from(uk-spin, transform) {
	#transform > .rotate(0deg);
}

.to(uk-spin, transform) {
	#transform > .rotate(359deg);
}

#animation > .animation-keyframes(uk-spin, transform, transform);