/*
 * Name:			Breadcrumb
 * Description:		Defines styles for a breadcrumb navigation
 *
 * Component:		`uk-breadcrumb`
 *
 * States:		 	`uk-active`
 *
 ========================================================================== */

/* Component
 ========================================================================== */

/*
 * 1. Remove default list style
 * 2. Remove whitespace between child elements when using `inline-block`
 */

.uk-breadcrumb {
	/* 1 */
	&:extend(.padding-none);
	&:extend(.list-style-none);
	/* 2 */
	letter-spacing: -0.31em;
	.hook-breadcrumb;
	& > li {
		letter-spacing: normal;
		&:extend(.inline);
		> a {
			&:extend(.inline);
		}
		> span {
			&:extend(.inline);
		}
		&:nth-child(n+2) {
			&:before {
				content: @breadcrumb-divider;
				&:extend(.inline);
				margin: 0 @breadcrumb-divider-margin;
				vertical-align: top; /* 2 */
				.hook-breadcrumb-divider;
			}
		}
		&:not(.uk-active) > span {
			color: @breadcrumb-disabled-color; //disabled
		}
	}
}

/* Hooks
 ========================================================================== */

.hook-breadcrumb() {
}

.hook-breadcrumb-divider() {
}