/*
 * Name:			Close
 * Description:		Defines styles for a close button
 *
 * Component:		`uk-close`
 *
 * Modifiers:		`uk-close-alt`
 *
 * Uses:			Icon: FontAwesome
 *
 * Used by:			Alert
 *					Modal
 *
 ========================================================================== */

/* Component
 ========================================================================== */

/*
 * 1. Required for `button` elements and makes
 *    close button more robust against different box-sizing use
 * 2. Required for `button` elements
 */

.uk-close {
	&:extend(.border-box); /* 1 */
	&:extend(.inline);
	&:after { //font
		&:extend(.block);
		content: "\f00d";
		font-family: "FontAwesome";
	}
	&:hover, &:focus {
		/*
		 * Hover
		 * 1. Apply hover style also to focus state
		 * 2. Remove default focus style
		 */
		/* 1 */
		.opacity(0.5);
		outline: none; /* 2 */
	}
	&:hover { //for `a` elements
		color: inherit;
		&:extend(.text-decoration-none);
		cursor: pointer;
	}
	width: 20px;
	line-height: 20px;
	&:extend(.centred);
	color: inherit;
	.opacity(0.3);
	/* 2. */
	&:extend(.padding-none);
	&:extend(.bordered-none);
	.appearance(none);
	background: transparent; /* Needed for Sarari */
	.hook-close;
}

/* Modifier
 ========================================================================== */

.uk-close-alt {
	padding: 2px;
	.border-radius(100%);
	background: @close-alt-background;
	&:extend(.opacity-1);
	.hook-close-alt;
	&:hover, &:focus {
		&:extend(.opacity-1);
		&:after {
			.opacity(0.8);
		}
	}
	&:after { //icon
		&:extend(.opacity-05);
	}
}

/* Hooks
 ========================================================================== */

.hook-close() {
}

.hook-close-alt() {
}