/*
 * Name:			Description list
 * Description:		Defines styles for description lists
 *
 * Component:		`uk-description-list`
 *
 * Modifiers:		`uk-description-list-horizontal`
 *					`uk-description-list-line`
 *
 ========================================================================== */


/* Component
 ========================================================================== */


/* Modifier: `uk-description-list-horizontal`
 ========================================================================== */

/* Only tablets and desktops */
@media (min-width: @breakpoint-medium) {

	.uk-description-list-horizontal { overflow: hidden; }

	.uk-description-list-horizontal > dt {
		width: 160px;
		float: left;
		clear: both;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.uk-description-list-horizontal > dd { margin-left: 180px; }

}


/* Modifier: `uk-description-list-line`
 ========================================================================== */

.uk-description-list-line > dt { font-weight: normal; }

.uk-description-list-line > dt:nth-child(n+2) {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid @description-list-line-border;
}

.uk-description-list-line > dd { color: @description-list-line-color; }