// Name:            Icon
// Description:     Defines styles for icons
//
// Adapted from http://fortawesome.github.com/Font-Awesome (Version 4.0.3)
//
// Component:       `uk-icon-*`
//
// Sub-objects:     `uk-icon-button`
//
// Modifiers:       `uk-icon-small`
//                  `uk-icon-medium`
//                  `uk-icon-large`
//                  `uk-icon-spin`
//
// Uses:            Animation
//
// ========================================================================


// Variables
// ========================================================================

@icon-font-path:                                "../fonts";

@icon-small-font-size:                          150%;
@icon-medium-font-size:                         200%;
@icon-large-font-size:                          250%;

@icon-small-vertical-align:                     -10%;
@icon-medium-vertical-align:                    -16%;
@icon-large-vertical-align:                     -22%;

@icon-button-width:                             35px;
@icon-button-height:                            @icon-button-width;
@icon-button-border-radius:                     100%;
@icon-button-background:                        #eee;
@icon-button-font-size:                         round((@icon-button-width * 0.5));
@icon-button-color:                             #444;

@icon-button-hover-background:                  #f5f5f5;
@icon-button-hover-color:                       #444;

@icon-button-active-background:                 #ddd;
@icon-button-active-color:                      #444;


/* ========================================================================
   Component: Icon
 ========================================================================== */

@font-face {
    font-family: 'FontAwesome';
    src: url("@{icon-font-path}/fontawesome-webfont.eot");
    src: url("@{icon-font-path}/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{icon-font-path}/fontawesome-webfont.woff") format("woff"),
         url("@{icon-font-path}/fontawesome-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*
 * 1. Allow margin
 * 2. Prevent inherit font style
 * 4. Correct line-height
 * 5. Better font rendering
 */

[class*='uk-icon-'] {
    font-family: FontAwesome;
    /* 1 */
    display: inline-block;
    /* 2 */
    font-weight: normal;
    font-style: normal;
    /* 4 */
    line-height: 1;
    /* 5 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Size modifiers
 ========================================================================== */

.uk-icon-small:before { font-size: @icon-small-font-size; vertical-align: @icon-small-vertical-align; }
.uk-icon-medium:before { font-size: @icon-medium-font-size; vertical-align: @icon-medium-vertical-align; }
.uk-icon-large:before { font-size: @icon-large-font-size; vertical-align: @icon-large-vertical-align; }


/* Modifier: `uk-icon-spin`
 ========================================================================== */

.uk-icon-spin {
    display: inline-block;
    -webkit-animation: uk-rotate 2s infinite linear;
    animation: uk-rotate 2s infinite linear;
}


/* Modifier: `uk-icon-button`
 ========================================================================== */

.uk-icon-button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: @icon-button-width;
    height: @icon-button-height;
    border-radius: @icon-button-border-radius;
    background: @icon-button-background;
    line-height: @icon-button-height;
    color: @icon-button-color;
    font-size: @icon-button-font-size;
    text-align: center;
    .hook-icon-button;
}

/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */

.uk-icon-button:hover,
.uk-icon-button:focus { // 1
    background-color: @icon-button-hover-background;
    color: @icon-button-hover-color;
    text-decoration: none;
    /* 2 */
    outline: none;
    .hook-icon-button-hover;
}

/* Active */
.uk-icon-button:active {
    background-color: @icon-button-active-background;
    color: @icon-button-active-color;
    .hook-icon-button-active;
}


// Hooks
// ========================================================================

.hook-icon-misc;

.hook-icon-button() {}
.hook-icon-button-hover() {}
.hook-icon-button-active() {}
.hook-icon-misc() {}