/*
 * Name:			List
 * Description:		Defines styles for ordered and unordered lists
 *
 * Component:		`uk-list`
 *
 * Modifiers:		`uk-list-line`
 *					`uk-list-striped`
 *					`uk-list-space`
 *
 ========================================================================== */

/* Component
 ========================================================================== */

.uk-list {
	&:extend(.padding-none);
	&:extend(.list-style-none);
	ul {
		&:extend(.margin-none);
		padding-left: @list-nested-padding-left;
		&:extend(.list-style-none);
	}
}

/* Modifier: `uk-list-line`
 ========================================================================== */

.uk-list-line > li:nth-child(n+2) {
	margin-top: @list-line-margin-top;
	padding-top: @list-line-margin-top;
	border-top: 1px solid @list-line-border;
	.hook-list-line;
}

/* Modifier: `uk-list-striped`
 ========================================================================== */

.uk-list-striped > li {
	padding: @list-striped-padding-vertical @list-striped-padding-horizontal;
	.hook-list-striped;
	&:nth-of-type(odd) {
		background: @list-striped-background;
	}
	&:nth-child(n+2) {
		margin-top: @list-space-margin-top;
	}
}


/* Hooks
 ========================================================================== */

.hook-list-line() {
}

.hook-list-striped() {
}