/*
 * Name:			Navbar
 * Description:		Defines styles for the navigation bar
 *
 * Component:		`uk-navbar`
 *
 * Sub-objects:		`uk-navbar-nav`
 *					`uk-navbar-nav-subtitle`
 *					`uk-navbar-content`
 *					`uk-navbar-brand`
 *					`uk-navbar-toggle`
 *					`uk-navbar-toggle-alt`
 *					`uk-navbar-center`
 *					`uk-navbar-flip`
 *
 * Modifiers:		`uk-navbar-attached`
 *
 * States:			`uk-active`
 *					`uk-parent`
 *					`uk-open`
 *
 * Used by:			Dropdown
 *
 ========================================================================== */

/* Component
 ========================================================================== */

.uk-navbar {
	&:extend(.clearfix);
	background: @navbar-background;
	color: @navbar-color;
	.hook-navbar;
	> li {
		&:extend(.relative); /* 1 */
		&:extend(.pull-left);
		> a {
			&:extend(.block);
			&:extend(.border-box);
			&:extend(.text-decoration-none);
			/* 1 */
			height: @navbar-nav-height;
			padding: 0 @navbar-nav-padding-horizontal;
			line-height: @navbar-nav-line-height;
			/* 2 */
			color: @navbar-nav-color;
			font-size: @navbar-nav-font-size;
			font-family: @navbar-nav-font-family;
			font-weight: @navbar-nav-font-weight;
			.hook-navbar-nav;
		}
	}
}


/* Sub-object: `uk-navbar-nav`
 ========================================================================== */

.uk-navbar-nav {
	margin: 0;
	&:extend(.padding-none);
	&:extend(.list-style-none);
	&:extend(.pull-left);
	> li > a[href='#'] {
		cursor: auto;
	}
	/*
	* Hover
	* 1. Apply hover style also to focus state
	* 2. Also apply if dropdown is opened
	* 3. Remove default focus style
	*/
	> li {
		&:hover > a,
		& > a:focus, /* 1 */
		&.uk-open > a {
			/* 2 */
			background-color: @navbar-nav-hover-background;
			color: @navbar-nav-hover-color;
			outline: none; /* 3 */
			.hook-navbar-nav-hover;
		}
		a {
			&:active {
				background-color: @navbar-nav-onclick-background;
				color: @navbar-nav-onclick-color;
				.hook-navbar-nav-onclick;
			}
		}
		&.uk-active {
			a {
				background-color: @navbar-nav-active-background;
				color: @navbar-nav-active-color;
				.hook-navbar-nav-active;
			}
		}
	}

}

/* Sub-objects: `uk-navbar-nav-subtitle`
 ========================================================================== */

.uk-navbar-nav {
	.uk-navbar-nav-subtitle {
		line-height: (@navbar-nav-line-height - @navbar-nav-subtitle-font-size - @navbar-nav-subtitle-offset);
	}
}

.uk-navbar-nav-subtitle > div {
	margin-top: ((@navbar-nav-line-height - @navbar-nav-subtitle-font-size - @navbar-nav-font-size) / -2) + @navbar-nav-subtitle-offset;
	font-size: @navbar-nav-subtitle-font-size;
	line-height: @navbar-nav-subtitle-font-size + @navbar-nav-subtitle-offset;
}

/* Sub-objects: `uk-navbar-content`, `uk-navbar-brand`, `uk-navbar-toggle`
 ========================================================================== */

/*
 * Imitate navbar items
 */

.uk-navbar-content,
.uk-navbar-brand,
.uk-navbar-toggle {
	&:extend(.border-box);
	height: @navbar-nav-height;
	padding: 0 @navbar-nav-padding-horizontal;
	&:extend(.pull-left);
	.hook-navbar-content;
}

/*
 * Helper to center all child elements vertically
 */

.uk-navbar-content:before,
.uk-navbar-brand:before,
.uk-navbar-toggle:before {
	content: "";
	&:extend(.inline);
	height: 100%;
	vertical-align: middle;
}

/* Sub-objects: `uk-navbar-content`
 ========================================================================== */

/*
 * Better sibling spacing
 */

.uk-navbar-content {
	& + .uk-navbar-content:not(.uk-navbar-center) {
		&:extend(.padding-left-none);
	}
	> a:not([class]) {
		color: @navbar-link-color;
		&:hover {
			color: @navbar-link-hover-color;
		}
	}
}

/* Sub-objects: `uk-navbar-brand`
 ========================================================================== */

.uk-navbar-brand {
	font-size: @navbar-brand-font-size;
	color: @navbar-brand-color;
	/*
	* 1. Apply hover style also to focus state
	* 2. Remove default focus style
	*/

	&:hover,
	&:focus {
		/* 1 */
		color: @navbar-brand-hover-color;
		&:extend(.text-decoration-none);
		outline: none; /* 2 */
	}
}



/* Sub-object: `uk-navbar-toggle`
 ========================================================================== */

.uk-navbar-toggle {
	font-size: @navbar-toggle-font-size;
	color: @navbar-toggle-color;
	&:hover, &:focus {
		/* 1 */
		color: @navbar-toggle-hover-color;
		&:extend(.text-decoration-none);
		outline: none; /* 2 */
	}
	&:after {
		content: @navbar-toggle-icon;
		font-family: "FontAwesome";
		vertical-align: middle; /* 1 */
	}
}

.uk-navbar-toggle-alt:after {
	content: @navbar-toggle-icon-alt;
}

/* Sub-object: `uk-navbar-center`
 ========================================================================== */

/*
 * The element with this class needs to be last child in the navbar
 * 1. This hack is needed because other float elements shift centered text
 */

.uk-navbar-center {
	max-width: 50%; /* 1 */
	margin: auto; /* 1 */
	float: none;
	&:extend(.centred);
}

/* Sub-object: `uk-navbar-flip`
 ========================================================================== */

.uk-navbar-flip {
	&:extend(.pull-right);
}

/* Hooks
 ========================================================================== */

.hook-navbar() {
}

.hook-navbar-nav() {
}

.hook-navbar-nav-hover() {
}

.hook-navbar-nav-onclick() {
}

.hook-navbar-nav-active() {
}

.hook-navbar-content() {
}