/*
 * Name:			Off-canvas
 * Description:		Defines styles for an off-canvas sidebar that slides in and out of the page
 *
 * Component:		`uk-offcanvas`
 *
 * Sub-objects:		`uk-offcanvas-page`
 *					`uk-offcanvas-bar`
 *
 * Modifiers:		`uk-offcanvas-bar-flip`
 *
 * States:		 	`uk-active`
 *
 * Uses:			Panel: `uk-panel`
 *					Search: `uk-search`, `uk-search-field`
 *
 ========================================================================== */

/* Component
 ========================================================================== */

/* Sub-object `uk-offcanvas-page`
 ========================================================================== */

/*
 * Prepares the whole HTML page to slide-out
 * 1. Fix the main page and disallow scrolling
 * 2. Side-out transition
 */

.uk-offcanvas-page {
	/* 1 */
	&:extend(.fixed);
	/* 2 */
	#transition > .transition(margin-left 0.3s ease-in-out 50ms);
}

/* Sub-object `uk-offcanvas-bar`
 ========================================================================== */

/*
 * This is the offcanvas bar
 * 1. Set fixed position
 * 2. Size and style
 * 3. Allow scrolling
 * 4. Side-out transition
 */

.uk-offcanvas-bar {
	/* 1 */
	&:extend(.fixed);
	top: 0;
	bottom: 0;
	left: 0;
	#transform > .translate(-100%, 0);
	z-index: @offcanvas-z-index + 1;
	/* 2 */
	width: @offcanvas-bar-width;
	max-width: 100%;
	background: @offcanvas-bar-background;
	/* 3 */
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	/* 4 */
	#transition > .transition(transform 0.3s ease-in-out);
	.hook-offcanvas-bar;
}

/* Modifier `uk-offcanvas-bar-flip`
 ========================================================================== */

.uk-offcanvas-bar-flip {
	left: auto;
	right: 0;
	#transform > .translate(-100%, 0);
}

/* Panel in offcanvas
 ========================================================================== */

.uk-offcanvas {
	/* 1 */
	&:extend(.hidden);
	/* 2 */
	&:extend(.fixed);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: @offcanvas-z-index;
	/* 3 */
	background: @offcanvas-background;
	.hook-offcanvas;
	&.uk-active {
		&:extend(.block);
	}
	.uk-panel {
		margin: @offcanvas-panel-margin;
		color: @offcanvas-panel-color;
		.hook-offcanvas-panel;
	}
	.uk-panel-title {
		color: @offcanvas-panel-title-color;
	}
	.uk-panel a:not([class]) {
		color: @offcanvas-panel-link-color;
		&:hover {
			color: @offcanvas-panel-link-hover-color;
		}
	}
	.uk-search {
		&:extend(.block);
		margin: @offcanvas-search-margin;
		&:before {
			color: @offcanvas-search-icon-color;
		}
	}
	.uk-search-field {
		width: 100%;
		border-color: @offcanvas-search-border;
		background: @offcanvas-search-background;
		color: @offcanvas-search-color;
		.hook-offcanvas-search-field;
		.placeholder(@offcanvas-search-placeholder-color)
	}
	&.uk-active .uk-offcanvas-bar.uk-offcanvas-bar-show {
		#transform > .translate(0, 0);
	}
}

/* Hooks
 ========================================================================== */

.hook-offcanvas() {
}

.hook-offcanvas-bar() {
}

.hook-offcanvas-panel() {
}

.hook-offcanvas-search-field() {
}