/*
 * Name:			Pagination
 * Description:		Defines styles for a navigation between pages
 *
 * Component:		`uk-pagination`
 *
 * Sub-objects:		`uk-pagination-previous`
 *					`uk-pagination-next`
 *
 * States:		 	`uk-active`
 *					`uk-disabled`
 *
 * Modifiers:		`uk-pagination-left`
 *					`uk-pagination-right`
 *
 ========================================================================== */

/* Component
 ========================================================================== */

/*
 * 1. Remove default list style
 * 2. Center pagination by default
 * 3. Remove whitespace between child elements when using `inline-block`
 */

.uk-pagination {
	/* 1 */
	&:extend(.padding-none);
	&:extend(.clearfix);
	&:extend(.list-style-none);
	/* 2 */
	&:extend(.centred);
	/* 3 */
	letter-spacing: -0.31em;
	> li {
		&:extend(.inline);
		letter-spacing: normal; /* 1 */
		&:nth-child(n+2) {
			margin-left: 5px;
		}
		> a {
			background: @pagination-background;
			color: @pagination-color;
			.hook-pagination-link;
			&:hover, &:focus {
				/* 1 */
				background-color: @pagination-hover-background;
				color: @pagination-hover-color;
				outline: none; /* 2 */
				.hook-pagination-link-hover;
			}
			&:active {
				background-color: @pagination-onclick-background;
				color: @pagination-onclick-color;
				.hook-pagination-link-active;
			}
		}
		> a, > span {
			&:extend(.border-box); /* 1 */
			&:extend(.inline);
			min-width: @pagination-line-height - 4;
			padding: 3px 5px;
			line-height: @pagination-line-height;
			&:extend(.text-decoration-none);
			&:extend(.centred); /* 2 */
			.hook-pagination-item;
		}
	}
	> .uk-active {
		> span {
			background: @pagination-active-background;
			color: @pagination-active-color;
			.hook-pagination-active;
		}
	}

	> .uk-disabled {
		> span {
			background-color: @pagination-disabled-background;
			color: @pagination-disabled-color;
			.hook-pagination-disabled;
		}
	}
}

/* Previous and next navigation
 ========================================================================== */

.uk-pagination-previous {
	&:extend(.pull-left);
}

.uk-pagination-next {
	&:extend(.pull-right);
}

/* Alignment modifiers
 ========================================================================== */

.uk-pagination-left {
	text-align: left;
}

.uk-pagination-right {
	text-align: right;
}

/* Hooks
 ========================================================================== */

.hook-pagination-item() {
}

.hook-pagination-link() {
}

.hook-pagination-link-hover() {
}

.hook-pagination-link-active() {
}

.hook-pagination-active() {
}

.hook-pagination-disabled() {
}