/*
 * Name:			Subnav
 * Description:		Defines styles for the sub navigation
 *
 * Component:		`uk-subnav`
 *
 * Modifiers: 		`uk-subnav-line`
 *					`uk-subnav-pill`
 *
 * States:		 	`uk-active`
 *
 ========================================================================== */

/* Component
 ========================================================================== */

/*
 * 1. Remove default list style
 * 2. Remove whitespace between child elements when using `inline-block`
 */

.uk-subnav {
	/* 1 */
	&:extend(.padding-none);
	&:extend(.list-style-none);
	/* 2 */
	letter-spacing: -0.31em;
	> li {
		&:extend(.relative); /* 1 */
		letter-spacing: normal; /* 2 */
		&, > a, > span {
			&:extend(.inline);
		}
		&:nth-child(n+2) {
			margin-left: @subnav-margin;
		}
		> a {
			color: @subnav-color;
			&:hover {
				color: @subnav-hover-color;
			}
		}
		> span {
			color: @subnav-disabled-color;
		}
	}
}


/* Modifier: 'subnav-line'
 ========================================================================== */

.uk-subnav-line > li:nth-child(n+2):before {
	content: "";
	&:extend(.inline);
	height: @subnav-line-border-height;
	margin-right: @subnav-margin;
	border-left: 1px solid @subnav-line-border;
	.hook-subnav-line-divider;
}

/* Modifier: 'subnav-pill'
 ========================================================================== */

.uk-subnav-pill {
	> li {
		> a, > span {
			padding: 0.185em 0.5625em;
			&:extend(.text-decoration-none);
			.hook-subnav-pill;
		}
		> a {
			&:hover, &:focus {
				/* 1 */
				background: @subnav-pill-hover-background;
				color: @subnav-pill-hover-color;
				outline: none; /* 2 */
				.hook-subnav-pill-hover;
			}
		}
		&.uk-active {
			> a {
				background: @subnav-pill-active-background;
				color: @subnav-pill-active-color;
				.hook-subnav-pill-active;
			}
		}
	}
}

/* Hooks
 ========================================================================== */

.hook-subnav-line-divider() {
}

.hook-subnav-pill() {
}

.hook-subnav-pill-hover() {
}

.hook-subnav-pill-active() {
}