/*
 * Name:			Text
 * Description:		Collection of useful text utility classes to style your content
 *
 * Component:		`uk-text-*`
 *
 ========================================================================== */


/* Size modifiers
 ========================================================================== */

.uk-text-small {
	font-size: @text-small-font-size;
	line-height: @text-small-line-height;
}

.uk-text-large {
	font-size: @text-large-font-size;
	line-height: @text-large-line-height;
}


/* Weight modifiers
 ========================================================================== */

.uk-text-bold { font-weight: bold; }


/* Color modifiers
 ========================================================================== */

.uk-text-muted { color: @text-muted-color; }
.uk-text-info { color: @text-info-color; }
.uk-text-success { color: @text-success-color; }
.uk-text-warning { color: @text-warning-color; }
.uk-text-danger { color: @text-danger-color; }


/* Alignment modifiers
 ========================================================================== */

.uk-text-left { text-align: left !important; }
.uk-text-right { text-align: right !important; }
.uk-text-center { text-align: center !important; }
.uk-text-justify { text-align: justify !important; }


/* Wrap modifiers
 ========================================================================== */

/*
 * Prevent text from wrapping onto multiple lines, and truncate with an ellipsis
 */

.uk-text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*
 * Break strings if their length exceeds the width of their container
 */

.uk-text-break {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}