/* ========================================================================
   Addon: Form icon
   ======================================================================== */
//
// Description:		Extends form component
//
// Component:		`uk-form`
//
// Sub-objects:		`uk-form-icon`
//
// ========================================================================

@import "../../../src/less/variables.less";


// Variables
// ========================================================================

@form-icon-width:								@global-height;
@form-icon-color:								@global-muted-color;


// Component
// ========================================================================

.uk-form-icon {
	position: relative;
	display: inline-block;
	max-width: 100%;
}

.uk-form-icon > [class*='uk-icon-'] {
	position: absolute;
	width: @form-icon-width;
	line-height: @form-icon-width;
	color: @form-icon-color;
	text-align: center;
}

.uk-form-icon > input { padding-left: @form-icon-width !important; }