// Name:            Background
// Description:     Utilities for colors
//
// Component:       `uk-color-*`
//
// ========================================================================


// Variables
// ========================================================================
@global-color-red;
@global-color-pink;
@global-color-purple;
@global-color-deep-purple;
@global-color-indigo;
@global-color-blue;
@global-color-light-blue;
@global-color-cyan;
@global-color-teal;
@global-color-green;
@global-color-light-green;
@global-color-lime;
@global-color-orange;
@global-color-deep-orange;
@global-color-brown;
@global-color-blue-grey;
@global-color-grey;

/* ========================================================================
   Component: Color
 ========================================================================== */
 
.uk-color-red { background-color: @global-color-red; }
.uk-color-pink { background-color: @global-color-pink; }
.uk-color-purple { background-color: @global-color-purple; }
.uk-color-deep-purple { background-color: @global-color-deep-purple; }
.uk-color-indigo { background-color: @global-color-indigo; }
.uk-color-blue { background-color: @global-color-blue; }
.uk-color-light-blue { background-color: @global-color-light-blue; }
.uk-color-cyan { background-color: @global-color-cyan; }
.uk-color-teal { background-color: @global-color-teal; }
.uk-color-green { background-color: @global-color-green; }
.uk-color-light-green { background-color: @global-color-light-green; }
.uk-color-lime { background-color: @global-color-lime; }
.uk-color-orange { background-color: @global-color-orange; }
.uk-color-deep-orange { background-color: @global-color-deep-orange; }
.uk-color-brown { background-color: @global-color-brown; }
.uk-color-blue-grey { background-color: @global-color-blue-grey; }
.uk-color-grey { background-color: @global-color-grey; }
