// Name:            Countdown
// Description:     Component to create countdown timers
//
// Component:       `uk-countdown`
//
// Sub-objects:     `uk-countdown-number`
//                  `uk-countdown-separator`
//                  `uk-countdown-label`
//
// ========================================================================


// Variables
// ========================================================================

@countdown-number-line-height:                  70px;
@countdown-number-font-size:                    5rem; // 96px

@countdown-separator-font-size:                 @global-large-font-size;


/* ========================================================================
   Component: Countdown
 ========================================================================== */

.uk-countdown {
    .hook-countdown;
}


/* Number
 ========================================================================== */

/*
 * 1. Center numbers and separators vertically
 * 2. Set style
 */

.uk-countdown-number {
    /* 1 */
    line-height: @countdown-number-line-height;
    /* 2 */
    font-size: @countdown-number-font-size;
    .hook-countdown-number;
}


/* Separator
 ========================================================================== */

/*
 * 1. Center numbers and separators vertically
 * 2. Set style
 */

.uk-countdown-separator {
    /* 1 */
    line-height: @countdown-number-line-height;
    /* 2 */
    font-size: @countdown-separator-font-size;
    .hook-countdown-separator;
}


/* Label
 ========================================================================== */

.uk-countdown-label {
    .hook-countdown-label;
}


// Hooks
// ========================================================================

.hook-countdown-misc;

.hook-countdown() {}
.hook-countdown-number() {}
.hook-countdown-separator() {}
.hook-countdown-label() {}
.hook-countdown-misc() {}


// Inverse
// ========================================================================


.hook-inverse() {

    .uk-countdown-number {
        .hook-inverse-countdown-number;
    }

    .uk-countdown-separator {
        .hook-inverse-countdown-separator;
    }

    .uk-countdown-label {
        .hook-inverse-countdown-label;
    }

}

.hook-inverse-countdown-number() {}
.hook-inverse-countdown-separator() {}
.hook-inverse-countdown-label() {}
