// Name:            Countdown
// Description:     Component to create countdown timers
//
// Component:       `uk-countdown`
//
// Sub-objects:     `uk-countdown-number`
//                  `uk-countdown-separator`
//                  `uk-countdown-label`
//
// ========================================================================


// Variables
// ========================================================================

@countdown-number-font-size:                    @global-xxlarge-font-size;
@countdown-number-line-height:                  1.2;

@countdown-separator-font-size:                 @global-large-font-size;
@countdown-separator-line-height:               1.2;

@countdown-label-font-size:                     @global-xxlarge-font-size;
@countdown-label-line-height:                   1.2;


/* ========================================================================
   Component: Countdown
 ========================================================================== */

.uk-countdown {
    .hook-countdown;
}


/* Number
 ========================================================================== */

.uk-countdown-number {
    font-size: @countdown-number-font-size;
    line-height: @countdown-number-line-height;
    .hook-countdown-number;
}


/* Separator
 ========================================================================== */

.uk-countdown-separator {
    font-size: @countdown-separator-font-size;
    line-height: @countdown-separator-line-height;
    .hook-countdown-separator;
}


/* Label
 ========================================================================== */

.uk-countdown-label {
    font-size: @countdown-label-font-size;
    line-height: @countdown-label-line-height;
    .hook-countdown-label;
}


// Hooks
// ========================================================================

.hook-countdown-misc;

.hook-countdown() {}
.hook-countdown-number() {}
.hook-countdown-separator() {}
.hook-countdown-label() {}
.hook-countdown-misc() {}


// Inverse
// ========================================================================


.hook-inverse() {

    .uk-countdown-number {
        .hook-inverse-countdown-number;
    }

    .uk-countdown-separator {
        .hook-inverse-countdown-separator;
    }

    .uk-countdown-label {
        .hook-inverse-countdown-label;
    }

}

.hook-inverse-countdown-number() {}
.hook-inverse-countdown-separator() {}
.hook-inverse-countdown-label() {}
