// Name:            Element
// Description:     Styles for elements (which are to small to be their own component)
//
// Component:       `uk-link-muted`
//                  `uk-link-reset`
//                  `uk-heading-primary`
//                  `uk-heading-divider`
//                  `uk-heading-line`
//                  `uk-divider-icon`
//                  `uk-divider-small`
//
// ========================================================================


// Variables
// ========================================================================

@link-muted-color:                              @global-muted-color;
@link-muted-hover-color:                        @global-color;

@heading-primary-font-size:                     @global-xxlarge-font-size;
@heading-primary-line-height:                   1.2;

@heading-primary-font-size-m:                   3.75rem; // 54px
@heading-primary-line-height-m:                 1.1;

@heading-divider-padding-bottom:                10px;
@heading-divider-border-width:                  @global-border-width;
@heading-divider-border:                        @global-border;

@heading-bullet-top:                            ~'calc(-0.1 * 1em)';
@heading-bullet-height:                         0.9em;
@heading-bullet-margin-right:                   10px;
@heading-bullet-border-width:                   5px;
@heading-bullet-border:                         @global-border;

@heading-line-height:                           @heading-line-border-width;
@heading-line-border-width:                     @global-border-width;
@heading-line-border:                           @global-border;
@heading-line-margin-horizontal:                1em;

@divider-margin-vertical:                       @global-margin;

@divider-icon-width:                            50px;
@divider-icon-height:                           20px;
@divider-icon-color:                            @global-border;
@divider-icon-line-top:                         50%;
@divider-icon-line-width:                       100%;
@divider-icon-line-border-width:                @global-border-width;
@divider-icon-line-border:                      @global-border;

@internal-image-divider-icon:                   "../../../images/divider-icon.svg";

@divider-small-width:                           100px;
@divider-small-border-width:                    @global-border-width;
@divider-small-border:                          @global-border;


/* ========================================================================
   Component: Element
 ========================================================================== */


/* Link
 ========================================================================== */

/*
 * Muted
 */

.uk-link-muted,
.uk-link-muted a {
    color: @link-muted-color;
    .hook-link-muted;
}

.uk-link-muted:hover,
.uk-link-muted a:hover {
    color: @link-muted-hover-color;
    .hook-link-muted-hover;
}

/*
 * Reset
 */

.uk-link-reset,
.uk-link-reset:hover,
.uk-link-reset:focus,
.uk-link-reset a,
.uk-link-reset a:hover,
.uk-link-reset a:focus {
    color: inherit;
    text-decoration: none;
    .hook-link-reset;
}


/* Headings
 ========================================================================== */

/*
 * Primary
 */

.uk-heading-primary {
    font-size: @heading-primary-font-size;
    line-height: @heading-primary-line-height;
    .hook-heading-primary;
}

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {

    .uk-heading-primary {
        font-size: @heading-primary-font-size-m;
        line-height: @heading-primary-line-height-m;
    }

}

/*
 * Divider
 */

.uk-heading-divider {
    padding-bottom: @heading-divider-padding-bottom;
    border-bottom: @heading-divider-border-width solid @heading-divider-border;
    .hook-heading-divider;
}

/*
 * Bullet
 */

.uk-heading-bullet { position: relative; }

/*
 * 1. Using `inline-block` to make it work with text alignment
 * 2. Center vertically
 * 3. Style
 */

.uk-heading-bullet::before {
    content: "";
    /* 1 */
    display: inline-block;
    /* 2 */
    position: relative;
    top: @heading-bullet-top;
    vertical-align: middle;
    /* 3 */
    height: @heading-bullet-height;
    margin-right: @heading-bullet-margin-right;
    border-left: @heading-bullet-border-width solid @heading-bullet-border;
    .hook-heading-bullet;
}

/*
 * Line
 */

/*
 * Clip the child element
 */

.uk-heading-line { overflow: hidden; }

/*
 * Extra markup is needed to make it work with text align
 */

.uk-heading-line > * {
    display: inline-block;
    position: relative;
}

/*
 * 1. Center vertically
 * 2. Make the element as large as possible. It's clipped by the container.
 * 3. Style
 */

.uk-heading-line > :before,
.uk-heading-line > :after {
    content: "";
    /* 1 */
    position: absolute;
    top: ~'calc(50% + (@{heading-line-height} / 2))';
    /* 2 */
    width: 2000px;
    /* 3 */
    border-bottom: @heading-line-border-width solid @heading-line-border;
    .hook-heading-line;
}

.uk-heading-line > :before {
    right: 100%;
    margin-right: @heading-line-margin-horizontal;
}
.uk-heading-line > :after {
    left: 100%;
    margin-left: @heading-line-margin-horizontal;
}


/* Horizontal rules
 ========================================================================== */

/*
 * 1. Reset default `hr`
 * 2. Set margin if a `div` is used for semantical reason
 */

[class*='uk-divider'] {
    /* 1 */
    border: none;
    /* 2 */
    margin-bottom: @divider-margin-vertical;
}

/* Add margin if adjacent element */
* + [class*='uk-divider'] { margin-top: @divider-margin-vertical }

/*
 * Icon
 */

.uk-divider-icon {
    position: relative;
    height: @divider-icon-height;
    .svg-fill(@internal-image-divider-icon, "#000", @divider-icon-color);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .hook-divider-icon;
}

.uk-divider-icon::before,
.uk-divider-icon::after {
    content: "";
    position: absolute;
    top: @divider-icon-line-top;
    max-width: ~'calc(50% - (@{divider-icon-width} / 2))';
    border-bottom: @divider-icon-line-border-width solid @divider-icon-line-border;
    .hook-divider-icon-line;
}

.uk-divider-icon::before {
    right: ~'calc(50% + (@{divider-icon-width} / 2))';
    width: @divider-icon-line-width;
    .hook-divider-icon-line-left;
}

.uk-divider-icon::after {
    left: ~'calc(50% + (@{divider-icon-width} / 2))';
    width: @divider-icon-line-width;
    .hook-divider-icon-line-right;
}

/*
 * Small
 * Reset child height, caused by `inline-block`
 */

.uk-divider-small { line-height: 0; }

.uk-divider-small::after {
    content: "";
    display: inline-block;
    width: @divider-small-width;
    max-width: 100%;
    border-top: @divider-small-border-width solid @divider-small-border;
    vertical-align: top;
    .hook-divider-small;
}


// Hooks
// ========================================================================

.hook-element-misc;

.hook-link-muted() {}
.hook-link-muted-hover() {}
.hook-link-reset() {}
.hook-heading-primary() {}
.hook-heading-divider() {}
.hook-heading-bullet() {}
.hook-heading-line() {}
.hook-divider-icon() {}
.hook-divider-icon-line() {}
.hook-divider-icon-line-left() {}
.hook-divider-icon-line-right() {}
.hook-divider-small() {}
.hook-element-misc() {}


// Inverse
// ========================================================================

@inverse-link-muted-color:                        @inverse-global-muted-color;
@inverse-link-muted-hover-color:                  @inverse-global-color;
@inverse-heading-divider-border:                  @inverse-global-border;
@inverse-heading-bullet-border:                   @inverse-global-border;
@inverse-divider-icon-color:                      @inverse-global-border;
@inverse-divider-icon-line-border:                @inverse-global-border;
@inverse-divider-small-border:                    @inverse-global-border;

.hook-inverse() {

    .uk-link-muted,
    .uk-link-muted a {
        color: @inverse-link-muted-color;
        .hook-inverse-link-muted;
    }

    .uk-link-muted:hover,
    .uk-link-muted a:hover {
        color: @inverse-link-muted-hover-color;
        .hook-inverse-link-muted-hover;
    }

    .uk-heading-primary {
        .hook-inverse-heading-primary;
    }

    .uk-heading-divider {
        border-bottom-color: @inverse-heading-divider-border;
        .hook-inverse-heading-divider;
    }

    .uk-heading-bullet::before {
        border-left-color: @inverse-heading-bullet-border;
        .hook-inverse-heading-bullet;
    }

    .uk-divider-icon {
        .svg-fill(@internal-image-divider-icon, "#000", @inverse-divider-icon-color);
        .hook-inverse-divider-icon;
    }

    .uk-divider-icon::before,
    .uk-divider-icon::after {
        border-bottom-color: @inverse-divider-icon-line-border;
        .hook-inverse-divider-icon-line;
    }

    .uk-divider-small::after {
        border-top-color: @inverse-divider-small-border;
        .hook-inverse-divider-small;
    }

}

.hook-inverse-link-muted() {}
.hook-inverse-link-muted-hover() {}
.hook-inverse-heading-primary() {}
.hook-inverse-heading-divider() {}
.hook-inverse-heading-bullet() {}
.hook-inverse-divider-icon() {}
.hook-inverse-divider-icon-line() {}
.hook-inverse-divider-small() {}
