// Name:            Grid2
// Description:     Component to create responsive, fluid and nestable grids
//
// Component:       `uk-grid2`
//
// ========================================================================


// Variables
// ========================================================================



/* ========================================================================
   Component: Grid
 ========================================================================== */


.uk-grid2 {
    display: grid;
    grid-template-columns: 1fr 100px 1fr 1fr;
    grid-template-rows: 25% 200px auto;

    grid-column-gap: 20px;
    grid-row-gap: 40px;



    grid-gap: 40px;
}


