/* ========================================================================
   Component: Slideshow
 ========================================================================== */

.uk-slideshow {
    position: relative;
}

/* Items
 ========================================================================== */

.uk-slideshow-items {
    position: relative;
    overflow: hidden;
}

/* Item
 ========================================================================== */

.uk-slideshow-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    user-select: none;
    overflow: hidden;
    will-change: transform;
}

.uk-slideshow-item.uk-active {
    display: block;
}
