// Name:            Switcher
// Description:     Component to navigate through different content panes
//
// Component:       `uk-switcher`
//
// States:          `uk-active`
//
// ========================================================================


/* ========================================================================
   Component: Switcher
 ========================================================================== */

/*
 * Reset list
 */

.uk-switcher {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Items
 ========================================================================== */

/*
 * 1. Hide not active items
 * 2. Do not hide the first child if the switcher is not activated
 */

/* 1 */
.uk-switcher:has(> .uk-active) > :not(.uk-active),
.uk-switcher:not(:has(> .uk-active)) > :not(:first-child) { display: none; }

/*
 * Remove margin from the last-child
 */

.uk-switcher > * > :last-child { margin-bottom: 0; }


// Hooks
// ========================================================================

.hook-switcher-misc();

.hook-switcher-misc() {}
