// Name:            Totop
// Description:     Component to create an icon to scroll back to top
//
// Component:       `uk-totop`
//
// ========================================================================


// Variables
// ========================================================================

@totop-padding:                                 5px;
@totop-color:                                   fadeout(@global-color, 40%);

@totop-hover-color:                             fadeout(@global-color, 20%);

@totop-active-color:                            fadeout(@global-color, 10%);

@internal-image-totop:                          "../../images/totop.svg";


/* ========================================================================
   Component: Totop
 ========================================================================== */

/*
 * Icon
 */

.uk-totop::before { background-image: data-uri('image/svg+xml;charset=UTF-8', @internal-image-totop); }

/*
 * Addopts `uk-icon`
 */

.uk-totop {
    padding: @totop-padding;
    color: @totop-color;
    .hook-totop;
}

/* Hover + Focus */
.uk-totop:hover,
.uk-totop:focus {
    color: @totop-hover-color;
    outline: none;
    .hook-totop-hover;
}

/* OnClick */
.uk-totop:active {
    color: @totop-active-color;
    .hook-totop-active;
}


// Hooks
// ========================================================================

.hook-totop-misc;

.hook-totop() {}
.hook-totop-hover() {}
.hook-totop-active() {}
.hook-totop-misc() {}


// Dye
// ========================================================================

.dye-vars-default() {

    @totop-color:                       fadeout(@dye-color, 40%);
    @totop-hover-color:                 fadeout(@dye-color, 20%);
    @totop-active-color:                fadeout(@dye-color, 10%);

}

.dye() {

    .dye-vars();
    .dye-hooks();

    .uk-totop {
        color: @totop-color;
        .hook-dye-totop;
    }

    .uk-totop:hover,
    .uk-totop:focus {
        color: @totop-hover-color;
        .hook-dye-totop-hover;
    }

    .uk-totop:active {
        color: @totop-active-color;
        .hook-dye-totop-active;
    }

}

.hook-dye-totop() {}
.hook-dye-totop-hover() {}
.hook-dye-totop-active() {}
