//
// Addon: Markdown area
//
// ========================================================================

@import "../../../addons/src/markdownarea/markdownarea.less";
@import "../../../src/less/variables.less";
@import "variables.less";


// Variables
// ========================================================================

@markdownarea-navbar-nav-color:                 @global-color;

@markdownarea-navbar-nav-hover-color:           @global-color;
@markdownarea-navbar-nav-onclick-color:         @global-color;
@markdownarea-navbar-nav-active-color:          @global-color;

@markdownarea-content-border:                   @global-border;
@markdownarea-content-background:               @global-background;

@markdownarea-fullscreen-z-index:               (@global-z-index + 30);