/*
 * Alert component
 *
 ========================================================================== */


/* Component
 ========================================================================== */

.hook-alert() {
	border: 1px solid @theme_alert-border;
	border-radius: @theme_global-border-radius;
	text-shadow: 0 1px 0 @theme_alert-text-shadow;
}


/* Modifier: `uk-alert-success`
 ========================================================================== */

.hook-alert-success() { border-color: @theme_alert-success-border; }


/* Modifier: `uk-alert-warning`
 ========================================================================== */

.hook-alert-warning() { border-color: @theme_alert-warning-border; }


/* Modifier: `uk-alert-danger`
 ========================================================================== */

.hook-alert-danger() { border-color: @theme_alert-danger-border; }