/*
 * Base component
 *
 ========================================================================== */


/* Body
 ========================================================================== */

.hook-base-body() {
	background-image: -webkit-radial-gradient(100% 100%, center, @theme_base-body-gradient-inner, @theme_base-body-gradient-outer);
	background-image: radial-gradient(100% 100% at center, @theme_base-body-gradient-inner, @theme_base-body-gradient-outer);
}


/* Code and preformatted text
 ========================================================================== */

.hook-base-code() {
	padding: 0 4px;
	border: 1px solid @theme_base-code-border;
	border-radius: 3px;
	background: @theme_base-code-background;
}

.hook-base-code-reset() {
	padding: 0;
	border: 0;
	background: transparent;
}

.hook-base-pre() {
	border: 1px solid @theme_base-pre-border;
	border-radius: 3px;
}