/*
 * Comment component
 *
 ========================================================================== */


/* Component
 ========================================================================== */


/* Sub-object `uk-comment-header`
 ========================================================================== */

.hook-comment-header() {
	padding: @theme_comment-padding;
	border: 1px solid @theme_comment-border;
	border-radius: @theme_global-border-radius;
	background: @theme_comment-background;
}


/* Sub-object `uk-comment-avatar`
 ========================================================================== */

.hook-comment-avatar() {}


/* Sub-object `uk-comment-title`
 ========================================================================== */

.hook-comment-title() {}


/* Sub-object `uk-comment-meta`
 ========================================================================== */

.hook-comment-meta() {}


/* Sub-object `uk-comment-body`
 ========================================================================== */

.uk-comment-body {
	padding-left: @theme_comment-padding;
	padding-right: @theme_comment-padding;
}