//
// Component: Form
//
// ========================================================================


// Variables
// ========================================================================

@form-height:                                   @global-height;
@form-small-height:                             @global-small-height;
@form-large-height:                             @global-large-height;
@form-small-font-size:                          round(@global-font-size * 0.85); // 12px
@form-large-font-size:                          round(@global-font-size * 1.14); // 16px

@form-border:                                   @global-border;
@form-background:                               @global-background;
@form-color:                                    @global-color;
@form-placeholder-color:                        @global-muted-color;
@form-focus-color:                              @global-color;
@form-disabled-border:                          @global-border;
@form-disabled-background:                      #fafafa;
@form-disabled-color:                           @global-muted-color;

@form-blank-outline:                            @global-border;

@form-legend-border:                            @global-border;
@form-legend-font-size:                         round(@global-font-size * 1.28); // 18px
@form-legend-line-height:                       round(@form-legend-font-size * 1.66); // 30px

@form-gutter:                                   @global-margin;

@form-icon-width:                               @global-height;
@form-icon-color:                               @global-muted-color;


// Component
// ========================================================================

.hook-form() { border-radius: @global-border-radius; }

.hook-form-focus() {}
.hook-form-disabled() {}
.hook-form-danger() {}
.hook-form-success() {}


// Miscellaneous
// ========================================================================

.hook-form-misc() {}