// Name:            Flex
// Description:     Defines basic styles to use flexbox for alignment
//
// Component:       `uk-flex-*`
//
//
// ========================================================================


/* ========================================================================
   Component: Flex
 ========================================================================== */

.uk-flex { display: flex; }


/* Alignment
 ========================================================================== */

/*
 * Vertical alignment
 * Default value is `stretch`
 */

.uk-flex-top { align-items: flex-start; }
.uk-flex-middle { align-items: center; }
.uk-flex-bottom { align-items: flex-end; }

/*
 * Horizontal alignment
 * Default value is `flex-start`
 */

.uk-flex-center { justify-content: center; }
.uk-flex-right { justify-content: flex-end; }