// Name:            Slideshow
// Description:     Defines styles for a slideshow
//
// Component:       `uk-slideshow`
//
// Modifiers:       `uk-slidenav-fullscreen`
//
// Sub-objects:     `uk-slidenav-slides`
//
// ========================================================================

@import "../../../src/less/variables.less";
@import "slidenav.less";


// Variables
// ========================================================================

@slideshow-image-vertical-position:        50%;
@slideshow-image-horizontal-position:      50%;


/* ========================================================================
   Addon: Slideshow
 ========================================================================== */

.uk-slideshow { display: block; }


/* Sub-object: `uk-slidenav-slides`
 ========================================================================== */

/*
 * 1. Dimension
 * 2. Remove default list style
 */

.uk-slideshow-slides {
    position: relative;
    /* 1 */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    /* 2 */
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

/*
 * 1. Stack items
 * 2. Dimension
 * 3. Image behaviour
 * 4. Hide images for reponsive behaviour
 */

.uk-slideshow-slides > li {
    /* 1 */
    position: absolute;
    /* 2 */
    top: 0;
    left: 0;
    width: 100%;
    /* 3 */
    background-position: @slideshow-image-horizontal-position @slideshow-image-vertical-position;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0;
}

/* 4 */
.uk-slideshow-slides > li > img { visibility: hidden; }

/* Active */
.uk-slideshow-slides .uk-active { opacity: 1; }


/* Modifier: `uk-slidenav-fullscreen`
 ========================================================================== */

.uk-slideshow-fullscreen .uk-slideshow-slides li { height: 100vh; }


/* Animation
 ========================================================================== */

/*
 * Fade
 */

.uk-animation-fade .uk-slide-in-next,
.uk-animation-fade .uk-slide-in-prev {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.uk-animation-fade .uk-slide-out-next,
.uk-animation-fade .uk-slide-out-prev { opacity: 0; }


/*
 * Archive me
 */

.uk-animation-archieve .uk-slide-out-next {
    -webkit-animation: scaleHalfDown 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: scaleHalfDown 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.uk-animation-archieve .uk-slide-in-next {
    z-index: 1001;
    opacity: 1;
    -webkit-animation: slideInFromBottom 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: slideInFromBottom 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.uk-animation-archieve .uk-slide-out-prev {
    -webkit-animation: slideOutToBottom 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: slideOutToBottom 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.uk-animation-archieve .uk-slide-in-prev {
    -webkit-animation: scaleHalfUp 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: scaleHalfUp 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.uk-animation-archieve li::before,
.uk-animation-archieve li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(0,0,0,0.7);
    -webkit-transition: opacity 0.7s cubic-bezier(0.7, 0, 0.3, 1);
    transition: opacity 0.7s cubic-bezier(0.7, 0, 0.3, 1);
}

.uk-animation-archieve li::after,
.uk-animation-archieve .uk-slide-out-next::before { opacity: 1; }

.uk-animation-archieve li::before,
.uk-animation-archieve li.uk-active::after,
.uk-animation-archieve .uk-slide-in-next::after,
.uk-animation-archieve .uk-slide-in-prev::after { opacity: 0; }

.uk-animation-archieve .uk-slide-in-next::after {
    -webkit-transition: none;
    transition: none;
}


/* Keyframes
 ========================================================================== */

/*
 * Slide
 */

@-webkit-keyframes slideOutToBottom {
    to {
        -webkit-transform: translateY(100%);
    }
}

@keyframes slideOutToBottom {
    to {
        transform: translateY(100%);
    }
}

@-webkit-keyframes slideInFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/*
 * Scale
 */

@-webkit-keyframes scaleHalfDown {
    to {
        -webkit-transform: scale(0.6);
        opacity: 0;
    }
}

@keyframes scaleHalfDown {
    to {
        transform: scale(0.6);
        opacity: 0;
    }
}

@-webkit-keyframes scaleHalfUp {
    from {
        opacity: 0;
        -webkit-transform: scale(0.6);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes scaleHalfUp {
    from {
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
