// Name:            Container
// Description:
//
// Component:       `uk-container`
//
// ========================================================================


// Variables
// ========================================================================

@container-max-width:                   1200px;

@container-padding-horizontal:          @global-margin-small;
@container-padding-horizontal-m:        @global-margin;
@container-padding-horizontal-l:        @global-margin-large;
@container-padding-horizontal-xl:       @global-margin-xlarge;


/* ========================================================================
   Component: Container
 ========================================================================== */

.uk-container {
    box-sizing: border-box;
    max-width: @container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 @container-padding-horizontal;
    .hook-container;
}

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {

    .uk-container { padding: 0 @container-padding-horizontal-m; }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    .uk-container { padding: 0 @container-padding-horizontal-l; }

}

/* Large screen and bigger */
@media (min-width: @breakpoint-xlarge) {

    .uk-container { padding: 0 @container-padding-horizontal-xl; }

}

/*
 * Micro clearfix
 */

.uk-container:before,
.uk-container:after {
    content: "";
    display: table;
}

.uk-container:after { clear: both; }

/*
 * Remove margin from the last-child
 */

.uk-container > :last-child { margin-bottom: 0; }


// Hooks
// ========================================================================

.hook-container-misc;

.hook-container() {}
.hook-container-misc() {}