// Name:            Utility
// Description:     Collection of useful utility classes to style your content
//
// Component:       `uk-height-1-1`
//                  `uk-height-viewport`
//                  `uk-responsive-width`
//                  `uk-responsive-height`
//                  `uk-border-circle`
//                  `uk-border-rounded`
//                  `uk-link-muted`
//                  `uk-link-reset`
//                  `uk-scrollable-text`
//                  `uk-scrollable-box`
//
// ========================================================================


// Variables
// ========================================================================

@utility-border-rounded:                        5px;

@utility-link-muted-color:                      #444;
@utility-link-muted-hover-color:                #444;

@utility-scrollable-text-height:                300px;

@utility-scrollable-box-height:                 170px;
@utility-scrollable-box-padding:                10px;
@utility-scrollable-box-border:                 #ddd;
@utility-scrollable-box-border-width:           1px;


/* ========================================================================
   Component: Utility
 ========================================================================== */


/* Height
 ========================================================================== */

[class*='uk-height'] { box-sizing: border-box; }

/*
 * Only works if parent element has a height set
 */

.uk-height-1-1 { height: 100%; }

/*
 * Useful to create image teasers
 * TODO Set Height via JS in IE11+IE10
 */

.uk-height-viewport { min-height: 100vh; }


/* Responsive objects
 * Note: Images are already responsive by default, see Base component
 ========================================================================== */

/*
 * 1. Corrects `max-width` and `max-height` behavior if padding and border are used
 */

.uk-responsive-width,
.uk-responsive-height { box-sizing: border-box; }

/*
 * Responsiveness: Sets a maximum width relative to the parent and auto scales the height
 * `important` needed to override `uk-img-preserve img`
 */

.uk-responsive-width {
    max-width: 100% !important;
    height: auto;
}

/*
 * Responsiveness: Sets a maximum height relative to the parent and auto scales the width
 * Only works if the parent element has a fixed height.
 */

.uk-responsive-height {
    max-height: 100%;
    width: auto;
}


/* Background
 ========================================================================== */

// TODO


/* Border
 ========================================================================== */

.uk-border-circle { border-radius: 50%; }
.uk-border-rounded { border-radius: @utility-border-rounded; }


/* Link
 ========================================================================== */

/*
 * Let links appear in default text color
 */

.uk-link-muted,
.uk-link-muted a { color: @utility-link-muted-color; }

.uk-link-muted:hover,
.uk-link-muted a:hover { color: @utility-link-muted-hover-color; }

/*
 * Reset link style
 */

.uk-link-reset,
.uk-link-reset:hover,
.uk-link-reset:focus,
.uk-link-reset a,
.uk-link-reset a:hover,
.uk-link-reset a:focus {
    color: inherit;
    text-decoration: none;
}


/* Scrollable
 ========================================================================== */

/*
 * Enable scrolling for preformatted text
 */

.uk-scrollable-text {
    height: @utility-scrollable-text-height;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    resize: both;
}

/*
 * Box with scrolling enabled
 */

.uk-scrollable-box {
    box-sizing: border-box;
    height: @utility-scrollable-box-height;
    padding: @utility-scrollable-box-padding;
    border: @utility-scrollable-box-border-width solid @utility-scrollable-box-border;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    resize: both;
    .hook-scrollable-box;
}

.uk-scrollable-box > :last-child { margin-bottom: 0; }


// Hooks
// ========================================================================

.hook-utility-misc;

.hook-scrollable-box() {}
.hook-utility-misc() {}
