//
// Component: Alert
//
// ========================================================================


// Variables
// ========================================================================

//
// New
//



// Component
// ========================================================================

// @mixin hook-alert(){}


// Close
// ========================================================================

@mixin hook-alert-close(){
    color: inherit;
    opacity: $alert-close-opacity;
}

@mixin hook-alert-close-hover(){
    color: inherit;
    opacity: $alert-close-hover-opacity;
}


// Style modifiers
// ========================================================================

// @mixin hook-alert-primary(){}

// @mixin hook-alert-success(){}

// @mixin hook-alert-warning(){}

// @mixin hook-alert-danger(){}


// Miscellaneous
// ========================================================================

@mixin hook-alert-misc(){

    /*
     * Content
     */

    .uk-alert h1,
    .uk-alert h2,
    .uk-alert h3,
    .uk-alert h4,
    .uk-alert h5,
    .uk-alert h6 { color: inherit; }

    .uk-alert a:not([class]) {
        color: inherit;
        text-decoration: underline;
    }

    .uk-alert a:not([class]):hover {
        color: inherit;
        text-decoration: underline;
    }

}