//
// Component: Dotnav
//
// ========================================================================


// Variables
// ========================================================================


//
// New
//




// Component
// ========================================================================

// @mixin hook-dotnav(){}

@mixin hook-dotnav-item(){
    border: $dotnav-item-border-width solid $dotnav-item-border;
    transition: 0.2s ease-in-out;
    transition-property: background-color, border-color;
}








// Miscellaneous
// ========================================================================

// @mixin hook-dotnav-misc(){}


// Inverse
// ========================================================================


// @mixin hook-inverse-dotnav(){}



