//
// Component: Iconnav
//
// ========================================================================


// Variables
// ========================================================================

//
// New
//



// Component
// ========================================================================

// @mixin hook-iconnav(){}

@mixin hook-iconnav-item(){
    font-size: $subnav-item-font-size;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
}

// @mixin hook-iconnav-item-hover(){}

// @mixin hook-iconnav-item-active(){}


// Miscellaneous
// ========================================================================

// @mixin hook-iconnav-misc(){}


// Inverse
// ========================================================================

// @mixin hook-inverse-iconnav-item(){}
// @mixin hook-inverse-iconnav-item-hover(){}
// @mixin hook-inverse-iconnav-item-active(){}