//
// Component: Lightbox
//
// ========================================================================


// Variables
// ========================================================================


// Component
// ========================================================================

// @mixin hook-lightbox(){}


// Item
// ========================================================================

// @mixin hook-lightbox-item(){}


// Toolbar
// ========================================================================

// @mixin hook-lightbox-toolbar(){}


// Toolbar Icon
// ========================================================================

// @mixin hook-lightbox-toolbar-icon(){}

// @mixin hook-lightbox-toolbar-icon-hover(){}


// Button
// ========================================================================

// @mixin hook-lightbox-button(){}

// @mixin hook-lightbox-button-hover(){}

// @mixin hook-lightbox-button-active(){}


// Miscellaneous
// ========================================================================

// @mixin hook-lightbox-misc(){}