//
// Component: Modal
//
// ========================================================================


// Variables
// ========================================================================


//
// New
//






// Component
// ========================================================================

// @mixin hook-modal(){}


// Dialog
// ========================================================================

// @mixin hook-modal-dialog(){}


// Full
// ========================================================================

// @mixin hook-modal-full(){}


// Sections
// ========================================================================



// @mixin hook-modal-body(){}




// Title
// ========================================================================

// @mixin hook-modal-title(){}


// Close
// ========================================================================

// @mixin hook-modal-close(){}

// @mixin hook-modal-close-hover(){}

// @mixin hook-modal-close-default(){}

// @mixin hook-modal-close-default-hover(){}

// @mixin hook-modal-close-outside(){}

// @mixin hook-modal-close-outside-hover(){}

@mixin hook-modal-close-full(){
    top: 0;
    right: 0;
    padding: $modal-close-full-padding;
    background: $modal-close-full-background;
}

// @mixin hook-modal-close-full-hover(){}


// Miscellaneous
// ========================================================================

@mixin hook-modal-misc(){

    /* Tablet landscape and bigger */
    @media (min-width: $breakpoint-medium) {

        .uk-modal-close-full {
            padding: $modal-close-full-padding-m;
        }

    }

}