//
// Component: Navbar
//
// ========================================================================


// Variables
// ========================================================================

$navbar-gap:                                     15px !default;

$navbar-nav-gap:                                 15px !default;

$navbar-nav-item-padding-horizontal:             0 !default;

$navbar-nav-item-font-size:                      $global-small-font-size !default;

$navbar-item-padding-horizontal:                 0 !default;

$navbar-dropdown-margin:                         15px !default;
$navbar-dropdown-padding:                        25px !default;
$navbar-dropdown-background:                     $global-background !default;

$navbar-dropdown-nav-subtitle-font-size:         12px !default;

//
// New
//

$navbar-gap-m:                                   30px !default;
$navbar-nav-gap-m:                               30px !default;

$navbar-nav-item-text-transform:                 uppercase !default;

$navbar-dropdown-nav-font-size:                  $global-small-font-size !default;

$navbar-dropdown-box-shadow:                     0 5px 12px rgba(0,0,0,0.15) !default;


// Component
// ========================================================================

// @mixin hook-navbar(){}


// Container
// ========================================================================

// @mixin hook-navbar-container(){}


// Nav
// ========================================================================



// @mixin hook-navbar-nav-item-hover(){}

// @mixin hook-navbar-nav-item-onclick(){}

// @mixin hook-navbar-nav-item-active(){}


// Item
// ========================================================================

// @mixin hook-navbar-item(){}


// Toggle
// ========================================================================

// @mixin hook-navbar-toggle(){}

// @mixin hook-navbar-toggle-hover(){}

// @mixin hook-navbar-toggle-icon(){}

// @mixin hook-navbar-toggle-icon-hover(){}


// Subtitle
// ========================================================================

// @mixin hook-navbar-subtitle(){}


// Style modifiers
// ========================================================================

// @mixin hook-navbar-primary(){}

// @mixin hook-navbar-transparent(){}

// @mixin hook-navbar-sticky(){}


// Dropdown
// ========================================================================



// @mixin hook-navbar-dropdown-large(){}



// @mixin hook-navbar-dropdown-dropbar-large(){}


// Dropdown nav
// ========================================================================



// @mixin hook-navbar-dropdown-nav-item(){}

// @mixin hook-navbar-dropdown-nav-item-hover(){}

// @mixin hook-navbar-dropdown-nav-subtitle(){}

// @mixin hook-navbar-dropdown-nav-header(){}

// @mixin hook-navbar-dropdown-nav-divider(){}


// Dropbar
// ========================================================================

// @mixin hook-navbar-dropbar(){}


// Miscellaneous
// ========================================================================




// Inverse
// ========================================================================

// @mixin hook-inverse-navbar-nav-item(){}
// @mixin hook-inverse-navbar-nav-item-hover(){}
// @mixin hook-inverse-navbar-nav-item-onclick(){}
// @mixin hook-inverse-navbar-nav-item-active(){}

// @mixin hook-inverse-navbar-item(){}

// @mixin hook-inverse-navbar-toggle(){}
// @mixin hook-inverse-navbar-toggle-hover(){}