//
// Component: Progress
//
// ========================================================================


// Variables
// ========================================================================



// Component
// ========================================================================

@mixin hook-progress(){
    border-radius: $progress-border-radius;
    overflow: hidden;
}

// @mixin hook-progress-bar(){}


// Miscellaneous
// ========================================================================

// @mixin hook-progress-misc(){}
