//
// Component: Tab
//
// ========================================================================


// Variables
// ========================================================================

//
// New
//





// Component
// ========================================================================

@mixin hook-tab(){

    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: $tab-margin-horizontal;
        right: 0;
        border-bottom: $tab-border-width solid $tab-border;
    }

}


// Items
// ========================================================================

@mixin hook-tab-item(){
    border-bottom: $tab-item-border-width solid transparent;
    font-size: $tab-item-font-size;
    text-transform: $tab-item-text-transform;
    transition: color 0.1s ease-in-out;
}

// @mixin hook-tab-item-hover(){}



// @mixin hook-tab-item-disabled(){}


// Position modifiers
// ========================================================================

@mixin hook-tab-bottom(){

    &::before {
        top: 0;
        bottom: auto;
    }

}

@mixin hook-tab-bottom-item(){
    border-top: $tab-item-border-width solid transparent;
    border-bottom: none;
}

@mixin hook-tab-left(){

    &::before {
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
        border-left: $tab-border-width solid $tab-border;
        border-bottom: none;
    }

}

@mixin hook-tab-left-item(){
    border-right: $tab-item-border-width solid transparent;
    border-bottom: none;
}

@mixin hook-tab-right(){

    &::before {
        top: 0;
        bottom: 0;
        left: 0;
        right: auto;
        border-left: $tab-border-width solid $tab-border;
        border-bottom: none;
    }

}

@mixin hook-tab-right-item(){
    border-left: $tab-item-border-width solid transparent;
    border-bottom: none;
}


// Miscellaneous
// ========================================================================

@mixin hook-tab-misc(){

    .uk-tab .uk-dropdown { margin-left: ($tab-margin-horizontal + $tab-item-padding-horizontal) }

}


// Inverse
// ========================================================================


@mixin hook-inverse-tab(){

    &::before { border-color: $inverse-tab-border; }

}

// @mixin hook-inverse-tab-item(){}
// @mixin hook-inverse-tab-item-hover(){}

// @mixin hook-inverse-tab-item-disabled(){}