//
// Component: Progress
//
// ========================================================================

@load-progress: true;
@import (once) "../../components/progress.less";


// Variables
// ========================================================================


// Component
// ========================================================================

.hook-progress() {
    border-radius: 500px;
    overflow: hidden;
}

.hook-progress-bar() {}


// Color modifiers
// ========================================================================

.hook-progress-success-bar() {}

.hook-progress-warning-bar() {}

.hook-progress-danger-bar() {}


// Miscellaneous
// ========================================================================

.hook-progress-misc() {}
