name: Publish release to npm

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  publish-main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - run: npm publish
